[2021-06-11 06:33] #1629 closed

[2021-06-11 20:16] anddrzejb opened #1630 "DatePicker - blur persisting value but not in the picker"
### Describe the bug
Coming from PR #1617, credited to @anranruye:

I added this issue, so it can be easily tracked.

[2021-06-11 20:16] anddrzejb commented on #1630
@anranruye So I started already looking at this problem. This is like the n-th time I face an issue with incorrect values being persisted. Thus I decided that before I actually start fixing this, I first will attempt to make regression tests. Because at this point it is almost impossible to cover all scenarios with manual tests. So it may take me some time to have the fix ready (currently I cannot

[2021-06-12 16:44] #1454 closed

[2021-06-13 01:50] wcoolly-cloud opened #1633 "CheckBoxGroup Can not used in FormItem"
If I use the CheckboxGroup like this
[code]
It throw the exceptions like
![image](https://user-images.githubusercontent.com/85785234/121792869-b4dde380-cc2c-11eb-8448-19adf7032146.png)

[2021-06-13 12:45] anddrzejb commented on #1633
Similar issue was with `Slelct` component. Until fixed, you can use the workaround proposed by @anranruye in #1453.

[2021-06-13 13:37] rzvdaniel opened #1634 "Modal dialogs not showing anymore"
### Describe the bug

Modal dialogs not showing anymore after a refactoring was made to Button and Search parameter was removed (commit d9fec3ce54905db8f2777b829aebb99738f7c914).

### Steps to reproduce (please include code)

1. Build latest version
2. Run **AntDesign.Docs.Server** project
3. Navigate to **Components** section
4. Navigate to **Modal** section
5. Run any of the Modal examples (clic

[2021-06-13 16:33] #1634 closed

[2021-06-15 08:13] #1560 closed

[2021-06-15 08:14] #1481 closed

[2021-06-15 08:49] datnguyen89 opened #1638 "Display index of row, get all data of row"
Dear team
I'm trying to create a Table to display data and CRUD module, so:
1. How to display index of row at the first Column
2. How to get all data of row (when click edit button I want to pass data to Modal)
Tks
![2021-06-15_15-50-47](https://user-images.githubusercontent.com/55984933/122023366-532c8f00-cd7c-11eb-9234-494b5be42aa2.png)

[2021-06-15 08:55] ElderJames commented on #1638
Thanks for contact us @datnguyen89

1. You can try to add a property for your index column, and add a Column at the first `<Column>@context.Index</Column>`.
2. You can get the data from @context, `<ActionColumn><Button OnClick="openModal(context)" /></ActionColumn>`

[2021-06-15 09:04] anranruye commented on #1638
@datnguyen89

Do you think your issue is similar with #1455 and #1476?

[2021-06-15 10:01] AsakusaRinne opened #1639 "The Icon set in the button is not aligned with the text in the button"
I used the version 0.8.1 of AntDesign Blazor.

[code]

I used the code above in a Table.

And the result is like:
![image](https://user-images.githubusercontent.com/47343601/122033497-27a0b780-ce03-11eb-887e-cae4234097f6.png)
The Icon is a little lower than the Text.

I don't know if this is a BUG. This may be solved by using icon in the button instead of setjting the attribute. However, I think t

[2021-06-15 10:05] anranruye commented on #1639
Thank you for contacting us @AsakusaRinne

See https://github.com/ant-design-blazor/ant-design-blazor/issues/1483#issuecomment-847243479

[2021-06-15 10:22] #1370 closed

[2021-06-15 10:22] #1559 closed

[2021-06-15 10:22] #1585 closed

[2021-06-15 10:22] #1619 closed

[2021-06-15 10:22] #1622 closed

[2021-06-15 18:15] juergenr opened #1640 "Crashes with with hot reload"
### Describe the bug

When using ant-design-blazor in a .Net 6 Preview 4 Wasm-project and using hot reload (which is the major reason to use .Net 6) the project crashes.

### Steps to reproduce (please include code)
1. Start a new Blazor wasm project.
2. Add ant-design-blazor
3. Add the first table example to the Index.razor page
4. start hot reload with: dotnet watch

### Exceptions (if any)
* As

[2021-06-15 19:14] anddrzejb commented on #1640
I actually currently develop with hot reload. But I needed to do my own changes to `AntDesign`. There is a pending PR #1472, but I guess there are some issues with merging it. Now, in my case, even that PR won't really work with HotRelaod. During my tests I found out that it did not work when multiple frameworks were targeted ([this issue](https://github.com/dotnet/aspnetcore/issues/32309)). In my

[2021-06-16 02:07] #1633 closed

[2021-06-16 03:07] ElderJames commented on #1639
This is because there is a conflict with the bootstrap style. Please delete the bootstrap css.

[2021-06-16 05:02] datnguyen89 commented on #1638
@anranruye I expected something build-in :(. Thanks for your solution
@ElderJames You saved my day bro. There is nothing about ActionColumn in documentation. I didn't know the existence of ActionColumn
![table](https://user-images.githubusercontent.com/55984933/122160787-647da600-ce25-11eb-96ce-ed363239e0df.png)

[2021-06-16 05:03] #1638 closed

[2021-06-16 05:49] #1626 closed

[2021-06-16 09:24] MGODY opened #1643 "Funtion Dispose() of AntComponentBase is not virtual"
### description

I want to use Dispose() in my page whitch inherits FeedbackComponent<>. but it dosen't works

### Describe the solution you'd like

make the  function  Dispose()  of AntComponentBase to be virtual

### Additional context
Add any other context or screenshots about the feature request here.

[2021-06-16 17:45] AsakusaRinne opened #1644 "The rederring is not correct when unfolding the Menu after clicking a secondary MenuItem when the Menu is folded"
I'm using the version 0.8.1 with the code below:

[code]
[code]

And when I test it, the case below happend:

![40gtq-g8ekq](https://user-images.githubusercontent.com/47343601/122263121-a7fd1080-cf08-11eb-92c8-7f0ab61af3f0.gif)

I'm not sure if this a BUG or I just make a mistake in my code. But the case still exist after my some attempts to change the code.

[2021-06-16 19:29] joaogoncalvesdev opened #1645 "Select component in 'tags' mode is duplicating tags"
### Describe the bug

The Select component in 'tags' mode is duplicating tags and producing unpredictable behavior. This seems to occur when at least two custom tags are inserted, the second one causing the first to get duplicated. Inserting additional tags does not cause any duplication, but trying to delete the duplicated tag causes the other tags to get duplicated also. This does not seem to af

[2021-06-16 19:53] joaogoncalvesdev opened #1646 "'DatePicker' component throws exception when low DateTimes are selected (close to DateTime.MinValue)"
### Describe the bug

The 'DatePicker' component is throwing an exception when selecting a DateTime that represents the DateTime.MinValue (and other low values).

### Steps to reproduce (please include code)

`<DatePicker TValue="DateTime" Value=@DateTime.MinValue />`

Simply clicking on top of the component to choose a date causes the below exception to be thrown.

### Exceptions (if any)

`Syste

[2021-06-16 20:10] joaogoncalvesdev opened #1647 "'InputNumber' component throws exception when inserting NULL values"
### Describe the bug

The 'InputNumber' component is throwing an exception when inserting a NULL value.

### Steps to reproduce (please include code)

This issue can be reproduced on the demo page for this component (https://antblazor.com/en-US/components/inputnumber), in the section 'Generic'.

1. Insert a number in any of the inputs that allow nullable values (byte?, ushort?, int?, decimal? or d

[2021-06-17 02:54] anranruye commented on #1647
duplicate of #1610

[2021-06-17 03:34] anranruye commented on #1644
@AsakusaRinne Thank you for contacting us.

Please try remove bootstrap style

[2021-06-17 05:48] anranruye commented on #1646
@joaogoncalvesdev thanks for contacting us.

I didn't reproduce this error, can you provide a repo to help us to research this issue?

[2021-06-17 08:22] joaogoncalvesdev commented on #1646
Sure, you can actually reproduce it on the component demo site (https://antblazor.com/en-US/components/datepicker). In the first section ('Examples'), if you insert the date 0001-01-01 on the component, and then save that value by causing the component to blur, you will an exception in the browser console:

`blazor.webassembly.js:1 crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAss

[2021-06-17 08:26] joaogoncalvesdev commented on #1646
![image](https://user-images.githubusercontent.com/48337240/122359821-cc2f1080-cf4d-11eb-829a-810470d05b05.png)

[2021-06-17 09:35] anranruye commented on #1646
@joaogoncalvesdev Thank you, now I understand what happened.

[2021-06-17 13:32] AsakusaRinne commented on #1644
Thank you. I removed all the bootstrap style in the mainlayout and the navmenu, but the case still existed.

I wonder if the case is caused by other reasons because I found the example in [Blazor example on gitee](https://ant-design-blazor.gitee.io/zh-CN/components/layout#components-layout-demo-side) also uses bootstrap style in layout but works well.

[2021-06-18 01:48] anranruye commented on #1647
please update to 0.8.2

[2021-06-18 10:14] godshades opened #1652 "Safari not work"
Hi, I can't loading website https://antblazor.com/ on my MacOS mojave safari

Another thing is I try to create sample fixed column: https://antblazor.com/en-US/components/table#components-table-demo-fixed-columns
it work OK on chrome but on safari it not stable
Ex: I have 30 column, fixed first 2 column, when I move to column 15, the fixed column is move too
Does anyone have same problem, or just

[2021-06-19 02:42] hongyeli620 opened #1655 "The 'Upload' component will treat the 201 (created) HTTP status code as a failure result"
### Describe the bug

The 'Upload' component will treat the 201 (created) HTTP status code as a failure result

#### Page Code:
[code]
#### C# Code:
When the HTTP status code returns **201 (created)**, the **fileinfo.File.State** property returns **Uploadstate.Fail**, which makes it impossible to get the actual return result through **fileinfo.File.Response**
[code]

To solve this problem, you can

[2021-06-19 03:37] ElderJames commented on #1655
Thanks for contacting us @hongyeli620

You're right that we have a restriction in our component that only 200 is marked as success, but I think we can support all status codes that indicate success.

https://github.com/ant-design-blazor/ant-design-blazor/blob/2ac444bb241d8a8cbd66c5775a9fc2aa1bb83059/components/core/JsInterop/interop.ts#L128

Would you be interested in helping to revise it?

[2021-06-19 12:37] newbe36524 opened #1657 "Add on hover css when Tag is clickable"
### Describe the solution you'd like
When use hover a Tag component which bind a OnClick event, it should show a hand like on that close button instead of a text cursor.
Where there is no OnClick bind, leave it text cursor.

![6VBeMlEFcK](https://user-images.githubusercontent.com/7685462/122642604-e4fe1880-d13d-11eb-8b8f-409bf6938cf4.gif)

### Additional context

 My antd version 0.8.2

[2021-06-19 15:11] joaogoncalvesdev commented on #1647
It is working now, thank you so much for the quick support!

[2021-06-19 15:11] #1647 closed

[2021-06-20 06:51] anranruye opened #1661 "Form: Use input component inside customized form control"
### Describe the bug

Input components inside customized form controls are required to have `bind-Value` attribute.

### Steps to reproduce (please include code)

Change PriceInput.razor of this demo: https://ant-design-blazor.gitee.io/zh-CN/components/form#components-form-demo-customized-form-controls
[code]
### Exceptions (if any)

[code]
### Further technical details
- AntDesign Nuget Package v

[2021-06-20 10:55] anddrzejb commented on #1646
@anranruye Are you working on this?

[2021-06-21 10:57] #1657 closed

[2021-06-22 06:56] itxiaoqiu opened #1665 "Table的Filters异步加载数据无法显示Checkbox选择"
Filters的数据如果是异步加载时，选择框显示的是
![image](https://user-images.githubusercontent.com/65268639/122877968-c8debf00-d369-11eb-8397-10091f7db424.png)
必须在页面上增加判断，当Filters不为空且有值时再创建Table则能正常生成CheckBox的筛选
![image](https://user-images.githubusercontent.com/65268639/122878154-fc214e00-d369-11eb-912a-86d1e37de8ba.png)

[2021-06-22 09:03] gberket opened #1666 "Expandable Row navigation property list"
We would like expandable rows of the Table to be created using the navigation property (GetData2) from the Data1 class.
But it throws the following exception:

[code]

The bellow code is a mock of what is the needed request.
Thanks for your help.

[code]

- AntDesign Nuget Package version: 0.8.1
- Include the output of `dotnet --info`:
[code]
- The IDE (VS / VS Code/ VS4Mac) you're running on, and

[2021-06-22 09:58] anranruye commented on #1666
@gberket Thanks for contacting us.

Currently you should use same type for all rows.

[2021-06-22 13:59] zxyao145 commented on #1643
@MGODY Hi, please try to set `ModalOptions.DestroyOnClose = true`.

[2021-06-23 12:18] JanWiedersum opened #1668 "InputNumber: Continious non-stopping counting."
### Describe the bug

![2021-06-23-14-09-17](https://user-images.githubusercontent.com/40599786/123094117-cee9a400-d42c-11eb-8dc9-771b7b57589d.gif)

The InputNumber field keeps counting and it's not possible to stop it through the up or down arrow-buttons.

### Steps to reproduce (please include code)

https://ant-design-blazor.gitee.io/en-US/components/inputnumber#components-inputnumber-demo-Gene

[2021-06-24 04:18] #1661 closed

[2021-06-24 11:11] #1572 closed

[2021-06-24 11:27] gaspropot opened #1670 "Table values do not reset on Edit cancel"
Hello,

Following your implementation I tried to create a table with editable rows. Copying your code directly from the documentation examples I noticed that upon entering Edit mode, making changes and then pressing Cancel to discard them, the table keeps the discarded values which shouldn't exist after I hit Cancel.

https://antblazor.com/en-US/components/table#components-table-demo-edit-cell

Tr

[2021-06-24 11:33] michaelhofer opened #1671 "Context Menu for Table Rows"
### Is your feature request related to a problem? Please describe.
I am trying to build a context menu for table rows. The goal behind this idea is to provide direct access to functions which are specific to this row, e.g. `edit`, `show`, `delete`, and so on.
With the context menu (https://antblazor.com/en-US/components/dropdown#components-dropdown-demo-context-menu) which is already available, th

[2021-06-24 11:43] quirynen commented on #1230
Should be part of the documentation since it can be useful to be able to unit test while using AntDesign in production.... Anyway thanks for the snippet

[2021-06-24 14:18] michaelhofer commented on #1604
@BrunoBlanes Did you manage to get that to work? We had to embed the AntBlazor components in classic Razor MVC Views too (Blazor Serverside) and this is running very well. If you still require some information, I can show you an example.

[2021-06-24 18:57] JosefRousal commented on #1234
You could store the current filter/paging state of the table, refresh the data, and the reapply the filter state over the new data.

[2021-06-25 01:56] ElderJames commented on #1234
We have `QueryModel` to store the state, but it can not be reapply for now.

[2021-06-25 02:34] ElderJames commented on #1550
I think the `ConfigProvider` is used to do this. https://ant.design/components/config-provider/

[2021-06-25 02:46] ElderJames commented on #1670
Thanks for contacting us @gaspropot

I see what you mean, you need to display the context menu on the table, which requires us to first implement the Service method of creating the context menu, rather than positioning it by element.

[2021-06-25 03:08] gmij opened #1672 "Tooltip triggers a scroll bar the first time it is displayed near the right side of the screen."
1. When you use the ToolTip component near the right side of the screen, the first time ToolTip is displayed, the screen appears with an instant scroll bar.

ps . when expand row data, trigger the row click event.

sample code.
[demo.zip](https://github.com/ant-design-blazor/ant-design-blazor/files/6713323/demo.zip)

[2021-06-25 09:04] gmij opened #1673 "formitem label property add field displayName"
Can FormItem control provide support for displayName of bind-field, just like table column's bind-field support display name

[2021-06-25 09:09] gmij opened #1674 "when expand row data, trigger the row click event."
RT, please fix.

sample code

[demo.zip](https://github.com/ant-design-blazor/ant-design-blazor/files/6714975/demo.zip)

[2021-06-26 17:10] anddrzejb commented on #1557
I was doing some work related to `DatePicker` and I ended up with figuring out what is going on here (or at least it seems to me that is the issue).
@ElderJames , @mutouzdl this is for your attention and consideration. Please discuss your thoughts.
 So, the issue is of course network latency & the way the `Overlay` is currently designed. I actually did a deep dive into how `Overlay` is built and h

[2021-06-26 20:21] true-perfect-code commented on #1574
Microsoft has some big plans with Blazor. With NET Core 6 it should be possible to create both a desktop and a web application with Blazor (according to Microsoft already possible with Preview 5).
If I understood correctly, this should also work on all other systems (Windows, Mac, iOS and Android) by using the BlazorWebView component. According to Microsoft, the main focus for .NET 6 is on desktop

[2021-06-26 22:54] BrunoBlanes commented on #1604
Oh pleeease @michaelhofer, I'm still pulling my hairs off.

[2021-06-27 01:53] #1646 closed

[2021-06-27 02:14] anranruye opened #1675 "Space: wrong margin for space items"
### Describe the bug

![动画66](https://user-images.githubusercontent.com/54608128/123530721-415dcb00-d730-11eb-8077-59ef265778e5.gif)

### Steps to reproduce (please include code)

[code]
### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version 0.8.2
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2021-06-27 03:30] anranruye opened #1676 "DatePicker: The component is not wide enough for default datetime format of some languages"
### Describe the bug

For example, the format for chinese is "yyyy年[M]M月[d]d日 HH时mm分ss秒":
![动画02](https://user-images.githubusercontent.com/54608128/123531926-13ca4f00-d73b-11eb-9f34-4ff5ad921c5c.gif)

### Steps to reproduce (please include code)

https://ant-design-blazor.gitee.io/zh-CN/components/datepicker#components-datepicker-demo-time

### Exceptions (if any)

### Further technical details
-

[2021-06-27 04:10] anranruye opened #1677 "RangePicker: not revert to valid value after input an invalid value in the first textbox"
### Describe the bug
ant design blazor behavior:
![动画05](https://user-images.githubusercontent.com/54608128/123532473-e7fd9800-d73f-11eb-892c-b544475f6150.gif)
ant design react behavior:
![动画06](https://user-images.githubusercontent.com/54608128/123532488-082d5700-d740-11eb-92ef-d6ef4260f7fd.gif)

### Steps to reproduce (please include code)

https://antblazor.com/en-US/components/datepicker#compo

[2021-06-27 04:23] anranruye opened #1678 "RangePicker: Clicking "Ok" button doesn't transfer the cursor to the second textbox"
### Describe the bug

![动画07](https://user-images.githubusercontent.com/54608128/123532713-23996180-d742-11eb-8478-225e8aff5cf5.gif)

react antD behavior:
![动画08](https://user-images.githubusercontent.com/54608128/123532727-4f1c4c00-d742-11eb-91dc-6027daaab2de.gif)

### Steps to reproduce (please include code)

https://antblazor.com/en-US/components/datepicker#components-datepicker-demo-range-pick

[2021-06-27 04:41] anranruye opened #1679 "DatePicker: Clicking "Ok" button after input a valid value doesn't change the textbox display value"
### Describe the bug

![动画01](https://user-images.githubusercontent.com/54608128/123533013-ad4a2e80-d744-11eb-978a-159510e0f124.gif)
![动画02](https://user-images.githubusercontent.com/54608128/123533017-b0451f00-d744-11eb-8edb-003251f5589a.gif)

react antD behavior:
![动画03](https://user-images.githubusercontent.com/54608128/123533050-ea162580-d744-11eb-8acf-d885f4303e64.gif)

### Steps to reproduce

[2021-06-27 04:52] anranruye opened #1680 "RangePicker: when `ShowTime` is enabled, for the second picker, the month grows by 1 when clicking any button"
### Describe the bug

![动画04](https://user-images.githubusercontent.com/54608128/123533281-8db40580-d746-11eb-99d8-78b7275599c3.gif)

and when `ShowTime` = false, there is a similar bug for the next month and next year buttons:
![动画05](https://user-images.githubusercontent.com/54608128/123533513-c6ed7500-d748-11eb-9e70-f579a23e501d.gif)

![动画06](https://user-images.githubusercontent.com/54608128/1

[2021-06-27 08:09] anddrzejb commented on #1676
I think this can be solved with just applying styles to `Style` parameter. The component width is based on react antD.

[2021-06-28 03:28] #1627 closed

[2021-06-28 03:28] #1630 closed

[2021-06-28 05:29] anranruye commented on #1676
@anddrzejb Applying styles to `Style` parameter solved this issue.

However, react antD use the same format for all languages, the default width is always enough. Should we use a larger width for `ShowTime=true`?

[2021-06-28 06:03] anddrzejb commented on #1676
I did not look into that, but as far as I know all of it is baked into the `.less` files. We probably should investigate then if we are not overwriting the settings. Because otherwise, it should look just like react antD.

[2021-06-28 06:17] anranruye commented on #1676
@anddrzejb Don't worry. Now I understand that react antD uses html size attribute to control the component width, rather than css width attribute. We can easily solve this issue by just calculating the size: `Encoding.UTF8.GetBytes(Format).Length` .

[2021-06-28 06:19] #1665 closed

[2021-06-28 06:33] #1673 closed

[2021-06-28 08:36] michaelhofer commented on #1604
@BrunoBlanes We managed to integrate blazor components in our MVC views by following these steps (step 1 and 2 is from the AntBlazor readme):

1. Register the AntBlazor services in the `Startup.cs` as follows:

[code]

2. Add the static files to `_Layout.cshtml`:
[code]

3. If you need the `AntContainer` for popups, notifications and so on, you need to add the following container at the bottom of

[2021-06-28 09:13] truemogician opened #1683 "Add XML documentation for components and their parameters"
## What problem does this feature solve?
Nearly all popular libraries have in-code documentation.
With XML documentation, developers can get to know the functionality of components and parameters quickly without having to visit the document site and look for them, which could definitely save lots of time for those who are new to Ant Design Blazor.
Besides, I found quite a few parameters undocument

[2021-06-28 09:29] anddrzejb commented on #1683
This is a duplicate of #1495. Currently this is a gradual process. We are slowly adding the xml comments as we go along. Obviously, you are welcome to help in this effort.

[2021-06-28 09:30] #1683 closed

[2021-06-28 11:10] BrunoBlanes commented on #1604
Oh yeah, I'm aware of this method... I was hoping this wasn't the only one.

[2021-06-28 13:30] BrunoBlanes commented on #1604
Let me ask you something, if I turn my Identity MVC UI pages into an API and do all the layout on the Blazor WebAssembly side, would that impose any risk to my application?
I've been afraid of not use MVC due to it being static files that run server-side versus Blazor Wasm that can be messed with on the browser, but do you think that there's a way to not use MVC and still be secure enough to log a

[2021-06-30 04:10] Zonciu opened #1688 "Checkbox: Checkbox is not vertically centred"
### Describe the bug

![image](https://user-images.githubusercontent.com/10374056/123900565-dc0e1200-d99b-11eb-9ad4-2c117fa44c3d.png)

### Further technical details
- AntDesign Nuget Package version: 0.8.2

[2021-06-30 05:31] anranruye opened #1690 "Table: Can not close filter panel after remove a filter"
### Describe the bug

Can not close filter panel by clicking outside after remove a filter and the mouse is not inside the panel due to filter panel size change. If we then move the mouse in and out the filter panel, it can be closed.

https://user-images.githubusercontent.com/54608128/123905920-d87f8880-d9a5-11eb-9713-bdb257a36fc0.mp4

### Steps to reproduce (please include code)

### Exceptions

[2021-06-30 05:34] rennner opened #1691 "the Menu Compent, when set Selectable="false", the OnMenuItemClicked and MenuItem.OnClick events can not be triggerd"
menu组件设备Selectable="false"后，无法触发OnMenuItemClicked事件和MenuItem.OnClick事件

[2021-06-30 05:41] #1675 closed

[2021-06-30 06:36] Alexandre789010 commented on #335
Hi, I use AntBlazor in production. (Internal software)
Cannot share the repo unfortunately - but here are some pictures:

![image](https://user-images.githubusercontent.com/60594505/123912511-78e2a680-d9c0-11eb-892d-b71757c4004c.png)

![image](https://user-images.githubusercontent.com/60594505/123912600-9879cf00-d9c0-11eb-9d17-1c762f97ff58.png)

![image](https://user-images.githubusercontent.com/6

[2021-06-30 07:04] #1501 closed

[2021-06-30 07:07] JiaoLongYang commented on #335
- Product：运输企业安全生产信息管理平台
- Screenshot:
![image](https://user-images.githubusercontent.com/20771689/123913297-9d368700-d9b0-11eb-88fa-12abff6fb8b4.png)
![image](https://user-images.githubusercontent.com/20771689/123913484-da027e00-d9b0-11eb-8073-b0f841b7f229.png)
![image](https://user-images.githubusercontent.com/20771689/123914092-99efcb00-d9b1-11eb-8d90-ec02fb2f5a49.png)
![image](https://user-ima

[2021-06-30 07:13] BeiYinZhiNian commented on #335
- Product：Caviar   (It's still under development)
- Link: https://gitee.com/Cherryblossoms/caviar
           https://github.com/BeiYinZhiNian/Caviar
- Screenshot:
![image](https://user-images.githubusercontent.com/25119211/123916583-66627000-d9b4-11eb-97f8-0f10c41be10a.png)
![image](https://user-images.githubusercontent.com/25119211/123916970-d7098c80-d9b4-11eb-96e9-e34cb05a8080.png)
![image](http

[2021-06-30 07:18] #335 closed

[2021-06-30 08:19] OaimIsGnay opened #1706 "如何实现标签页?"
可以同时打开多个界面,在多个界面之前可以随便切换,而不是每一次只能打开一个界面

[2021-06-30 08:37] anranruye commented on #1557
@anddrzejb Do you think it's possible to use only css to control overlay position and totally abandon js?

However, this means that we should implement the logic ourselves and no longer use the implementation of react antD.

[2021-06-30 08:54] nikolaykrondev commented on #1566
Hi @ElderJames , do you have any ETA for this property or roadmap for the future releases?

[2021-06-30 09:04] ElderJames commented on #1566
Hello @nikolaykrondev , we're not working on it yet.
But this is not a difficult feature, so if you are interested, feel free to give a hand!

[2021-06-30 09:17] EmilyGermanotta opened #1694 "Module:Input Number Onchange is not working when out of focus for the first time"
Hi everyone, my issue is like this
I had the input number component with OnChange like this
`<AntDesign.InputNumber @bind-Value="@context.Duration"
                                               TValue="int"
                                               Max="99"
                                               OnChange="DurationOnChangeHandler"
                                               Style="

[2021-06-30 09:46] anddrzejb commented on #1557
@anranruye I don't even know if we can do that with css. Maybe css3? But then IE support would suffer, wouldn't it? Mind that the overlay also detects if it needs to switch its position to be rendered above the triggering element (when for example the page scrolls to the position that would make overlay either invisible or partially visible). Could we achieve that with css only? I would be very in

[2021-06-30 10:13] ElderJames commented on #1557
@anddrzejb Thanks for the deep research, it's so amazing!

I've always found overlay to be a very complex component. Even though overlay is built-in in angular cdk, it's complex enough. And so far, only our component library has this component, which I'm proud of and very grateful for the contribution of @mutouzdl .

As the overlay became more and more complex, requiring more and more functionalit

[2021-06-30 10:34] #1676 closed

[2021-06-30 10:55] anddrzejb commented on #1557
@ElderJames I don't really know if we have. I certainly do not have it yet. My starting point would be to try to mimic our current functionality. At this stage I started reorganizing our `interop.ts` into classes & modules. Once this gets accepted, I will start looking into how can we split the logic between blazor and js. My ultimate goal is to also include unit testing for js implementation (typ

[2021-06-30 11:58] henrikwidlund commented on #1566
I will work on this, PR coming soon.

[2021-06-30 12:03] ElderJames commented on #1566
@henrikwidlund Cool, looking forward that.

[2021-06-30 19:16] hans-engstad opened #1696 "Select inside dropdown closing dropdown"
### Describe the bug

When placing a Select component inside a Dropdown component, the Dropdown gets closed when an item is selected from the Select.

When using TriggerType.Click on the Dropdown, the Dropdown also closes when the Select gets blurred.

The bug was encountered when using a form inside a Dropdown which contained a Select component. In this situation it is not desirable to close the

[2021-07-01 02:14] anranruye commented on #1696
@hans-engstad thank you for contacting us.

Please use `PopupContainerSelector` for select component.
[code]

[2021-07-01 03:16] #1688 closed

[2021-07-01 08:59] hans-engstad commented on #1696
Thank you for the fast reply.

Your solution worked pretty good when using TriggerType.Hover. The Dropdown stayed open when selecting an item and when blurring the select. The Dropdown did however close when selecting an item which is outside of the Dropdown borders (See the gif).

When using TriggerType.Click, it did however close the Dropdown when selecting and item or when blurring the select.

[2021-07-01 09:14] mutouzdl commented on #1557
@anddrzejb
Overlay is a component that I started writing a long time ago, and it does get more complex and expose more problems. In addition to the performance issues, the coupling between Overlay and OverlayTrigger is too high.
Although I prefer plan 1, if you guys think plan 2 is better, that's fine with me.

Since I haven't used Blazor in my daily work, I don't have much time to study and I'm n

[2021-07-01 09:26] Martin-Pucalka commented on #1561
I like the idea of ToQueryString` extension method for OData. Do you have any sample code of ant-blazor filter criterias to Odata query?

[2021-07-01 09:30] anddrzejb commented on #1557
@mutouzdl I hope you are not taking my analysis as a criticism. I think you did and continue to do outstanding job! Without you, this project would not be the same. Blazor does seem to be more demanding due to the fact it offers different deployment models. This introduces more complexity - what works fantastic in wasm, requires extra work in server-side. The other way around is also true. As much

[2021-07-01 10:10] mutouzdl commented on #1557
@anddrzejb
Thank you for your acknowledgement. I don't take it as a criticism. In fact, I think you are seriously contributing to the project.
According to what you said, it seems plan 2 is more suitable.

Our boss has agreed to use Blazor, but we have not decided when we can start. I really hope we can use Blazor as soon as possible.

[2021-07-01 10:34] ardia opened #1697 "Select with virtualize"
Example:
not correct work

<div>Selected @_value?.Label</div>
<div>Count: @_count</div>
<div>Query: @_query</div>
<div>Request StartIndex: @requestCurrent.StartIndex</div>
<div>Request Count: @requestCurrent.Count</div>
Filtered:
<br />
<div style="overflow: scroll; width: 300px;">
    @if (_filtered.Any())
    {
        foreach (var item in _filtered ?? new List<SelectItemDto>())
        {

[2021-07-01 10:55] anranruye commented on #1696
for hover trigger type, this is because when the select dropdown closes, your mouse is outside the trigger/dropdown. If you move your mouse inside quickly after you select an item, the dropdown will not close.

For click trigger type, you can use Visible property to control the dropdown visibility manully. This is what we do for the table filter: https://github.com/ant-design-blazor/ant-design-bla

[2021-07-02 05:45] #1566 closed

[2021-07-02 07:18] godshades commented on #1652
Tested on Ipad running IOS 14.6 have the same error

[2021-07-02 16:25] henrikwidlund commented on #1655
I can do a PR for this

[2021-07-02 22:09] m5x opened #1700 "NodeJS/Gulp dependency"
### Is your feature request related to a problem? Please describe.
One of the biggest reasons for .NET developers to love Blazor is the fact that they do not have to use Javascript and Javascript tools to create web applications. It is a shame if a Blazor project still requires us to install and use these tools.

### Describe the solution you'd like
Remove dependencies on NodeJS/NPM/Gulp etc., use

[2021-07-03 00:56] ElderJames commented on #1655
@henrikwidlund Cool, thank you!

[2021-07-04 04:46] OaimIsGnay opened #1702 "When will the table have the effect shown in the figure and the examples?"
请问,什么时候表格才会有图中的效果,以及例子?

![image](https://user-images.githubusercontent.com/58240619/124373556-b3508a00-dcc5-11eb-89f7-b2387ddd503f.png)

[2021-07-04 06:18] ElderJames commented on #1702
Thanks for contacting us @OaimIsGnay

We have add a demo for that and it's in the master branch. It will be released as v0.8.3 next week.

[2021-07-04 15:19] #1706 closed

[2021-07-04 15:20] #1206 closed

[2021-07-04 15:31] #1655 closed

[2021-07-05 00:59] ElderJames commented on #1700
Thanks for contacting us @m5x

You are right, blazor is for . Net developers.
In Ant Design Blazor, we need to synchronize the style (.less) and we can't find a less compiler built with .Net.
But people who use our library don't need to use
Node. So we will remove the node dependency form out pro template.

[2021-07-05 04:30] kuznecovIT opened #1707 "Can't use table component with Build-in Filters NullRefferenceExcepcion"
### Can't use table component with Build-in Filters

I am trying to use filters on a table component.

When copying the example from the site and running my project, I see an error

The error is shown below in the screenshot

### Links to copied code from ([antblazor table demo filter](https://antblazor.com/en-US/components/table#components-table-demo-filter))
[Index page with copied example (main

[2021-07-05 05:31] anranruye commented on #1707
@kuznecovIT Thanks for contacting us.

I can not reproduce this with the same code. Try to rebuild the project and clear your browser cache. Then see if there's any improvement.

[2021-07-05 05:32] kuznecovIT commented on #1707
I recently tried doing the same thing on a different PC with a clean project.
I copied the example from the site and it gave an error ...

[2021-07-05 05:37] kuznecovIT commented on #1707
btw
When checking, did you download my project or just inserted an example (with which I had problems) into your own ?

[2021-07-05 05:45] #1690 closed

[2021-07-05 06:11] anranruye commented on #1707
I guess this is same with #1556, some nodes are missing in our language resource files.

[2021-07-05 11:55] kuznecovIT commented on #1707
Yes, you right.

Between language resources files [ru-RU.json](https://github.com/ant-design-blazor/ant-design-blazor/blob/master/components/locales/ru-RU.json)/[en-US.json](https://github.com/ant-design-blazor/ant-design-blazor/blob/master/components/locales/en-US.json) at least differ in the number of described lines
148 lines - RU
234 lines - EN

After set this on code block of my index page
[c

[2021-07-05 12:05] anranruye commented on #1707
Yes, everything will work once the missing lines are added. Feel free to open a pr.

[2021-07-06 03:27] #1707 closed

[2021-07-06 06:32] HexJacaranda opened #1712 "CountDown component OnFinish callback causes System.InvalidOperationException"
Hi,

I used CountDown in Blazor Server application. But when I set OnFinish callback(**even if it's a empty method**), it will always trigger System.InvalidOperationException from render call, saying that **'The current thread is not associated with the Dispatcher. Use InvokeAsync() to switch execution to the Dispatcher when triggering rendering or component state'**.

[code]
To reproduce this, yo

[2021-07-06 06:59] OaimIsGnay opened #1713 "Build-in Filters How to transfer value"
Is it foreach?   I don't think so..
Is there a simpler way to know

[2021-07-06 07:05] ElderJames commented on #1712
Thanks for contacting us @HexJacaranda ,

This looks like a minor problem, would you be interested in helping to fix it please?

[2021-07-06 07:10] OaimIsGnay commented on #1713
有 ant Blazor的QQ群吗?

[2021-07-06 07:11] HexJacaranda commented on #1712
Sure, I will try to fix it later.

[2021-07-06 08:37] ElderJames commented on #1713
Thanks for contacting us @OaimIsGnay ,

Can I ask you what specific problems you are experiencing? Do you have any suggestions?

[2021-07-07 01:21] anranruye commented on #1713
@OaimIsGnay 技术交流主要在钉钉群

[2021-07-07 06:11] gmij opened #1715 "After row selection in the table tree, the expand icon will not be displayed by default"
When a table control is displayed in tree form, after row selection is turned on, the expanded row icon will not be displayed by default until a row is selected.

![image](https://user-images.githubusercontent.com/22893579/124708360-c1541400-df2c-11eb-8627-9be83806d769.png)
![image](https://user-images.githubusercontent.com/22893579/124708391-cb761280-df2c-11eb-8155-c6155b209b8b.png)

demo code:
[

[2021-07-07 10:22] m5x commented on #1700
Thank you @ElderJames for looking into it. There are quite a lot of solutions to compile LESS to CSS using .NET/MSBuild. Have you looked for example at this project:

https://github.com/dotless/dotless

?

[2021-07-07 10:42] ElderJames commented on #1700
Yes, I have an impression of dotless, though I have not studied it in depth. If you know how to use it, feel free to help us compile our less files using dotless.

[2021-07-07 10:52] rq204 opened #1716 "When CheckboxGroup Options changed，ValueChanged don't work"
### Describe the bug

It works fine when CheckboxGroup Options keep not change。But if I Changed Options in code，ValueChanged don't work。

### Steps to reproduce (please include code)

IF you click button，OnCheckboxChanged

@page "/"

<Button OnClick="@Test">test</Button>
<br />
<AntDesign.CheckboxGroup Options="@_weekOptions" ValueChanged="@OnCheckboxChanged" />
<Text>@TXT</Text>

        private

[2021-07-07 12:05] quirynen opened #1718 "g2plot.js:formatted:6792 Uncaught DOMExcException: Failed to execute 'ellipse' on 'CanvasRenderingContext2D': The major-axis radius provided (-18) is negative"
### Describe the bug

While Using AntDesign.Charts, when changing the height and width from 400 each (like in the examples) to 60 instead, this exception appeared : g2plot.js:formatted:6792 Uncaught DOMException: Failed to execute 'ellipse' on 'CanvasRenderingContext2D': The major-axis radius provided (-18) is negative.

PS: In addition to the exception, the chart isn't showing.
PS2: The chart is

[2021-07-07 14:33] m5x commented on #1700
I've looked at dotless a bit more and it would not be a good choice because it is not actively developed anymore. Instead people seem to be using SASS as a more advanced CSS compiler by means of [LibSassHost](https://github.com/Taritsyn/LibSassHost). If you ever decided to switch to SASS I can contribute MsBuild task to compile SASS to CSS using LibSassHost.

[2021-07-07 16:20] anddrzejb commented on #1716
What is the version you are using? I cannot confirm your findings with latest build (tried on both server-side and wasm):
![checkboxGroupValueChanged](https://user-images.githubusercontent.com/6518006/124795054-56b8cd80-df58-11eb-8720-18ca9cf257cc.gif)

[2021-07-08 02:30] rq204 opened #1719 "Select can not set datasource and bind-Value at the same time"
### Describe the bug
when I change Select DataSource then I change bind-Value，the bind-Value can't work。

### Steps to reproduce (please include code)
[Index.razor.txt](https://github.com/ant-design-blazor/ant-design-blazor/files/6781124/Index.razor.txt)

[2021-07-08 03:00] rq204 commented on #1716
this is full testcode
[Index.razor.checkbox.txt](https://github.com/ant-design-blazor/ant-design-blazor/files/6781158/Index.razor.checkbox.txt)

[2021-07-08 03:02] rq204 commented on #1716
Hello,
I upload full test code in reply。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "ant-design-blazor/ant-design-blazor"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月8日(星期四) 凌晨0:20
***@***.**

[2021-07-08 03:49] esailes commented on #1719
add await Task.Yield();

`
 await Task.Yield();
 _selectedValue = 6;
`

#1536

[2021-07-08 04:41] rq204 commented on #1716
thanks,I upload full code in reply.

[2021-07-08 09:00] anranruye commented on #1719
![image](https://user-images.githubusercontent.com/54608128/124893716-8d045480-e00d-11eb-9825-de389cdd6981.png)

Should not be `_selectedValue=5`. It is expected to get no item selected when set value to `5` because this item is disabled. However, here is indeed an issue/bug. To reproduce this issue, use other values (eg `6`) instead.

[2021-07-08 12:54] jma201 opened #1721 "How to install 0.9.0 nightly?"
相中了ReuseTabs组件，这样ant-design-pro-blazor就支持多页签了。迫不及待的想看源代码，^_^

[2021-07-08 13:41] ElderJames commented on #1721
Please see https://antblazor.com/zh-CN/docs/nightly-build

[2021-07-09 00:15] jma201 commented on #1721
Thanks for your reply!
Actually, I know how to install 0.9.0 nightly.
And I also cloned the demo.
I can’t wait to see the source code so that I can understand how it works. This's just my request, I hope it won't disrupt your schedule. What you are doing is a very great thing! Thanks again!

[2021-07-09 00:41] ElderJames commented on #1721
Oh, the source of reuse tabs is in feature branch. see the pr #1704

[2021-07-09 00:54] jma201 commented on #1721
谢谢大大 ^_^

[2021-07-09 00:55] #1721 closed

[2021-07-09 02:43] #1639 closed

[2021-07-09 02:49] ElderJames commented on #1546
I agree with @anranruye , The `InputNumber` is just two buttons more than `Input`, so you can just use Input if you don't need them.

[2021-07-09 02:49] #1546 closed

[2021-07-09 08:32] quirynen commented on #1718
Issue was caused by size and thickness of the gauge pivot being set too big

[2021-07-09 08:32] #1718 closed

[2021-07-09 09:14] BeiYinZhiNian opened #1723 "InputPassword style"
### Describe the bug
![image](https://user-images.githubusercontent.com/25119211/125054605-fc934600-e0d8-11eb-9adc-c9b7fccf34ad.png)

InputPassword Set style = "width: X%", the width does not change, and the position of the icon changes

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version：0.8.2
- Include the output

[2021-07-09 09:54] khanhtranchi opened #1724 "Disable the default behaviors of table"
Hi maintainers,

Now I just want to use the OnChange method with the QueryModel parameters and push to it REST Api to get the return data based on this QueryModel info. Before call the OnChange method, I don't know the table does it process the old data push to it before based on the filter and sort criteria ?. If so, it will waste resource and we could have a setting to disable this process.

Tha

[2021-07-09 11:09] anranruye commented on #1724
@khanhtranchi Thanks for contacting us.

We have done this job which will release in 0.9 version.

[2021-07-09 12:06] shashikantx opened #1725 "Label for input fields outside form?"
Hi,
I have been using antblazor for two months, it is really great, and I really appreciate the effort being put in to improve it. That being said, I noticed that input fields when used individually outside forms, I am unable to put a label to it because label is part of FormItem. It would be nice if there was a label component.

Thank you.

[2021-07-09 15:20] ElderJames commented on #1725
Thanks for contacting us @shashikantx

Please try to use `Space` component for that.

[2021-07-09 15:23] ElderJames commented on #1723
Hi @BeiYinZhiNian . You can try to fix it yourself 😉

[2021-07-09 16:02] OscarCanek commented on #1229
Another way is to render the component after you got all the information to populate it.

[2021-07-09 16:09] shashikantx commented on #1725
@shashikantx  Yea, that works, thanks for the workaround.

But still, my suggestion stands, to maintain uniformity in style either a label parameter could be passed to the Input fields or a `<Label></Label>` wraparound component could be created.

Not a big issue, but nice to have out of the box.

[2021-07-09 17:06] anddrzejb commented on #1723
I think you should use `WrapperStyle`. This has been discussed in detail issue #876 and PR #1351.

[2021-07-10 01:16] #1712 closed

[2021-07-11 10:41] #1719 closed

[2021-07-11 10:43] #1526 closed

[2021-07-11 10:44] #765 closed

[2021-07-11 10:44] #643 closed

[2021-07-11 10:45] #1524 closed

[2021-07-11 12:48] #1643 closed

[2021-07-13 01:49] anranruye commented on #1725
@shashikantx generally, we provide `FormItem` component for this purpose, which forces you to use input components inside a form. You can wrap a input component by `<CascadingValue Value="null" Name="FormItem" TValue="IFormItem" IsFixed="@true">` to remove this limitation. Or you can implement your own `Label` component by just copy the source code of `FormItem` component and remove the "FormItem"

[2021-07-13 09:43] itmaybetrue opened #1731 "Table里面的Column内嵌一个Table会出现报错"
[code]

[2021-07-14 02:27] 362111880 opened #1733 "CheckboxGroup bug"
when use two CheckboxGroup,  can not set Optinos  using the same value

For Example:
`<CheckboxGroup Options="@PermissionOptions" Value="x" OnChange="values => x = values"/>`
`<CheckboxGroup Options="@PermissionOptions" Value="y" OnChange="values => y = values"/>`

if i check one item in the first CheckboxGroup , the second CheckboxGroup item will be checked too.....

[2021-07-14 03:48] shirleen1234 opened #1734 "InputNumber OnChange not firing at first time"
### Describe the bug
OnChange handler is not firing at the first time when inputting value from keyboard.

![input-number](https://user-images.githubusercontent.com/47659614/125557690-da3bdba0-9e4c-4b94-bae9-e496641eeeff.gif)

### Steps to reproduce (please include code)

[code]

[code]

### Further technical details
- AntDesign Nuget Package version 0.8.2

[2021-07-14 09:48] shashikantx commented on #1725
Ohok understood, Thank you. @anranruye

I can make a pr for Label component if that's alright.

[2021-07-14 15:23] mostrowski123 opened #1735 "Getting value of a boolean and nullable boolean in select displays wrong value"
### Describe the bug

Getting and displaying the current value of a boolean or nullable boolean in a select does not work. When I set a boolean and nullable boolean in the form model below to true, they show up as "No" and "Select:" respectively instead of both displaying "Yes". Other than displaying the wrong initial value, both selects work correctly when submitting the form. Both boolean and nu

[2021-07-14 15:52] ElderJames commented on #1073
Fix via #1695

[2021-07-14 15:52] #1073 closed

[2021-07-14 16:01] ElderJames commented on #801
@lungchito Please update to 0.8.4.

您好，已经修复了。我在 0.8.4 中运行没有问题。

[2021-07-14 16:01] #801 closed

[2021-07-14 16:10] ElderJames commented on #1106
Perhaps a way to synchronize form submissions could be implemented. When it is time to submit, dynamically create a form element to submit.

[2021-07-14 16:13] ElderJames commented on #1395
[code]

[2021-07-14 16:13] #1395 closed

[2021-07-14 17:08] lukblazewicz opened #1736 "Parent scroll disappears after two nested Drawers opened"
Within a scrollable parent component (page), I'm opening a Drawer, from which another Drawer is opened (nested one). After closing both of the Drawers the parent component is missing the scroll (both visually and functionally).

[2021-07-14 17:21] lukblazewicz opened #1737 "No scroll visible when max-height is set on Modal's BodyStyle"
I'm not sure if it's a bug or a feature request - we need to keep modal no higher than the height of the parent component (so that the footer is always visible). Even if max-height is set on Modal's BodyStyle, there is no scroll, and the body is slipping through the footer. Am I missing something configuration-wise?

[2021-07-14 17:40] lukblazewicz commented on #1737
Adding `overflow-y: auto` on BodyStyle did the trick. If there is a better way to enforce scrollability inside of Modal, please let me know - if not, feel free to close the issue.

[2021-07-15 00:01] anranruye commented on #1735
@mostrowski123 thanks for contacting us.

Currently, the only workaround is to use a data source instead of inline SelectOptions. 0.8.x versions still force the TItem type has a property for Value and another property for Label. #1541 removed this limitation, so you can use `List<bool>` or `bool[]` for DataSource directly. To get the new feature introduced by #1541, you can have a try for 0.9 nigh

[2021-07-15 15:51] zxyao145 commented on #1737
Hi,
I don't know what happened, but bodystyle is available locally (v 0.8.4):

[code]
Both ModalService andModal component.

Can you provide the version and code?

[2021-07-15 16:03] zxyao145 commented on #1736
This may be caused by two closers being in the same position and being triggered at the same time. At present, it is recommended that you open the inner drawer and add width to the outer drawer, just like this (pay attention to wdfirstlayer):

[code]

[2021-07-15 16:06] lukblazewicz commented on #1737
In our production code the issue is present both on 0.8.2 and 0.8.4 version (unless I specify overflow on BodyStyle explicitly as in the abovementioned example). I installed the newest version of AntDesign.ProLayout and used the following code in the `Welcome.razor` file:
[code]
It produced the following output:
![image](https://user-images.githubusercontent.com/39852149/125820237-6da0ee2b-4d29-46

[2021-07-15 16:08] zxyao145 commented on #1737
Yes, you have to set the bodystyle manually.

[2021-07-15 16:09] zxyao145 commented on #1736
I don't know if it's convenient for you to provide a demo of the code. Thank you very much!

[2021-07-15 17:55] lukblazewicz commented on #1737
Are we sure that this should be done via Style? Maybe we should expose a dedicated component-level property for the scroll behaviour?

[2021-07-16 04:41] itmaybetrue opened #1740 "RangePicker select incorrect when ShowTime property is true"
i can not select the  date range on once popup date panel
sample code just like this:
[code]

[2021-07-16 04:50] zxyao145 commented on #1737
Yes, I quite agree with you. At present, this is only consistent with Ant Design of React, and we will change it in the future.

[2021-07-16 07:20] anranruye commented on #1740
similar to #1680 ?

[2021-07-16 07:53] itmaybetrue commented on #1740
Yes,it's the same bug

[2021-07-16 08:26] BeiYinZhiNian opened #1741 "ModalOptions.ConfirmLoading"
### Describe the bug

ModalOptions.ConfirmLoading = false

Unable to stop loading

![image](https://user-images.githubusercontent.com/25119211/125917100-f1a3198b-c5b6-4df9-9a02-36e3758d7e1d.png)

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version：0.8.3
- Include the output of `dotnet --info`
- The IDE (VS / VS Code

[2021-07-16 15:45] #1741 closed

[2021-07-17 15:47] Duster96 opened #1746 "MaxTagCount in Select on 'multiple' mode"
There is a problem with using `MaxTagCount` property in Select component with mode `multiple`. When I use it, class `ant-select-selection-overflow-item` has 0px value in `height` what cause that none items in select are visible. Also `opacity` is incorrect for me, it is chaning on 0.2.

I sent screen below:
![AntBlazor_Bug](https://user-images.githubusercontent.com/20935584/126042425-599f2a1e-e33e

[2021-07-17 17:21] sorainnosia opened #1748 "Table component layout issue in mobile mode"
### Describe the bug

When the browser switch to mobile mode using Devtools, the Table component layout is off

### Steps to reproduce (please include code)
1. Make a Table component with many columns and fill the row with data
2. Run Devtool or press F12 in browser
3. Click the mobile mode icon in Devtools
..OR..
1. simplest way visit this link https://antblazor.com/en-US/components/table
2. Run

[2021-07-18 05:04] #1670 closed

[2021-07-18 14:04] zxyao145 opened #1749 "Unexpected behavior of drawer"
### Describe the bug
 1. The scroll bar of the body is enabled after closing one of the multiple drawers
 2. Bad parameter NoAnimation.

[2021-07-20 03:30] #1555 closed

[2021-07-20 03:54] coolmint123 opened #1753 "Input Number: input limit & hide buttons"
I want you to display the numeric keypad including the decimal point when operating from a smartphone.

You can specify the minimum and maximum values in InputNumber and it is limited by the up and down buttons, but please also limit when inputting.

I want to hide the up and down buttons because I accidentally press the InputNumber.  If it is Input, I would like Input to set the numeric keypad of

[2021-07-20 04:21] anranruye commented on #1753
@coolmint123 thanks for contacting us.

We have noticed some issues about format, validation and value limitation(in pc side). However, ant design is not mainly designed for mobile devices, we can not promise you we can solve all the mobile device compatibility issues soon.

[2021-07-20 06:09] #1735 closed

[2021-07-20 09:04] sannv0012 opened #1758 "How to get data after sort?"
Now I use sort in Table but after sorting, data in the datasource not change by sort
I have reference handle sort: https://github.com/ant-design-blazor/ant-design-blazor/blob/015129c68099ef9b784bc911150dba785a0cc102/components/table/Table.razor.cs#L232
Event OnChange only return queryModel

[2021-07-21 22:56] ZaferGokhan commented on #817
Try this, it works for me. OnMaskClick="MaskClick"

   public void  MaskClick()
{
       PopoverVisible = false;
}

[2021-07-22 07:45] boukenka opened #1761 "Button color"
### Is your feature request related to a problem? Please describe.
There is a short list of possible colors for the button.

### Describe the solution you'd like
Could we add more? Or with a dedicated property?

### Additional context
This feature has been requested in https://github.com/ant-design-blazor/ant-design-blazor/issues/1034. The answer at that time was the following:

Could it be planne

[2021-07-22 07:52] ElderJames commented on #1761
Thanks for cotacting us @boukenka

Maybe you can add it with a PR.

[2021-07-22 07:54] boukenka commented on #1761
Ok. I will try to see what I can do.

[2021-07-22 09:59] ElderJames commented on #1761
You can add a `Color` Parameter and put it in the style of button.

[2021-07-22 11:53] anddrzejb commented on #1746
@Duster96 can you please post a minimal repro (code or repo)?

[2021-07-23 03:41] shirleen1234 opened #1762 "Confirm Modal keyboard events issue"
### Describe the bug

Confirm modal keep popping up when pressing "Enter" or "Space" key on keyboard.

![confirm-modal](https://user-images.githubusercontent.com/47659614/126734939-17ed3356-8025-4ff3-80fa-3cde453f7576.gif)

### Steps to reproduce (please include code)

Refer to [Ant Design Blazor Docs](https://antblazor.com/en-US/components/modal)

[2021-07-23 04:35] ryan-kettrey opened #1763 "DatePicker support for blur to commit typed changes"
Reading bug #1617 that was fixed, I see the following comment from @anddrzejb

While I understand this approach, I'm wondering if we could have a mode where blur would support "Accepting" the typed change when valid.

### Is your feature request related to a problem? Please describe.
Suppose some Person information is displayed on a form in a Modal and a user needs to change the year of a person's

[2021-07-23 05:20] kuznecovIT opened #1764 "Table filtering possibilities (Field and DataIndex properties in <Column> at the same time)"
### Describe the bug (Help request)
_After many attempts, I still have not succeeded in realizing what I am asking about here.
In general, if is there such a possibility, please help!_

### What I trying to realize
I have a table, in one of the columns I need to display data from the method and be able to sort by this field
Below I presented the table code where I marked the problem field with ###

[2021-07-23 12:56] anranruye commented on #1764
@kuznecovIT thanks for contacting us.

I think what you need is
[code]

Then I want to say a few more words. I don't think the way you get the type code `GetTemplateTypeCodeById(@context.TemplateTypeId).Result` is efficient, this will cause perfomence issue when you have a lot of rows or the table component renders frequently. A better solution is to include a `public TemplateType TemplateType { g

[2021-07-23 13:00] anranruye commented on #1758
@sannv0012 thanks for contacting us.

You can not do this in the current version. But we think this feature request is a good suggestion and will implement this feature later.

[2021-07-23 14:48] #1645 closed

[2021-07-23 15:35] MuffinTheDragon opened #1767 "Clear all table filters with button"
### Describe the solution you'd like
I am trying to have a button that when clicked, clears all the sorters and filters in a table. I know this can be done in Ant Design React by managing the filter and sorter information in the state. In Blazor, you can use the QueryModel to read the current sorters and filters applied, but I can't find a way to be able to clear that information and reset the tab

[2021-07-23 18:48] lukblazewicz opened #1770 "[Tree] Incorrect checkbox state on the TreeNode due to an optimization inside UpdateCheckState()"
https://github.com/ant-design-blazor/ant-design-blazor/blob/cbe94d10d8642a5e4a36ad0e89d42e47ac53042a/components/tree/TreeNode.razor.cs#L343

This line of code results in an incorrect checkbox state in the tree's root node as in the following example:
![image](https://user-images.githubusercontent.com/39852149/126827043-c7859041-7d94-430a-98b9-e85ff2821c1f.png)

Steps to reproduce:
1. Check _root_

[2021-07-24 04:36] kuznecovIT commented on #1764
Yes, that's exactly what I need!
As usual, everything turned out to be quite simple :)

[2021-07-24 04:36] #1764 closed

[2021-07-24 08:37] scugzbc opened #1772 "In the Tree component, when a selection item changes, it causes the SelectedDataChanged event to be fired twice."
![动画](https://user-images.githubusercontent.com/8499347/126862290-d32073ca-b1a2-4959-9b17-29f2be708f04.gif)
这个是逻辑是这样的：
在点击一个节点时候，异步加速这个节点下对应的值。如果没有选择任何节点，就显示所有的值。
网络请求对应的是：GetEquipmentsByAreaID/ 这个就表示没有参数，对应的就是没有选择任何节点。
                                 【GUID】的对应的就是选中了某个节点。
结果就是每次直接点击切换不同节点时，实际是经过了    取消选中（显示所有节点）--》选中某一个（显示当前节点的）。  这样就会因为两个异步请求的返回时间不同，造成有时候看起来选中了某个节点，但是显示的是没有选中任何节点时的值。
SelectedNod

[2021-07-24 14:28] anranruye commented on #1767
@MuffinTheDragon thanks for contacting us.

It's not difficult for us to provide a method to clear all the filters. But there are more work to do to take full control of filter functions.

[2021-07-24 15:26] ElderJames commented on #1772
Thanks for contacting us @scugzbc
Which version are you using? We fixed some issues with the tree in the feature branch. Please install the 0.9.0 nightly version to test it out if you wish.

[2021-07-26 01:08] #1758 closed

[2021-07-26 07:58] Duster96 commented on #1746
Yes, no problem. Everything what you need is in Pages/Index.razor:

[Repo](https://github.com/Duster96/BlazorSelectBug)

[2021-07-26 11:30] #1520 closed

[2021-07-26 12:15] boukenka commented on #1761
Thank you for the merge of the PR.

By the way, in the Button.Razor.cs, no need to check for ```Color.None```. If it is ```Color.None```, the method ```GetBackgroundStyle ``` returns an empty string.

[code]

[2021-07-26 13:07] anddrzejb commented on #1746
Should be fixed once my latest PR #1776 gets merged. However, you should be aware that AntDesign does not cooperate very well with Bootstrap - there are few known issues with for example icon positioning.

[2021-07-26 14:47] MuffinTheDragon commented on #1767
Ok, that's understandable. I'll keep an eye out for future updates.

One last thing, the table documentation mentions certain properties like "sortOrder" and "defaultFilteredValue" but trying to actually use them in code raises an InvalidOperationException. I was wondering are these properties something that will be updated later as well?

[2021-07-26 15:33] Duster96 commented on #1746
Thank you! And I will be aware about AntDesign and Bootstrap coexistence.

[2021-07-26 18:00] lukblazewicz commented on #1770
Just to confirm - the issue is still present in the 0.9.0 release.

[2021-07-26 19:02] hussam-k opened #1779 "DatePicker not stretching to full width"
### Describe the bug

DatePicker does not use the full width of a Col tag with specific span value

![image](https://user-images.githubusercontent.com/28566250/127042830-4fbb437f-ccae-46a8-9e77-f97f29e64061.png)

### Steps to reproduce (please include code)
[code]

### Further technical details
- AntDesign Nuget Package version: 0.8.4
- Include the output of `dotnet --info`

        .NET SDK (refl

[2021-07-27 00:04] ElderJames commented on #1770
Thanks for contacting us @lukblazewicz .

If you know how to fix it, just feel free to submit a PR.
We would like to fix it together.

[2021-07-27 00:44] ElderJames commented on #1772
你好，请帮忙看看0.9.0解决了没有？
Please help to see if there is still this issue in 0.9.0.

[2021-07-27 01:33] anranruye commented on #1779
@hussam-k thanks for contacting us.

I can say this default behavior is by-design. If you want your `DatePicker` to fulfill the container, set `Style="width:100%;"` on it.

[2021-07-27 03:01] ElderJames commented on #1746
@dust63 Pleas help to see if this preview for PR #1776  is work correctly https://preview-1776-antblazor.surge.sh/

[2021-07-27 03:08] anranruye commented on #1724
@khanhtranchi thanks for contacting us.

Now you can set `RemoteDataSource=@true` to achieve this with the new release 0.9.0 version.

[2021-07-27 03:32] anranruye commented on #1767
@MuffinTheDragon Of course. You can use them or something alternative once we finish this feature.

[2021-07-27 04:42] anddrzejb commented on #1746
@ElderJames I am not sure if preview will help here, as the use case of the issue is not present in the demo. However, I will try to add the demo covering this scenario.

[2021-07-27 04:59] ElderJames commented on #1746
@anddrzejb  That's even better 👍

[2021-07-27 06:30] anddrzejb commented on #1746
@dust63 the preview https://preview-1776-antblazor.surge.sh has now a demo in Components => Select => Changeable maxTagCount where your use case is presented. Can you please check it and confirm it works as you expected?

[2021-07-27 06:38] #1740 closed

[2021-07-27 09:46] #1770 closed

[2021-07-27 09:54] ElderJames commented on #1770
Thank you.

[2021-07-27 11:34] ldsenow opened #1783 "Select component will throw exception if the value is null"
I am on version 0.84.  My guess was one of my select option item's value field is null. This is kind of my fallback option.
Right now, I work around it by enabling AllowClear and Placeholder.

In order to verify my assumption, I modified Select.OnDataSourceChangeTests and changed the Person's Id type to string and set it as null. When I ran the test, exception was thrown at line 684. I guess we ne

[2021-07-27 15:45] anddrzejb commented on #1783
@ElderJames I was thinking about this issue since it came up and I have few thoughts. Not yet sure how is this applicable, but I'd like to confront certain assumptions:
1. **Value, since it is a key, should not be null**: clearly, since you assigned me to this, I consider you accept that in this case it could be null.
2. **Value, since it is a key, should be unique**: if we accept nullability of t

[2021-07-27 15:59] mostrowski123 opened #1784 "Non-datasource select throws error with nullable values"
### Describe the bug

When you try to use a nullable value in a non-datasource select, you get an argument null exception. In version 0.8.2 the code below worked correctly. In 0.8.4, the initial value for the selects did not worked as mentioned in #1735. In 0.9.0 the non nullable selects work correctly but the nullable selects throw the argument null exception error. The exception says ValueName c

[2021-07-27 16:23] ElderJames commented on #1783
I'm prefer the key should be unique but can be nullable.

If the same employee is in different groups, then just show which groups each employee is in. such as:

- Tom  (Group1, Group2)
- Jerry (Group1, Group3)

[2021-07-27 17:29] anddrzejb commented on #1783
I have a feeling you missed my point. I know I can do this, but I was also thinking about functional improvement of the select component (enhancement if you will) . If we accept  nullable value, how soon multiple nullable values are going to be requested?

Anyway, I still have the whole overlay situation to deal with, so this issue is going to take me some time...

[2021-07-27 17:31] ElderJames commented on #978
Hi @charsville , we support the `bind-Values` now, see #1460.

[2021-07-27 17:36] ElderJames commented on #825
Hi all, we create the EnumSelect in 0.9.0!!

[2021-07-27 17:39] ElderJames commented on #417
We have EnumSelect in 0.9.0 now. And the ratio group and checkbox group for enum are  on the way.

[2021-07-27 17:41] ElderJames commented on #31
We have built-in dark mode styles now. Just try it in the document site.

[2021-07-27 17:43] ElderJames commented on #658
Now we have LabelStyle for custom styles in 0.9.0.

[2021-07-27 17:43] #658 closed

[2021-07-27 17:44] #1023 closed

[2021-07-27 17:45] #862 closed

[2021-07-27 17:45] #825 closed

[2021-07-27 18:02] MuffinTheDragon commented on #1767
Ok great. I'll keep an eye out for future updates. Thanks!

[2021-07-27 18:02] #1767 closed

[2021-07-27 23:57] ldsenow commented on #1783
I think the value being null is a common scenario and have items with the same value as well.
Accepting null value is easy to resolve. I guess we all have solutions to it.

In order to resolve the same value issue, we could consider to expose the key generation expression to user if wanted to override the default behavior which uses the value as the key. Dont think we need to the component to make

[2021-07-28 00:47] anranruye commented on #1783
@anddrzejb Currently I don't think too much about not unique keys and exposing a method to customize selection logic. To solve the original issue, just need to change the code in the screenshot to `isSelected = value == _selectedValue || value?.Equals(_selectedValue) == true` .

[2021-07-28 00:55] anranruye commented on #1783
And I remember another issue: https://github.com/ant-design-blazor/ant-design-blazor/issues/1587#issuecomment-851896551 . If `null` is acceptable as the value, then the corresponding item should be selected when set the value to `null` or click the clear button.

[2021-07-28 01:18] anranruye commented on #1784
@mostrowski123 thanks for contacting us.

You can use the following to avoid the exception before we fix this if it is a bug:
[code]

[2021-07-28 02:12] anranruye commented on #1783
Since @anddrzejb is busy, I opened a pr. However, we should also solve #1587 for this scenario. Otherwise, the `Select` component will display empty or placeholder text when the option with null value is selected.

[2021-07-28 03:09] ElderJames commented on #1761
Yes, but it would add an empty style attribute in the html and cause the test fails.

Also, I would like to make this color globally available as a tool that users can easily use. Do you have any ideas?

[2021-07-28 04:46] lukblazewicz opened #1787 "SearchExpression missing on Tree"
The new Tree component available since 0.9.0 release has no SearchExpression parameter (which was present on previous versions of this component).

We use this parameter in our production app for customized filtering - can we bring it back? Or there is another way advanced filtering should be done now?

[2021-07-28 05:50] NPadrutt commented on #31
@ElderJames is there a documentation for integrating that in your own page as well? I couldn't find anything on the documentation page and the implementation on the documentation site looks like there are several parts involved including the right files and javascript that has to be called.

[2021-07-28 06:42] ElderJames commented on #31
@NPadrutt I will explain this in the documentation.

If you are interested, you can help us write about it, as I am worried that my descriptions are not well understood.

If you want to use the built-in styles, you can refer directly to the corresponding style files.

- Default mode:  /_content/AntDesign/css/ant-design-blazor.css
- Dark mode:  /_content/AntDesign/css/ant-design-blazor.dark.css
- C

[2021-07-28 06:59] ElderJames commented on #1787
Thanks for contacting us @lukblazewicz .

We would bring it back, or you can help?

[2021-07-28 07:01] scugzbc commented on #1772
之前是 0.8.3 .
现在升级到0.9.0之后，问题依旧。

[2021-07-28 07:38] #1784 closed

[2021-07-28 09:26] johnnyzheng99 commented on #1075
Please kindly go to this page and check out this vertical menu.
https://antblazor.com/en-US/components/menu
![image](https://user-images.githubusercontent.com/1889386/127297365-44ec029c-0293-40f5-bda4-1f3f7e62b21b.png)

To reproduce it, Simply move mouse over the menu items. You will be able to see what happens. The new menu item opens up but the old opened menu items just do not close first. Ther

[2021-07-28 09:34] johnnyzheng99 commented on #1075
https://antblazor.com/en-US/components/popover

If you go to this page, do try to move your mouse over the two popover items relatively faster, you will be able to see this bug as well. If you have more items, you will be able to replicate this problem even more easier.

I guest the popever and the menu items share a share js animation function or css animation which delays the closure of the open

[2021-07-28 11:41] #1783 closed

[2021-07-28 12:22] ElderJames commented on #1748
Thanks for contacting us @sorainnosia

Could you show me what mobile table you are talking about?

[2021-07-28 12:25] Duster96 commented on #1746
It works correctly as I expected! :)

[2021-07-28 14:40] #1746 closed

[2021-07-28 16:46] Zonciu commented on #1587
In the react version, it use `{ value: undefined, option: undefined }` to represent `selected option is cleared`.

To solve this and #1783, my suggestion is adding a wrapper class to transfer selected options.
example:
[code]

[2021-07-28 18:15] NPadrutt commented on #31
oh, that is nice. I'll try that out. If I can make it work in a less hacky way than I have it now with my solution I can try submit a documentation page for it.

[2021-07-29 04:19] datnguyen89 opened #1789 "Date picker bug placement and can not set DropdownClassName"
Dear team,
I got a bug with Datepicker. I tried to set DropdownClassName to fix this but it's not work.
Please help!
![ant-bug](https://user-images.githubusercontent.com/55984933/127430856-edbd3782-8af9-4f87-a0f1-2d65c42f2e48.png)

### Further technical details
- AntDesign Nuget Package version 0.9.0

[2021-07-29 09:13] anddrzejb commented on #1789
This is a position bug, that I hope to find a fix during my overlay works.  It seems to me that react antD has a similar problem (not with positioning):
![image](https://user-images.githubusercontent.com/6518006/127465426-e556afae-e8a7-4638-83a9-70367246c113.png)

Possibly we could expose temporarily the placement parameter for the `DatePicker` and `RangePicker`, but it sill would not solve your p

[2021-07-29 09:22] speyck commented on #732
Is there any solution to this Issue? It's really ugly to have the CSS in `<style>` tags in the HTML. Nothing mentioned in this post resolves the problem for me.

[2021-07-29 10:07] Zonciu commented on #732
@speyck See my previous comment.

[2021-07-29 10:38] dennisrahmen commented on #732
@speyck Keep in mind that you have to put the `<div>` in all of your components and layouts that you want to use with CSS isolation.

Just enclosing the `@Body` in your Layout does not work.

[2021-07-29 11:12] speyck commented on #732
Thanks for the answer. I don't quite understand how this should work.

First of all, if I put `::deep` into my isolated CSS file, I get the following error:

Then I don't know how exactly how the solution should work. The example you have above doesn't actually contain any CSS that edits a AntDesign component. The only change you make with CSS is to this line: `<div class="site-layout-content">Con

[2021-07-29 11:57] dennisrahmen commented on #732
https://github.com/ant-design-blazor/ant-design-blazor/issues/732#issuecomment-739125806
[code]
As you can see, the `<div>` is enclosing the `<Layout Class="layout">` wich is an AntDesign component.

---

Now you can create a ".razor.css" file for that page and add your css for the "layout" class of the Layout AntDesign component:
[code]

[2021-07-30 06:51] speyck commented on #732
Thanks a bunch for the answer. I get it now.

But now I have a problem with the CSS file. I can't use `::deep`. For some reason it gives me the following error:

Do you have any idea what the problem could be?
Maybe I am on the wrong version or something.

[2021-07-30 07:31] dennisrahmen commented on #732
You need .NET 5 to use CSS isolation in Blazor.

Could you share a minimal repo with that error?

[2021-07-30 07:56] Zonciu commented on #732
Just ignore this error, `::deep` is used to modify the css of internal components.
If you only modify your own element's css, you don't need this.
If you need to modify an ant-blazor component's internal css, you need to add this.

## Example:

### Without `::deep`
![image](https://user-images.githubusercontent.com/10374056/127620337-14a844c5-84c1-4a03-9093-dd540481b7d4.png)

---------------------

[2021-07-30 08:34] speyck commented on #732
@Zonciu thank you very much for elaborating.

@dennisrahmen I made a repo with my sample project: https://github.com/speyck/blazor-antdesign-test

[2021-07-30 10:43] lukblazewicz commented on #1021
In case someone faces the back-spacing issue on Input component, setting/increasing DebounceMiliseconds parameter mitigates this problem (in our case 600ms was the minimum threshold to avoid glitches).

[2021-07-30 10:58] scugzbc opened #1793 "When using the Upload component in the Dialog popped up by ModalService, clicking on the Upload button will trigger an OnCancel of the Dialog, causing the form to close abnormally."
版本为 0.9.0
在ModalService弹起的Dialog里使用Upload组件时，点击上传按钮，会触发Dialog的OnCancel ,导致窗体非正常关闭。
相关的代码如下：
在主页面上弹出一个Dialog的代码。 注意里面加入了 Console.WriteLine的输出用以测试。

[code]

Upload就是一个最基本的调用。
效果如图所示：
![upload](https://user-images.githubusercontent.com/8499347/127643440-1484e68e-c04e-4f28-8245-e1f1f36b6058.gif)

[2021-07-30 11:02] anddrzejb commented on #1793
Can you check if you have any errors in console (either dotnet or browser)? If you do, can you post them?

[2021-07-30 12:14] dennisrahmen commented on #732
@speyck Your repo does not include any of our previous suggestions. Also there is no content in the ".razor.css" files.
Please apply the changes @Zonciu mentioned in his comments!

If you have further problems with CSS isolation file a new issue here: https://github.com/dotnet/aspnetcore/issues

[2021-07-30 13:12] speyck commented on #732
@dennisrahmen the repo is now updated.

I moved all the CSS in the .RAZOR files into their dedicated .CSS files and added `::deep` and a `div` wherever it's needed.

You will see that on every line `::deep` appears, the compiler gives the warning `"::deep" is not a valid pseudo-element.`

[2021-07-30 13:30] ElderJames commented on #1793
May be caused by mask onclick event

[2021-07-30 13:41] dennisrahmen commented on #732
@speyck Thanks.

Replace:
`<link href="blazor_antdesign_test.styles.css" rel="stylesheet" />`
with:
`<link href="blazor-antdesign-test.styles.css" rel="stylesheet" />`

That way it works, since your project name is also written with "-".
Can´t find any issues with the `::deep`.

[2021-07-30 15:22] zxyao145 commented on #1793
非常抱歉，我无法重现这个bug，请问能提供下demo吗？

Sorry, I can't reproduce this bug. Can you provide a demo?

[code]

[2021-07-30 16:12] #1731 closed

[2021-07-30 16:32] #1787 closed

[2021-07-30 17:11] scugzbc commented on #1793
[TestUpload.zip](https://github.com/ant-design-blazor/ant-design-blazor/files/6909072/TestUpload.zip)
这里全部采用文档里提到的内容构建了一个demo.
可以重现这个过程。

[2021-07-31 01:38] #1749 closed

[2021-07-31 01:47] ElderJames commented on #1702
please see https://ant-design-blazor.gitee.io/zh-CN/components/form#components-form-demo-advanced-search

[2021-07-31 10:53] #1482 closed

[2021-07-31 10:53] #1677 closed

[2021-07-31 10:53] #1678 closed

[2021-07-31 10:53] #1680 closed

[2021-07-31 14:46] wuzhenda opened #1798 "XAxis type in LineConfig is fixed as ValueCatTimeAxis"
### Is your feature request related to a problem? Please describe.
if want to  set line data like [(1,1),(2,2)...] what type should we use? it's not the datetime type

### Describe the solution you'd like
we should use dynamic type as XAxis setting.

### Additional context
for Shinese：
在line配置中XAxis固定为 ValueCatTimeAxis，是不是把x轴的类型固定为时间类型了，
如果像展示x的是[1,2,3,4...10]这种类型，如何使用呢？

[2021-07-31 16:00] zxyao145 commented on #1793
Upload组件通过`HTMLElement.click()`打开选择文件对话框，`HTMLElement.click()`方法不会触发mousedown/up事件，因此导致Modal组件错误的关闭。

The Upload component opens the file selection dialog box through 'HtmlElement.Click()'. But The 'HtmlElement. Click()' method will not trigger the mousedown/up event, resulting in the shutdown of the Modal component  error.

[2021-08-01 10:52] #1531 closed

[2021-08-01 13:20] ElderJames commented on #1748
I have do it in feature branch and will ship with 0.10.0.

[2021-08-01 13:20] #1748 closed

[2021-08-01 20:20] boukenka commented on #1761
I'm sorry. I don't have any ideas to propose.

[2021-08-02 07:27] speyck commented on #732
@dennisrahmen thank you.

Unfortunately, the warning still pops up.
But I guess it's a problem with my machine and not the project itself, as you stated

above.

[2021-08-02 09:09] Zonciu commented on #732
`::deep` is not a standard css grammar, it is a mark for the Blazor css processor, just ignore the IDE warning.
See document: https://docs.microsoft.com/en-us/aspnet/core/blazor/components/css-isolation?view=aspnetcore-5.0#child-component-support

[2021-08-02 12:47] speyck commented on #732
Will this be fixed anytime soon or is this no priority?

[2021-08-02 13:02] Zonciu commented on #732
I think you have misunderstood something. This is a problem with the IDE, not a problem with this project. You should ask the Visual Studio development team.

[2021-08-02 13:21] speyck commented on #732
I have no problem with the warning that pops up when using `::deep`.

But the extra `div` that I have to place before all of my components messes with the whole CSS of my page. But I guess the extra `div` is a problem of Blazor itself and not this project?

[2021-08-02 13:31] Zonciu commented on #732
The issue is here: https://github.com/dotnet/aspnetcore/issues/28443
Not sure when will fix this.

[2021-08-02 16:23] iamSmallY opened #1806 "The default filter for a column of DateTime doesn't work"
### Describe the bug

When use the default filter for the column of a `DateTime` variable, the date picker only displays the date (without time), but it seems to use current time when filter, causing that I can't get the data of the date I selected, using the equal mode.

当在一个 `DateTime` 列上使用默认过滤器的时候, 弹出的日期选择器并不包含时间选择, 但最终进行过滤的时候会拼接上点下确认时的时间, 导致使用 equal 模式时无法过滤出所选择的日期当天的数据.

### Steps to reproduce

[2021-08-03 08:58] speyck opened #1810 "Required Attribute for FormItems doesn't fully work"
### Describe the bug

#### What should happen
When adding the `[Required]` Attribute on a Parameter in a Class used as a Model in a `Form`, the `FormItem` is marked required. This means, that a red Asterisk is added to the Label and the Input cannot be empty. If it's empty, an error message is added under the `FormItem` informing the user, that the field must be filled before the `Form` can Finish

[2021-08-03 13:50] MrDach opened #1813 "Wrong autocomplete dropdown placement"
### Describe the bug

The dropdown for the lookup patterns is appended to the root element instead of the parent of the dropdown component and thus placed in the top left corner of the pages.

### Steps to reproduce (please include code)

This bug can be seen in your documentation: [](https://ant.design/components/auto-complete/)
![image](https://user-images.githubusercontent.com/22943367/12802530

[2021-08-03 15:17] speyck commented on #1813
I also had some problems with the AutoComplete DropDown "placement". The DropDown was placed over any item in the UI. I had a navbar that is sticky at the top and when you open an AutoComplete and scroll down, the DropDown is over the navbar.

Maybe the devs can take a look at AutoComplete and overwork it a bit..

[2021-08-04 02:39] anranruye commented on #1813
@MrDach thanks for contacting us.

I can't see the dropdown anywhere, even not at the top-left of the page. There must be something wrong with this demo or the autocomplete component.

@speyck https://antblazor.com/en-US/components/autocomplete#components-autocomplete-demo-popup-container can this solve your problem?

[2021-08-04 04:50] zxyao145 commented on #1793
目前最好的做法是讲 `MaskClosable` 参数设置为 false，后面我们将会考虑使用JS解决这个问题，还是使用C#以减少与JS的交互。

At present, the best way is to set the 'MaskClosable' parameter to false. Later, we will consider using JS to solve this problem or improve c# to reduce the interaction with JS.

[2021-08-04 08:56] speyck commented on #1813
@anranruye are you referring to the `fix popup container`? If I try that the popup just floats in the middle of the page.

[2021-08-04 09:35] quirynen opened #1814 "Class parameter not applying for Input and AutoComplete"
### Describe the bug

While Assigning the Class parameter to an Input or AutoComplete, the class is not applied to the html tag.

### Steps to reproduce (please include code)

[code]

The methods__inputNumber css class is not applied to the html tag (input in this case), even after a few forced refreshs, rebuilds, and rebooting computer.

### Further technical details
- AntDesign Nuget Package ver

[2021-08-04 12:53] MrDach commented on #1813
Any suggestions on a quick fix for this? I'm guessing there's some javascript somewhere that is placing the DOM element incorrectly.

[2021-08-05 04:03] godshades opened #1816 "[0.9] <Select> decimal? broken html"
here is my code
[code]

in 0.8.x my select throw exception and can't display:
[code]

after update to 0.9 my item can display now but html a bit wrong, select using string is display OK, right side data is decimal, after click to this selectbox, the html is become normal

![image](https://user-images.githubusercontent.com/12244851/128288661-3139f534-f3e8-4043-b8e6-e6af1fc582b2.png)

[2021-08-05 04:26] godshades commented on #1816
fixed by change TitleFontSize to decimal

[2021-08-05 07:19] lukblazewicz opened #1817 "[DatePicker] ShowToday="false" not working if ShowTime="true""
`ShowToday` parameter on DatePicker works fine unless we combine it with `ShowTime` set to `true`.

**Examples:**
`<DatePicker TValue="DateTime" ShowToday="true" />`  ✔
![image](https://user-images.githubusercontent.com/39852149/128307562-cb7fe61f-5fa0-42ad-8760-bced20901e11.png)

`<DatePicker TValue="DateTime" ShowToday="false" />` ✔
![image](https://user-images.githubusercontent.com/39852149/128

[2021-08-05 07:35] anranruye commented on #1816
@godshades thanks for contacting us.

We require you set the `ValueName` property if the DataSource element type and the Value type are different. And we now consider `T` and `T?` different types, which may change in the future.

[2021-08-05 07:39] anranruye commented on #1813
@speyck I think you can give the navbar a larger z-index.

[2021-08-05 07:41] anranruye commented on #1813
@MrDach Yes, we changed the javascript recently, which might be the cause.

[2021-08-05 07:46] godshades commented on #1816
@anranruye thank you, I'm understand
now it's working :D

[2021-08-05 07:46] #1816 closed

[2021-08-05 13:17] MrDach commented on #1813
I've created the following quickfix for now:

When firing the OnPanelVisibleChange event I will execute the following javascript function if the panel is visible:

[code]

After applying some flexbox styling to fix the width it now it looks like this :)

![image](https://user-images.githubusercontent.com/22943367/128356167-a3c6881a-d3d1-4207-95bb-d9f1a2026457.png)

[2021-08-06 01:58] huhangfei opened #1820 "table column Settings is DefaultSortOrder="@SortDirection.Descending"，but first OnChange query.SortModel no value"
### Describe the bug
table column Settings is  DefaultSortOrder="@SortDirection.Descending"，but first OnChange query.SortModel no value

[2021-08-06 03:25] LiuyangRY opened #1821 "A table with many columns do not scroll smoothly"
### Describe the bug

I am refactoring a page contains table with  about 50 columns, I find the table will not scroll smoothly, and the situation get worse and worse with the amount of data increases.
I wonder know how to improve this situation without changing the original table structure.
Thanks a lot!

### Steps to reproduce (please include code)
<!--
We ❤ code! Point us to a minimalistic repro

[2021-08-06 12:26] #1817 closed

[2021-08-06 13:52] pp-tang opened #1822 "Layout Component Style Bug"
### Describe the bug

 Layout Class="app-layout"  don't find in "MainLayout.razor.css",  but in "MainLayout.razor" style is worked.

.app-layout {
  height: 100%;
}

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version 0.9.0

[2021-08-07 16:39] #1820 closed

[2021-08-07 21:02] dennisrahmen commented on #1822
Cloud you share more information on your problem?

Is you problem regarding CSS isolation? Is so, this issue may help you:
https://github.com/ant-design-blazor/ant-design-blazor/issues/732#issuecomment-739125806

[2021-08-08 10:58] #828 closed

[2021-08-08 15:05] kuznecovIT opened #1828 "Searching by date adds the current time"
### Describe the bug

If I use search by only date,
I would like have the passed value in `QueryModel<Data> query`, without the added time.

**Is it possible to somehow specify only the date without time (or with time set to 00:00:00)?**

With a green circle, I marked on screenshot below the time that I talk about and which would like to set to 00:00:00 while i use search only by date.

### Steps

[2021-08-09 04:28] ElderJames commented on #290
I found a library that might help https://github.com/hvalidi/ColorMine

[2021-08-09 13:20] dennisrahmen commented on #1828
This is probably a limitation of C#, there is currently only "DateTime" as datatype, so the time will always be attached to the date.

I think it is best to wait with this till .NET 6 is released, since in .NET 6 the DateOnly and TimeOnly types are added.
https://devblogs.microsoft.com/dotnet/date-time-and-time-zone-enhancements-in-net-6/#introducing-the-dateonly-and-timeonly-types

[2021-08-09 14:50] #1734 closed

[2021-08-09 15:18] ElderJames commented on #1793
Already fixed in master branch, please wait for 0.9.1 release.

[2021-08-09 15:18] #1793 closed

[2021-08-09 15:42] ElderJames commented on #1810
Thanks for contacting us @speyck

Please set `ValidateMode="@FormValidateMode.Complex"`

[2021-08-09 15:51] #1806 closed

[2021-08-10 04:17] kuznecovIT commented on #1828
I do not mind that the time was attached to the date (although I would like to have a type without time at the moment...),
I just would like to understand why it is not set at 11/1/1977 00:00:00 (In the above example, unnecessary time is added which further interferes with data processing)

[2021-08-10 12:14] NPadrutt commented on #31
@ElderJames
can I useone of the built in styles and just replace the primary color?  or would I land then on the "compile the less file yourself" solution?

[2021-08-10 15:16] ElderJames commented on #31
Use built-in styles is more easy, but that can't change the primary color. User need to compile the less file to change colors.

[2021-08-11 14:22] MuffinTheDragon opened #1832 "Update table total count when using filters"
Hi,

I want to get a count of how many rows are in a table after filtering. I've tried using the Total and @bind-Total properties, but they don't seem to update the count at all.

Is there some other way to accomplish this or could I be using the properties incorrectly?

[2021-08-12 01:31] powerumc commented on #823
css solution was not work.
ex) Modal is not show, Dropdown overlay `<Menu>` not show.

[2021-08-12 01:49] ElderJames commented on #823
@powerumc Hi, please open other issues.

[2021-08-12 02:48] reescal opened #1833 "TreeNode HasChildNodes is now internal on 0.9"
From 0.8.4 to 0.9 TreeNode's HasChildNodes was changed from public to internal. Line 42 [here](https://github.com/ant-design-blazor/ant-design-blazor/blob/e4e3bf24d5241d66b51ffd2479a2c26ad7e53e61/components/tree/TreeNode.razor.cs)
Was that intentional? If it was, what is the suggested replacement? DataItem.Items.Any()?
Also, if it is brought back in the future, maybe it should use .Any() instead o

[2021-08-12 12:23] tonyyip1969 opened #1834 "is the DotNetObjectReference will cause memory leak in DomEventService.cs?"
Try to understand the code below (extracted from ./components/core/JsInterop/DomEventService.cs from line 42 to 70), is the DotNetObjectReference will cause memory leak?

As referring to the article here https://www.syncfusion.com/faq/blazor/components/how-can-i-properly-dispose-a-component-in-blazor, the dotNetObject must be dispose to avoid memory leaks.

[code]

[code]

[2021-08-12 14:51] ElderJames commented on #1834
Thanks for contacting us @tonyyip1969 .

I think you are right, it would cause memory leak here.

Because we wanted to implement delegate callbacks, which was not a best practice at the time, this could be attributed to the fact that we hadn't implemented it perfectly in the early days.

Would you be interested in helping us fix it? Feel free to PR!

[2021-08-13 02:22] anranruye commented on #1828
@kuznecovIT thanks for contacting us.

In the new released 0.9.1 version, we set `ShowTime=true` for the DatePicker component in the filter so that you can now control the attached time. We will add a new table filter type `DateEquals` to solve the date-only scenario in the future.

The related DatePicker issue is tracked by this process: #1277

[2021-08-13 02:29] anranruye commented on #1832
@MuffinTheDragon thanks for contacting us.

Which version of ant-design-blazor are you using? Could you provide a minimal repro?

[2021-08-13 03:17] WTUIYV opened #1836 "Overlay is not in the correct position when the menu component is in the contracted state"
### Describe the bug

Overlay is not in the correct position when the menu component is in the contracted state

### Steps to reproduce (please include code)

You need to slide the mouse over the shrink menu
### Exceptions (if any)

<img width="821" alt="Snipaste_2021-08-13_11-11-16" src="https://user-images.githubusercontent.com/10544601/129299988-79bea212-4ac9-4fef-9258-ca97bb300468.png">
<img w

[2021-08-13 05:27] anddrzejb commented on #1836
I cannot recreate that with the current docs. I tried on firefox (90.0.2 & 91.0), chrome (92.0.4515.131) & edge (92.0.902.67). Can you try to refresh cache on your browser? If that wont help, can specify what browser & version are you using?

[2021-08-13 12:19] tonyyip1969 commented on #1834
Hi @ElderJames , I will try to fix it but before that, I not quite understand the logic in the else block, appreciated you can give me some hints.

[2021-08-13 14:40] ElderJames commented on #1834
Sure.
This method is mainly used to reduce JS interop and reuse js event subscriptions, so that the same event can be subscribed by multiple callback delegates.

[2021-08-13 15:43] zxyao145 commented on #1762
Hi, this will be fixed in PR #1838.
And I'm sorry, C# doesn't have undefined in JS, and null is used to set that neither the OK nor Cancel buttons are focused, so you must manually set the AutoFocusButton parameter to take effect.

[2021-08-14 07:23] anddrzejb commented on #1836
Ok, I managed to recreate this issue. It started happening once I did a lot of mouse movement. The fix is coming in my major overlay overhaul. The overhaul is functionally ready, now I need to optimize it and clean up the code. This may take me some time, especially that I will have to leave for couple of days soon.

[2021-08-14 17:17] ElderJames commented on #1733
Thanks for contacting us @362111880

You need to use two different instances for `Options`.

[2021-08-14 17:40] ElderJames commented on #1716
@anddrzejb I think it's cause by the `MixedMode` implement in #1394. The `Options` is changed, but the Options in `GetCurrentValueFunc` didn't.

[2021-08-14 19:03] anddrzejb commented on #1716
@ElderJames somehow I missed the reply. I will have a look at this once I finish my current work on overlay.

[2021-08-15 05:58] ElderJames commented on #1724
Hi @khanhtranchi , can you tell me if this solves your problem?

[2021-08-15 05:59] ElderJames commented on #1725
Hey @shashikantx , has there been any progress?

[2021-08-15 06:44] shashikantx commented on #1725
Hi @ElderJames , sorry, I haven't started anything yet.

I will finish by next weekend,

So I had few question. Hope you don't mind answering.

What will be name of the component?
I am assuming we are going with  `Label` here.

What will be the name namespace for the component?
It won't fall under "form" obviously because it will be independent of it and FormItem already has Label parameter.

Shou

[2021-08-15 08:42] ElderJames commented on #1725
I thinks if the Label just for imput-type components, you can make it as a renderfargment of `AntInputComponentBase`

[2021-08-15 09:08] shashikantx commented on #1725
Okay, I will get on to it.

[2021-08-15 14:29] ElderJames commented on #1694
Thanks for contacting us @EmilyGermanotta

I'm fix it in #1830, please try the 0.9.2 nightly build, or wait for it release.

[2021-08-15 15:03] #1691 closed

[2021-08-15 15:04] draculakkk opened #1844 "The problem with repeated refreshes of the current page"
when close the tab on the left side of the current tab, the current page refreshes again, and the right does not,the tab is opened from the menu

[2021-08-15 15:06] ElderJames commented on #1844
I will take a look at it.

[2021-08-16 08:28] shirleen1234 commented on #1762
Noted, thanks a lot.

[2021-08-16 14:22] MuffinTheDragon commented on #1832
Hi,

I am using version 0.8.4. Here's a snippet example. The default total is 3, but if I try to filter the table by Tag and say pick "Test", there's only one result that shows up in the table. But the total still says 3. Is there a way for the total to become 1?

[code]

[2021-08-16 14:31] ElderJames commented on #1833
Thanks for contacting us @reescal .
You can use `IsLeaf` to determine if the node has children nodes. If `IsLeaf=false` then it has  children nodes.

[2021-08-17 03:06] JohnHao421 opened #1846 "Tag component style parameters are not rendered"
### Describe the bug

Tag component style parameters are not rendered

### Steps to reproduce (please include code)

If your color option is before the style option, like this:
[code]
The rendered result is missing a custom Style (margin-left:5px;) :
[code]

### Exceptions (if any)

Custom Styles should take effect

### Further technical details
- AntDesign Nuget Package version :  0.9.0

[2021-08-17 03:09] JohnHao421 commented on #1814
I've fixed this problem because `GetStyle` was called too early in color property and a PR will be committed later

[2021-08-17 03:10] JohnHao421 commented on #1846
I've fixed this problem because GetStyle was called too early in color property and a PR will be committed later

[2021-08-17 12:47] speyck commented on #1810
@ElderJames graet, thanks! It works perfectly now.

[2021-08-17 12:47] #1810 closed

[2021-08-17 14:15] #1846 closed

[2021-08-17 14:20] ElderJames commented on #1821
Thanks for contacting us @LiuyangRY

We have built in a lot of functionality to the Column component, which is performance-depleting compared to native html.
So if you want to have so many columns, you necessarily need to use the most primitive way.

Our table can't use cells with simplified functionality for now, so I suggest you use the native html table element.

[2021-08-17 14:21] ElderJames commented on #1814
Thanks for contacing us @quirynen

Would you be interested in helping to fix this problem?

[2021-08-17 14:24] ElderJames commented on #1789
With smaller screens I recommend using the device's native picker first. That is, we provide a property that is selective to use the native picker.

[2021-08-17 15:36] #1772 closed

[2021-08-17 16:25] #1674 closed

[2021-08-17 18:42] anddrzejb commented on #1789
If we ever follow @Zonciu sugggestion to rewrite the datepicker, maybe we could make a tabbed version of the range picker?

[2021-08-18 18:37] anddrzejb commented on #823
Since I got myself pretty familiar with the `Overlay` component, I think it should be fairly simple to add `NoAnimation` (or similar) parameter to it and expose it in all components that are using the `Overlay`. I am anyway planning to do some additional performance work in that area so this might be a good moment to add the aforementioned parameter.

[2021-08-18 19:13] SapientGuardian opened #1852 "Upload component documentation does not reflect implementation"
### Describe the bug

https://antblazor.com/en-US/components/upload#API

The documentation for the Upload component describes a different API than what is implemented. For example, it says that the http method can be customized with the `method` parameter, but no such parameter exists on the Upload component, and the underlying typescript method (https://github.com/ant-design-blazor/ant-design-bla

[2021-08-19 01:39] anranruye commented on #1832
@ MuffinTheDragon You can try the new 0.9 version.

[2021-08-19 01:39] anranruye commented on #1832
@ MuffinTheDragon You can try the new 0.9 version and use `@bind-Total`.

[2021-08-19 01:39] anranruye commented on #1832
@ MuffinTheDragon You can try the new 0.9 version and use `@bind-Total`.

[2021-08-19 01:40] anranruye commented on #1832
@ MuffinTheDragon You can try the new 0.9 version and use `@bind-Total`.

[2021-08-19 01:40] anranruye commented on #1832
@ MuffinTheDragon You can try the new 0.9 version and use `@bind-Total`.

[2021-08-19 01:54] ElderJames commented on #1852
Thanks for contacting us @SapientGuardian

Our documentation was originally copied from antd react, so there may be some APIs that have not been implemented.
If you need to use another method, feel free to submit a PR to add this attribute!

[2021-08-19 15:25] iamSmallY opened #1854 "Table date filter should just use year, month and day to filter"
It's a similar problem with #1806 .

I think a filter with time will make it difficult for users to use. Usually the data is filtered at the day level, not accurate to the second. So the time part should be removed here, and the problem in #1806 should be avoided.

我认为一个带时间的筛选器会让用户使用起来很困难, 通常筛选数据都在日期级别上进行, 而不会精确到秒. 所以此处应该去除时间部分,并避免发生如 #1806 中的问题.

If you agree with this issue, I am glad to try to

[2021-08-19 16:10] MuffinTheDragon commented on #1832
Yup, switching to version 0.9.2 works! Thank you.

[2021-08-19 16:10] #1832 closed

[2021-08-19 18:30] #1833 closed

[2021-08-20 11:37] quirynen commented on #1542
You can take a look at SwipeArea in MudBlazor and the way it is handled and come with an appropriate solution (either for you or PR for Antdesign)

[2021-08-20 12:02] quirynen commented on #1814
Hi apparently it was already fixed, I received this in my mail _"I've fixed this problem because GetStyle was called too early in color property and a PR will be committed later"_

[2021-08-20 13:37] ElderJames commented on #1814
@quirynen This is another issue #1846 .

[2021-08-20 14:04] ElderJames commented on #1772
@scugzbc Hi, it has been fixed in 0.9.2.

[2021-08-20 17:25] #1852 closed

[2021-08-21 05:48] ElderJames commented on #1854
Yes, PR is welcome!

[2021-08-21 05:50] ElderJames commented on #1854
It may be necessary to implement a separate column, `DateColumn` or `TimeColumn`

[2021-08-21 10:22] iamSmallY commented on #1854
I plan to implement a `DateColumn`, because the existing `Column` does not pay attention to the number of milliseconds in the data when Filtering, resulting in the Equal option not working. This may be a difficult job for me, I will try my best to complete it.

[2021-08-22 11:24] #1700 closed

[2021-08-22 15:03] #1854 closed

[2021-08-23 08:13] lungchito opened #1861 "AntDesign 0.9.0 Tree组件 Draggable的问题"
nuget package AntDesign 0.9.0
Microsoft Edge

问题再现：[(https://ant-design-blazor.gitee.io/zh-CN/components/tree#components-tree-demo-draggable)]

Tree组件Draggable的问题：
1、最顶层的Node，在同一级拖动，无效；
2、最顶层的Node，往子级拖动，顶层的Node依然存在；
3、子级Node，往顶层Node拖动，子级Node消失；

[2021-08-23 12:52] ElderJames commented on #1813
This dropdown can not be closed.

![auto-complete-cant-close](https://user-images.githubusercontent.com/7550366/130450194-a1cbfd9f-36d5-4bc7-a5f7-5dd3e2ae91ed.gif)

[2021-08-23 13:20] #1716 closed

[2021-08-23 15:49] anddrzejb commented on #1821
From what I can see in the table & column component, there are at least 2 low hanging fruits in terms of performance optimizations:
1. Avoid using anonymous lambda's that capture variables inside a loop (in tables there are almost always loops, even if not directly) [(source)](https://github.com/dotnet/aspnetcore/issues/18919#issuecomment-815019336)
2. Prefer primitive types in `[Parameter]`.
2a.

[2021-08-23 16:36] anranruye commented on #1821
@anddrzejb

One thing I am confused is: is it reasonable for the components to rerender when scroll? In fact, I'm not sure whether they really rerender or not.

One possibility is that the components don't need to rerender, but there are too many component objects in the page, which is the real cause of low performance.

And I didn't compare the performance of raw html and table/column component y

[2021-08-23 16:52] anddrzejb commented on #1821
@anranruye Actually I think you are right. The whole table is probably rendered before scrolling happens. If we ever manage to do virtualization, then scrolling might indeed be a factor, but should not be a factor now.
Nevertheless - I think my points are still valid for performance reasons, even if not for the scrolling. I am curious though what will your raw html tests show.

[2021-08-24 02:15] ElderJames commented on #1821
I have been avoid the rendering when table scroll.

https://github.com/ant-design-blazor/ant-design-blazor/blob/master/components/table/Table.razor.cs#L366

@LiuyangRY Please try 0.9.2

[2021-08-24 02:38] LiuyangRY commented on #1821
@ElderJames
I have updated the ant design blazor version from 0.9.0 to 0.9.2, but the browser console shows many errors "'domInfoHelper' was undefined".
How can I solve the problem?
Here is the screenshot about the problem:
![Snipaste_2021-08-24_10-36-53](https://user-images.githubusercontent.com/39262714/130547059-67caf2a8-cf35-4dee-98d6-02f1fe7512a5.png)

[2021-08-24 02:40] ElderJames commented on #1821
@LiuyangRY Maybe you nee to clear the cache of browser.

[2021-08-24 03:29] LiuyangRY commented on #1821
Now, The vertical scroll is all ready fit my requirement, but the horizontal scroll button will lag a moment when leaving the endpoints( both left and right arrow icon). if the scroll action is not starting from the endpoints, the performance of scroll will be much better.
Maybe the opportunity of rendering during scroll can be changed to improve the performance a lot.

[2021-08-24 04:32] bqhai199x opened #1867 "Get file path component Upload"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative solutions you've considered.

### Additional context
Add any other context or screenshots about the feature requ

[2021-08-24 04:59] bqhai199x opened #1868 "EnumSelect DefaultValue bug"
Im trying:
[code]
But it's not working, it allways take first option

[2021-08-24 05:03] bqhai199x opened #1869 "Texarea bug autosize and minrows"
When I using AutoSize and MinRows at once => MinRows not worked

[2021-08-24 08:42] anddrzejb commented on #1867
Could you post a minimal repro of what exactly you are trying to do?

[2021-08-24 11:34] bezysoftware commented on #995
While this might be a VS issue, your doc samples are broken because of it. It's plain confusing to copy-paste something from official documentation and have compilation fail.

[2021-08-24 14:32] SapientGuardian opened #1870 "InputNumber DefaultValue has no effect"
### Describe the bug

The `DefaultValue` parameter of the `InputNumber` component has no effect

### Steps to reproduce (please include code)

[code]

Neither of the components in the above example will show 15 in their text box, nor will they revert to 15 if a non-numeric input is entered.

### Exceptions (if any)

No exceptions are thrown.
### Further technical details
- AntDesign Nuget Package

[2021-08-25 03:48] bqhai199x commented on #1867
![image](https://user-images.githubusercontent.com/72694661/130723077-6045b4eb-bff8-4f86-b44d-6b4333ebcb39.png)
My component

![image](https://user-images.githubusercontent.com/72694661/130723130-4f5a0287-0efb-462e-bc9f-65e01bc9e363.png)
My code

![image](https://user-images.githubusercontent.com/72694661/130723046-a7e21e1f-e523-4a0f-8cef-45fbc65f8839.png)
My result

But I will result with full pa

[2021-08-25 05:22] ldsenow opened #1873 "ExpandIconPosition of collapse is not working"
Hi there,

Setting Collapse component's ExpandIconPosition to 'right' stops working in v0.92.

Anyone has the same issue?

[2021-08-25 06:16] anddrzejb commented on #995
@bezysoftware you are correct. There is so much to do in the project and not enough contributors. I understand this can be extremely frustrating when something that should work does not and the answer is buried deep in a closed issue. Do you think you could help us with improving the docs?

[2021-08-25 06:32] ElderJames commented on #1867
You may need to use the plain input file to implement that.

[2021-08-25 07:05] LiuyangRY commented on #1821
I have also found that the paging component can't work well. The table could not render new data immediately when I click the other page number, I have to wait a few moments although the data have already been fetched from server.
I guess this is also a render problem.

[2021-08-25 07:07] ElderJames commented on #1821
Yes, we have fixed it at the last change.

[2021-08-25 07:24] LiuyangRY commented on #1821
Thanks for all replies and help, it do help me a lot, best wishes to all of you.

[2021-08-25 08:50] shashikantx commented on #1725
@ElderJames @anranruye
Hi, I am trying to run `npm run` as instructed in docs for development, this is the error facing.

[code]

![image](https://user-images.githubusercontent.com/28926964/130759511-fcd35aab-90d0-479c-a336-ad91137a445f.png)

Thanks

[2021-08-25 10:08] nikolaykrondev opened #1874 "Table filter and sort does not work"
### Describe the bug

After the latest release the table filtering and sorting stopped working.

### Steps to reproduce (please include code)
With latests nuget version `0.9.2` run table example with sorting and filtering -> select filter or sorting on any column -> nothing happens.
[Reproduce on demo site in data index section](https://antblazor.com/en-US/components/table#components-table-demo-da

[2021-08-25 10:09] nikolaykrondev commented on #1874
Seems like the bug was introduced with the latest modifications in `Table.razor.cs` when you moved to `InternalRender`.

I will prepare a PR that fixes it, is it okey @ElderJames ?

[2021-08-25 10:13] ElderJames commented on #1874
Thank you, please check this commit https://github.com/ant-design-blazor/ant-design-blazor/commit/e1e6111f35e718236aa441a25d7cb239363b7bd2 whether have fixed this issue. If not, welcome to PR.

[2021-08-25 10:19] ElderJames commented on #1725
Please rebuild the `AntDesign.Docs.Build` project, it would generate some files.

[2021-08-26 08:12] wangj90 opened #1878 "When Select component uses ItemTemplate, the drop-down display still uses the value of LabelName and only after selection does it use the definition of the ItemTemplate."
### Describe the bug

When Select component uses ItemTemplate, the drop-down display still uses the value of LabelName and only after selection does it use the definition of the ItemTemplate.

### Steps to reproduce (please include code)

Use the Select component in the FormItem under the GridCol under the Row of the Form component under the ChildContent under the Card component

![image](https://

[2021-08-27 13:11] DefinitelyADev opened #1880 "The sub menu on quick hover gets stuck"
As you can see from the following when the sider is collapsed and you move the mouse quickly to trigger the hover effect the menus get stuck in some cases. On slower machines the effect is much more viewable.

![image](https://user-images.githubusercontent.com/20267678/131130968-03481352-f87e-436d-aa3e-a42345b6cdaa.png)

[code]

### Exceptions (if any)

### Further technical details
- AntDesign Nu

[2021-08-27 14:21] #1878 closed, assigned to nobody

[2021-08-27 15:05] iamSmallY opened #1881 "Refactor the implementation of DefaultValue"
### Is your feature request related to a problem? Please describe.
如 #1872 中所讨论的, 目前的 `DefaultValue` 实现并不符合文档所述, 而将其与文档统一似乎也并不是一个好的提案. 于是此 issue 打算重构 `DefaultValue` 的实现, 将其改为存储初始化时传入该组件的 `Value` 的值, 并在调用 `Reset` 时将 `Value` 修改为该存储的值.

As discussed in #1872, the current implementation of `DefaultValue` does not conform to the document, and it does not seem to be a good proposal to make it consistent

[2021-08-28 10:35] #1874 closed

[2021-08-28 12:25] anranruye commented on #1881
Are you in the DingTalk(钉钉) group? We can have more conversation there.

[2021-08-28 12:29] iamSmallY commented on #1881
No, I'm not, how can I join?

[2021-08-28 12:32] iamSmallY commented on #1881
Oh, I have found it in README.md

[2021-08-28 15:28] #1762 closed

[2021-08-29 02:05] ldsenow opened #1888 "Upload control's customRequest is missing"
Hi there,

Is there a plan to develop the customRequest handler in the future? I would like to handle the request with customized code.

BTW, somehow the Headers arent sent to the server side even i set them.

[2021-08-29 02:07] ldsenow commented on #1873
So is it going to be fixed in near future?

[2021-08-29 04:12] ElderJames commented on #1888
Yes, this feature is in the plan.

Could you try to help?

[2021-08-29 11:32] iamSmallY opened #1894 "The default DateTime filter in Table conflicts with some third party library"
### Describe the bug

The new feature in #1864 conflicts with the third party library `Pomelo.EntityFrameworkCore.MySql`, since it can't be translated to the MySql statement.

### Steps to reproduce (please include code)

Bind the `DataSource` of the table to the DBSet and use the default filter.

### Exceptions (if any)

[code]

### Further technical details
- AntDesign Nuget Package version 0.9.

[2021-08-29 13:28] #1733 closed

[2021-08-29 14:34] boukenka commented on #1761
Closing the issue.

[2021-08-29 14:34] #1761 closed

[2021-08-30 00:29] ldsenow commented on #1888
Hi @ElderJames

I might be able to give it a go but it needs a bit of communication before i could start.
Just chat via Github or other channel?

[2021-08-30 01:38] ElderJames commented on #1821
@LiuyangRY The pagination issue has been fix in 0.9.3, please have a try.

[2021-08-30 01:58] ElderJames commented on #1888
Yes, we can discuss it right here.

[2021-08-30 02:10] LiuyangRY commented on #1821
@ElderJames I have tried the pagination component, it does work better than before.
The horizontal scroll still lags a moment when the scroll button reaches the left or right endpoint.
![image](https://user-images.githubusercontent.com/39262714/131275737-70de0193-e767-48b5-95e8-6e2875d55d6b.png)

[2021-08-30 02:26] ElderJames commented on #1821
This is because when the Fixed column style is displayed, the table is refreshed once.

[2021-08-30 02:36] LiuyangRY commented on #1821
How can I set the table to solve the problem?

[2021-08-30 02:40] LiuyangRY commented on #1821
This means the problem could not be avoided  if I use the fixed column?

[2021-08-30 02:42] LiuyangRY commented on #1821
@ElderJames  Is this means the problem could not be avoided if I use the fixed column?

[2021-08-30 03:07] ElderJames commented on #1821
We could probably put this logic into JS to handle it, which would improve performance

[2021-08-30 14:48] RCSAppRepository opened #1896 "Checkboxes are not being set when opening a table."
### Describe the bug

The table in the modal has checkboxes that i want to have set based off what the user previously selected. When i attempt to open the modal with the table, i'm getting the following error:

**System.NotSupportedException: To use SetSelection method for a table, you should add a Selection component to the column definition.**

this is the table for the modal
 <AntDesign.Table

[2021-08-31 00:36] rabberbock opened #1898 "Slider Min and Max not Reflected in UI"
### Describe the bug

When using the ant design slider with Min and Max set I have run into the following two issues:

- The Slider shows more than the Max. If the Max is set to 50 and the current value is 50, the Slider indicates that that you can increase the slider, but there is no more to go on the slider. I would expect that the Slider should fill till the Max. This is only a problem when the

[2021-08-31 01:55] ldsenow commented on #1888
I will come back with you with my questions over the weekend.

[2021-08-31 02:12] ldsenow opened #1899 "Experienced exception while using generic type as TItem in Select component"
Hi guys,

I try to bind a list of Option<int?> (`Option<T>` is defined by me and it is a generic type with 2 props Value and Text) to Select as bellow

[code]

I am hitting an exception which is thrown at line 192 bellow

![image](https://user-images.githubusercontent.com/177045/131429143-3cdea301-7639-482c-835e-7b8b3ecf2491.png)

Because TItem is Option<int?> and TItemValue is int?, obviously the

[2021-08-31 02:28] anranruye commented on #1899
@ldsenow thanks for contacting us.

You should use
[code]

[2021-08-31 02:43] lxyruanjian opened #1900 "The Form component modifies the bound Model to throw an exception in Rule validation mode"
### Describe the bug

The `Form` component modifies the bound `Model`, and its `FormItem` component is disposed and a new `FormItem` is regenerated to add, but the old `FormItem` component is disposed without being removed from the Form's `_formItems`, which is threw an exception when executing `Form RulesModeOnFieldChanged`

### Steps to reproduce (please include code)
This is my test code：
FormT

[2021-08-31 03:32] ldsenow commented on #1899
@anranruye It works after changing the TItem type. However, why do I need to set the DefaultValue? Otherwise, the item is selected on initial load. I thought the bind-Value should do the job

[2021-08-31 14:46] #1900 closed

[2021-08-31 16:13] #1821 closed

[2021-08-31 21:08] RCSAppRepository opened #1903 "Table pagination is triggering HandleCancel in a form"
### Describe the bug
Upgraded to 0.9.3,  When changing pages within the table, the HandleCancel is being triggered by the switching of pages in the table.

### Steps to reproduce (please include code)

[code]

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version: 0.9.3
- Include the output of `dotnet --info`: .net 5.0
- The IDE (VS / VS Code/ VS4Mac) you're runn

[2021-09-01 14:40] rabberbock commented on #1898
I added a POC of what the changes may look like to enable this behavior.
https://github.com/rabberbock/ant-design-blazor/commit/b23081f0056d79491e249461f073a283971b9a36

[2021-09-01 14:58] anddrzejb opened #1905 "Select: Delayed DataSource resets Value"
### Describe the bug
If `@bind-Value` parameter is set and `DataSource` is set in for example `OnInitializedAsync()` lifecycle event, then the value is reset.

### Steps to reproduce (please include code)
Use case: 2 `Select` components, when first `Select`'s component `DataSource` depends of some value delivered to the host component & second `Select`'s component `DataSource` depends of value of

[2021-09-03 01:45] rennner opened #1909 "tree component ,how to get childnodes of a spec node and how to get checkednodes"
1、how to get  childnodes and childnode count;
2、how to get checkednodes;

请问如何获取一个node的child node（TreeNode<>类型） 列表，以及勾选的所有的node（TreeNode<>类型） ；
最新版本这个属性不见了，使用很不方便；另外tree的Nodes属性为什么是RenderFragment（更容易让人理解应该是List<TreeNode<>>类型）？

[2021-09-03 04:35] ldsenow commented on #856
Although the issue has been closed, I have question here is why I have to use @bind-Value?

Cant I use Value=@Value and ValueChanged=@ValueChanged? Is there a reason?

I create a custom component which wraps Select control and set the props as above. It gives me error Unhandled exception rendering component: Please use @bind-Value in the control with generic type....

[2021-09-03 07:13] ldsenow commented on #1899
I figure out why. My DataSource is getting from server side and is set after the Value is set. It is causing the item is not selected.

[2021-09-03 07:32] anranruye commented on #1899
Then #1906 may fix this.

[2021-09-03 08:42] ldsenow commented on #1899
@anranruye thanks.

I work around it by checking if the DataSource has been initialized before showing the Select.
The other issue did confirm my assumption. If i followed the issue correctly, the issue is about when DataSource is changed what the behaviors should be.

This is actually quite complex and I think keep a consistent behavior is better than the lib to handle all.

I am happy if the beh

[2021-09-03 09:51] LiuyangRY opened #1911 "Selection component lags a moment after clicked"
### Describe the bug
I have reported a issue [#1821](https://github.com/ant-design-blazor/ant-design-blazor/issues/1821), and I find the selection component also lags in a table with many columns.
When I show 100 rows of data, I have to wait about 3 seconds after selecting. If the rows are increased to 10, the lag is also obvious.
Here is the screenshot of 10 rows of data selection:
![SelectionLag

[2021-09-03 10:22] LiuyangRY opened #1912 "Select component(tags mode) data source is not correct"
### Describe the bug
I use the select component(tags mode), changing the data source of the select component according to a selected value. While the data source is not showed correctly as I wanted, I watched the value but didn't find the reason,.
### Steps to reproduce (please include code)
![QueryCondition](https://user-images.githubusercontent.com/39262714/131989411-561a4b4c-5009-4fad-a42a-bc60

[2021-09-03 10:25] LiuyangRY commented on #1912
I am sorry for the code format, it is my first copying code.

[2021-09-03 10:28] LiuyangRY commented on #1912
`<Select Mode="tags" EnableSearch="true" MaxTagCount="5" TItem="string" TItemValue="string" @bind-Values="@context.Area" AllowClear="true">
<SelectOptions>
    @if (AreaList?.Any() ?? false)
     {
        @foreach (AreaDTO area in AreaList)
        {
            <SelectOption TItemValue="string" TItem="string" Value=@area.AreaID Label=@area.AreaID />
         }
    }
</SelectOptions>`

[2021-09-03 12:08] anranruye commented on #1912
@LiuyangRY thanks for contacting us.

When you use a foreach or for loop, you should add `@key` attribute to the component in the loop.

However, I'm not sure this can solve your issue. I recommend you to use the DataSource approach of Select component. For your use-case, you can just use a string collection.

You can post your code surrounded by ` ` ` or ` ``` `

[2021-09-03 12:36] ldsenow opened #1913 "Table OnChange event will trigger twice if PageSize is not 10"
Hi guys,

My report is as title.

![image](https://user-images.githubusercontent.com/177045/132005155-52874402-2ab4-44b5-96e2-a73b0c4b2f97.png)

I set the PageSize to 100 and the OnChange event is being triggered twice.

Now I have to compare the query model before i request data from server side.

[2021-09-03 12:49] ElderJames commented on #856
Hi @ldsenow ,please create another issue.

[2021-09-05 07:36] anddrzejb commented on #1869
@bqhai199x Sorry, I am unable to recreate the issue. I tried on both wasm & server-side:
![textAreaAutosizeMinRows](https://user-images.githubusercontent.com/6518006/132119236-7c8e06fb-6c7f-43af-9892-85dda826b7c8.gif)

What version of AntBlazor are you using? Try clearing browser cache. If the problem persist, can you produce a minimal repro?

[2021-09-05 07:39] anddrzejb commented on #1912
@LiuyangRY Can you post a minimal repro?

[2021-09-05 08:02] anddrzejb commented on #1898
Can you create a PR?

[2021-09-05 09:03] bqhai199x commented on #1869
9.0 AutoSize = false => MinRows not worked

[2021-09-05 10:13] #1905 closed

[2021-09-05 10:17] #1536 closed

[2021-09-05 12:39] anddrzejb commented on #1869
From what I can tell, `MinRows`/`MaxRows` are the parameters of AutoSize. So basically you cannot have `MinRows`/`MaxRows` and `Autosize = false`. This probably need to be included in the documentation. Also we should produce a compiler warning when this situation occurs.
Can you explain to me exactly what is you are trying to achive? What kind of behavior you were expecting when `AutoSize = false

[2021-09-06 02:21] LiuyangRY commented on #1912
@anranruye @anddrzejb Thanks for your suggestions, I have added the ```@key``` attribute, but it does not solve the problem. I will post the code so that you can track the problem easily.
Test.razor :
[code]
Test.razor.cs:
[code]

[2021-09-06 08:33] anranruye commented on #1912
@LiuyangRY confirmed this is a bug.
use
[code]
to workaround.

[2021-09-06 08:51] LiuyangRY commented on #1912
@anranruye I attempted this solution and I found the highlight of selected items disappeared.

[2021-09-06 09:02] anranruye commented on #1912
@LiuyangRY do you change `null` in `get => string.IsNullOrWhiteSpace(area) ? null : area?.Split(",");` to `Array.Empty<string>()` ?

[2021-09-06 09:12] LiuyangRY commented on #1912
@anranruye Sorry, it's my inattention. Now it works normally. I want to know is this will be fixed one day so that I can avoid using ```Task.Delay(1)``` in my code?

[2021-09-06 09:46] anranruye commented on #1912
@anddrzejb this one is similar to #1536 and #1719, we only solved the situations for single value(default mode), but not for multiple values.

@LiuyangRY Of course we will, but now we don't have a plan. Welcome to open a pr if you are interested in this issue.

[2021-09-06 10:05] LiuyangRY commented on #1912
@anranruye I am busy on rebuilding the company's project, what I can do is just report some issues during process.  I am glad to contribute to ant-design-blazor one day.
Thanks for your help and contribution.

[2021-09-06 10:25] anddrzejb commented on #1912
@anranruye I tested the #1536 for the `multiple` (and also written a bUnit [test for that scenario[(https://github.com/ant-design-blazor/ant-design-blazor/blob/2f792b89ae4235930c4cd391dd6bd1922c8c83d5/tests/AntDesign.Tests/Select/Select.SelectOptions.Tests.razor#L70)) and it works as it should.
I just made a modification to my #1719 issue recreation so it also contains a scenario for `multiple` an

[2021-09-06 10:26] bqhai199x commented on #1869
I think <Texarea MinRows="4"/> same <texarea rows="4"></texarea> but I don't want it auto size

[2021-09-06 10:48] anddrzejb commented on #1869
I actually started working on adding `Rows` property. But for now a workaround that I think should get you what you want is to put `MinRows = 4` & `MaxRows = 4`.

[2021-09-07 05:22] ElderJames commented on #1547
antd 4.17 has added the CSS variable and we can follow it up.

https://ant.design/components/config-provider/#components-config-provider-demo-theme

[2021-09-07 05:46] #1869 closed

[2021-09-07 17:14] anddrzejb commented on #1349
I never worked with react (except some tutorials) and I have no clue what is forcerender 🤔

[2021-09-08 02:49] MarvelTiter opened #1924 "how to use MenuItem.RouterLink correctly"
### Describe the bug

`MenuItem.Title `  won't hide while collapsed and set `RouterLink`

### Steps to reproduce (please include code)

remove `RouterLink` will work fine
[code]
### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2021-09-08 08:34] anranruye commented on #1828
You can now use the new `SameDate` filter type to only compare the Date part.

[2021-09-08 09:04] #1828 closed

[2021-09-08 10:07] anddrzejb commented on #1753
InputNumber for smartphones has been solved by PR #1923.

[2021-09-08 10:39] anddrzejb commented on #983
Closed due to lack of interaction from the OP.

[2021-09-08 10:39] #983 closed

[2021-09-08 10:43] anddrzejb commented on #1753
@ElderJames I did not close this, because there were some other requests except the one in the title, that as far as I know were not yet met. Maybe it would be better to keep this one open for reference?

[2021-09-08 10:48] ElderJames commented on #1753
Ok, it maybe need to change the title.

[2021-09-09 04:56] #1834 closed

[2021-09-09 05:56] SmRiley opened #1928 "The datePicker will extend beyond the edge of the screen"
### Describe the bug
The date picker goes beyond the edge of the screen when it is in the extra part of the card
![A5(LS5F0HGVNV7%E7BA$MRC](https://user-images.githubusercontent.com/45205313/132630598-2f503d78-2868-4c9c-b71e-7ecb498b92a5.png)
This should be the normal style-by antd pro:
![(Z{)25T )Q8HNUW%V6QOC{2](https://user-images.githubusercontent.com/45205313/132630621-7a5345ca-6e48-4073-92bd-

[2021-09-09 06:01] anddrzejb commented on #1928
This issue will be solved by PR #1848, at least to some degree. In scenarios mentioned in #1789 (mobile device & range picker), we do not have any solution yet. You can test by running the preview in the aforementioned PR.

[2021-09-09 06:51] bezysoftware opened #1929 "TimelineItem missing Label property"
TimelineItem is missing a Label property: https://ant.design/components/timeline/#components-timeline-demo-label
There is a demo for it on https://antblazor.com/en-US/components/timeline#components-timeline-demo-Label but it's showing the timestamp inline, not using Label

[2021-09-10 08:28] ww156 commented on #795
这个问题怎么解决的呀

[2021-09-10 09:26] #1909 closed

[2021-09-10 10:59] ElderJames commented on #795
You need to warp the components with a div or spam.

[2021-09-10 11:06] #1075 closed

[2021-09-10 11:06] #1388 closed

[2021-09-10 11:06] #1557 closed

[2021-09-10 11:06] #1613 closed

[2021-09-10 11:06] #1672 closed

[2021-09-10 11:06] #1836 closed

[2021-09-10 11:06] #1880 closed

[2021-09-10 11:06] #886 closed

[2021-09-10 11:06] #1414 closed

[2021-09-10 11:06] #1565 closed

[2021-09-10 11:06] #1928 closed

[2021-09-11 06:04] #1913 closed

[2021-09-11 06:08] ElderJames commented on #1873
Would be fixed in 0.10.0

[2021-09-11 06:11] ElderJames commented on #1822
@dennisrahmen Would you please to help improve the FAQ document?

[2021-09-11 06:15] ElderJames commented on #1903
@anddrzejb have you fix this issue with PR #1848 ?

[2021-09-11 07:29] dennisrahmen commented on #1822
@ElderJames Sure, I will look into it next week.

Maybe you could also think about moving the Wiki from GitHub to the Docs section on antblazor.com, so there is only one stop to check if a question was already asked and answered.
Then you could link the Docs in the GitHub Wiki.

I could also add a "Wiki" section to the Docs but would need help with the contents of the current GitHub Wiki since it

[2021-09-11 16:37] seagullcz commented on #1425
Hello @danich93 .

Do you have any news about this issue from JetBrains or Ridder forum? I am dealing with this error right now and and it is bloody annoying.

[2021-09-11 16:39] danich93 commented on #1425
@seagullcz I reported it to JB, they are already aware of this issue, but there is no clear indication of when it will be fixed. It is probably a very low priority for them.

[2021-09-11 17:13] #1924 closed

[2021-09-11 18:51] anddrzejb commented on #1903
@ElderJames The only thing I touched in pager was the boundary adjustment. I did not really pay attention to this issue 😞 .

[2021-09-11 22:52] #1210 closed

[2021-09-12 17:09] anddrzejb commented on #1557
@mrcameron999 Would you be so kind to test your project against 0.9.4 release and let us know if the speed has improved?

[2021-09-12 17:10] anddrzejb commented on #1789
@datnguyen89 Latest release 0.9.4 has changes that try to reposition the picker. The problem of picker being to large for the screen still persists...

[2021-09-12 17:11] anddrzejb commented on #861
@mutouzdl Could you possibly confirm this issue had been solved by PR #1848?

[2021-09-13 00:17] rabberbock commented on #1898
@anddrzejb Will do!

[2021-09-13 14:05] #1929 closed

[2021-09-13 14:10] ElderJames commented on #1903
cc @zxyao145

[2021-09-13 15:31] zxyao145 commented on #1903
@RCSAppRepository Hi,
I'm sorry, could you provide a more detailed description or demo? This is normal for me in the following simple and crude
 demo. I don't know how to reproduce your problem. Thanks l lot.

BTW, I use the latest master branch code.

https://user-images.githubusercontent.com/24973084/133112292-eb7cea74-2afa-42ab-a501-b6ac792a7287.mp4

[2021-09-13 16:10] gemSender opened #1943 "The sorting function of the table does not work for children items"
![image](https://user-images.githubusercontent.com/6006458/133118923-b3797f91-9fe9-435f-9288-d610a0a7c061.png)

![image](https://user-images.githubusercontent.com/6006458/133119123-d2c16c4a-7e12-40df-b311-74b7de4ecd27.png)

[2021-09-14 00:16] traiannemes commented on #1021
I am having the same issue, especially if I type fast, some of the letters are removed then re-inserted, but because of fast typing they are not inserted anymore, so I end up with misspelled words. And yes, back-spacing is part of it. If I remove the input event listener from Chrome debugging tools then all good, but that event is handled by blazor.server.js

[2021-09-14 00:44] ElderJames commented on #1021
Please try to set `DebounceMiliseconds=0`, then the input would bind the data on blur.

[2021-09-14 00:50] traiannemes commented on #1021
I just tried, if I set it to zero then it's the worst, most of the characters are remove as I fast type. If I set DebounceMiliseconds to 600 it's almost ok, only occasionally I get one removed.

[2021-09-14 02:31] ElderJames commented on #1021
You are right, the mechanism of binding on input cannot be turned off, but it can be delayed.

[2021-09-15 06:40] anranruye commented on #1911
I do find some mistakes in the source code. However I'm not sure they are related to this issue. Can you post a code snippet to help reproduce the issue?

[2021-09-15 07:24] LiuyangRY commented on #1911
@anranruye Here is a demo for this issue.
test.razor:
[code]
test.razor.cs:
[code]

[2021-09-15 07:26] LiuyangRY commented on #1911
@anranruye Change the page size to 100 and the lag will appear.

[2021-09-15 08:47] anranruye commented on #1911
目前看来问题在于当进行dom更新的时候, 我们总是对整个Table组件进行重新渲染, 所以当行数或列数很多的时候. 会有显著的性能下降

Currently I think the problem is that when DOM is updated, we always re-render the entire table component, so when there are many rows or columns, we can see a significant performance degradation.

[2021-09-15 09:03] LiuyangRY commented on #1911
@anranruye I have also reported an issue([issues(#1821)](https://github.com/ant-design-blazor/ant-design-blazor/issues/1821)) which may be the same reason as this one. I update the ant design to the latest version just now, and those problem have been solved at all. I think this issue could be over came via the same way.

[2021-09-16 07:00] Ashhhhhh520 opened #1948 "An exception to the configuration group Field for AntDesign.Chart-GroupedColumn"
There is test data at the bottom

1.When GroupField maps the data type of this field is int, Then Charts' grouping feature will fail, and why the configuration of the field requires lowercase initials.
![image](https://user-images.githubusercontent.com/31700716/133564954-446f8955-a4ed-47e8-b43c-e3ea4a727c15.png)

When the data type is string , it work good.
![image](https://user-images.githubuserc

[2021-09-16 09:08] shashikantx commented on #1725
@ElderJames
Sorry for my inactivity, got caught up in some work.

I was able to get around with this yesterday,
So I approached the problem as you suggested. I added a render fragment to AntInputComponentBase.cs

[code]

and Added label to render tree in `BuildRenderTree` of Input.cs
[code]

I was able to successfully add labels to Input via this method like this.

[code]

But I see a problem in t

[2021-09-16 11:31] anddrzejb commented on #1644
A bit late but just did some work on the menu. First, don't use `Template`. Switch to `<span>`:
[code]
I don't know why, but `Template` breaks it (at least on my machine). Probably needs more investigation.
There are some other issues with `<Menu>` when in `<Layout>` - for example, the expanded always stays expanded even if collapsed (repro: click on `Food System` to collapse, the collapse the sid

[2021-09-16 13:37] anddrzejb commented on #1644
I just managed to fix the other issues that I noticed in your reproduction.

[2021-09-16 14:46] #1644 closed

[2021-09-17 14:12] bezysoftware opened #1955 "Tooltip positioning broken due to browser locale's decimal separator being ','"
In a browser which has a locale with decimal separator being ',' the calculated `left` and `right` values for tooltip (and other overlay components) are broken.

![image](https://user-images.githubusercontent.com/6108688/133796285-20eed956-6a88-469e-b2f2-95d8eaa7d9a2.png)

My guess for root cause would be this: https://github.com/ant-design-blazor/ant-design-blazor/blob/d654382eda75a680db4a1cdd291

[2021-09-17 23:31] #1955 closed

[2021-09-18 03:00] rennner opened #1958 "grid (row) gutter dose not work"
https://ant-design-blazor.gitee.io/zh-CN/components/grid#components-grid-demo-Gutterx

[2021-09-18 05:59] ElderJames commented on #1958
Thanks for contacting us @rennner

This is a problem caused by dictionary case, for now workaround using the following:

[code]

[2021-09-18 06:25] rennner commented on #1958
thank you for @ElderJames

[2021-09-18 06:25] #1958 closed

[2021-09-18 07:56] rennner opened #1959 "the tree component can not using OnClick and SearchValue at the same time?"
using onclick and SearchValue at the same time:
1. Click any node and all nodes will be collapsed
2. The default expansion does not work, and the default is retracted
----------------------------------------------------------------------------------
同时使用OnClick和SearchValue出现异常情况：
1、点击任意node，所有节点会被收起Collapse，期望是点击后该节点被选中即可。
2、默认的展开不起作用，默认都是收起状态。

[2021-09-18 08:07] ElderJames commented on #1959
Hi, please provide a demo or code snippets to repro the issue.

[2021-09-18 09:11] rennner commented on #1959
这个demo 可以重现第一个问题，第二个问题这个demo重现不了，后续如果确实是控件的问题再给您反馈。

@page "/treedemo"

<Search Placeholder="检索" @bind-Value="@searchKey"
        DebounceMilliseconds="300" AllowClear="true"
        EnterButton="true" />

<Tree ShowIcon
      BlockNode="false"
      Checkable="false"
      SearchValue="@searchKey"
      MatchedClass="site-tree-search-value"
      TitleExpression="x => x.DataItem.Title"
      Chil

[2021-09-21 13:51] DrTekno opened #1962 "Build-in Filters for Table"
### Is your feature request related to a problem? Please describe.
When using Nullable DateTime is not possible to filter the datas of a table.
Here the error on the console:
[code]

### Describe the solution you'd like
Give the possibility to use or not the time to filter datas of a table OR the possibility to use nullable datetime.

### Additional context
For a more general context maybe let the

[2021-09-22 08:53] quirynen commented on #1844
Same issue encountered

[2021-09-22 09:41] ardia opened #1965 "Lag when typing search text in select control"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2021-09-22 10:38] anddrzejb commented on #1965
Server side or Wasm?

[2021-09-22 10:47] ardia commented on #1965
Server side. I think the same problem [https://github.com/ant-design-blazor/ant-design-blazor/issues/579](url)

[2021-09-22 10:49] anddrzejb commented on #1965
You have this in local development or on deployed app? If deployed app, can you measure latency?

[2021-09-22 11:07] ardia commented on #1965
In local development is fine. It is in deployed app. latency 200-300 ms

[2021-09-22 11:34] anddrzejb commented on #1965
From what I see we do not have any debounce in there. I was planning to do some work with that (I don't like how debounce is currently behaving in the `Input` component), but I am in the middle of `OverlayTrigger` performance optimization (which should also benefit you, because all work I am currently doing is mostly for server-side). Unless @anranruye decides to take this, I will have a look as s

[2021-09-22 12:28] anranruye commented on #1965
@anddrzejb I think I have no idea about this. In my view, this issue is mainly caused by the mechanism of blazor server itself.

[2021-09-22 12:39] anddrzejb commented on #1965
Yeah, it is because of the two-way binding. With very small latency, it may not be noticed, but with higher latency the lag/overwriting occurs. Here is what is happening
User types something in the inbox.
  i. The value is sent through SingnalR to the server, where value is applied to bound property
  i. user continues writing (2nd character)
  ii. diffing algorithm applies value in the bound prop

[2021-09-22 14:07] #1911 closed

[2021-09-22 15:00] #1461 closed

[2021-09-23 01:22] #1943 closed

[2021-09-23 04:01] SmallChi opened #1967 "Collapse the collection shows data errors"
code:
[code]
result:
[code]
Is my usage wrong?😂😂

[2021-09-23 04:18] ElderJames commented on #1967
Thanks for contacting us @SmallChi , and yes, please see https://docs.microsoft.com/zh-cn/aspnet/core/blazor/components/?view=aspnetcore-5.0&WT.mc_id=DT-MVP-5003987#child-content

[2021-09-23 05:55] SmallChi commented on #1967
Thanks, it's resolved.👍

[2021-09-23 05:55] #1967 closed

[2021-09-23 12:49] MiroslavKabat opened #1969 "Drag and Drop Upload component content is not centered"
Not sure if bug or feature.

### Description
Drag and Drop Upload component content is not centered.

### Reproduce
Open your sample page [Upload Component](https://antblazor.com/en-US/components/upload) zoom out page and look at

![image](https://user-images.githubusercontent.com/34449536/134509129-e2dce117-f8fd-4b17-accd-03f046cd3a1d.png)

### Further technical details
- AntDesign Nuget Package

[2021-09-23 13:38] ElderJames commented on #1969
Thanks for contacting us @MiroslavKabat ,this is a great discovery.

Would you be interested in helping to fix it?

[2021-09-23 13:38] anddrzejb commented on #1969
Looks like this line
https://github.com/ant-design-blazor/ant-design-blazor/blob/ed5d9449462f473bcad76a1953a219802a679983/components/upload/UploadButton.razor#L5

should be replace with a span so when rendered, it will look like this
[code]
At least in the drag&drop scenarios, but this should actually be confirmed with react AntDesign. @MiroslavKabat would you like to create a PR for that?

[2021-09-23 13:51] MiroslavKabat commented on #1969
I am not good in UI design and frontend in general. That is the reason why I am using AntBlazor. I will be happy if PR will be made by frontend developers. I am sorry for that and thank you for fixing that issue.

[2021-09-23 14:07] anddrzejb commented on #1969
As you wish. As a word of encouragement - I am a backend dev as well. This project was and continue to be a great learning experience for me. I would like to think that by now I have became a fairly knowledgeable blazor dev thanks to diving into AntBlazor internals. I am not pushing - you will do as you wish. Worst case scenario - this bug will take some time to fix.

[2021-09-24 15:25] #1898 closed

[2021-09-25 08:40] wf-soft opened #1972 "wwwroot content is not updated"
When I start debugging, the content of wwwroot is always the previous content, not my latest content. How can I restore it to normal

[2021-09-25 08:46] wf-soft commented on #1972
Is it related to my use of "dotnet watch run debug"

[2021-09-25 08:46] ElderJames commented on #1972
Thanks for contacting us @wf-soft , what project are you debugging?

If you are working on this library project, you need to rebuild the `AntDesign.Docs.Build` project after each time you change the static files such as .ts/.less/.md .

[2021-09-25 08:48] wf-soft commented on #1972
@ElderJames I'm using the hosted full template

[2021-09-25 08:49] ElderJames commented on #1972
Ok, I'm not sure, if you are use less for styling, maybe you need to build the project every time.

[2021-09-25 10:52] anranruye commented on #1965
@anddrzejb How are other component libraries performing? Do they have any solution? I don't have a test environment here.

[2021-09-25 11:32] anddrzejb commented on #1965
Mudblazor, BlazorStrap & Blazorise is using debouncing. Matblazor & Radzen seems to be ignoring the issue or I cannot find anything substantial in the area (Matblazor has an open issue where it is suggested to add debouncing). I did not go through their solutions in detail, because I am firmly stuck in `OverlayTrigger` perf optimization. I imagine the ones that are using debouncing most probably f

[2021-09-25 14:25] anranruye commented on #1965
Well, I'm thinking about if we can skip the rendering of the input component which is active(maybe by making ShouldRender to return false?)(and still render the other parts in the page), then it's possible to avoid to revert the input value to a previous status. Here "active" means the input component is the source who triggered the event. However, there are still troubles when switch the active c

[2021-09-25 15:04] anddrzejb commented on #1965
@anranruye I haven't seen any issues with wasm, so issues you are mentioning are new to me. However I accept they exist and should also be addressed. So previously I was referring only to server-side. In the light of wasm isssues - I agree with your points.

I am on a kind-of mini crusade to limit number of renderings. I believe unnecessary renderings are a big contributor to performance hit. The

[2021-09-25 16:10] anranruye commented on #1965
@anddrzejb Maybe I am wrong.

The reason I mentioned wasm is that in #579 I saw people said something like:

I think they are talking about wasm. As I feel, a local blazor server app is much faster than wasm app. For example, for #1911, we can see seconds of ui block for a wasm app, and the latency even grows times when there are more table columns or rows. But for a blazor server app, we can hard

[2021-09-25 16:57] anddrzejb commented on #1965
@anranruye It does seem like wasm situation also requires some investigation. We already have different behavior implemented for Wasm/ServerSide, so I do expect such differentiation is going to happen again.

I read multiple times that Wasm is kind-of slow when there are a lot of elements and/or code that requires async. I guess this problem is going to persist as long as wasm stays single threade

[2021-09-25 17:56] anranruye commented on #1965
@anddrzejb our new pr preview site is really much faster than the current .net 5 blazor wasm site(the size is also bigger 😂). Maybe we don't need to worry about wasm performance anymore after .net 6 releases.

The gap I mean, ah, for example form validation, we don't want to validate the form when submit the form(for that case validating on server side is ok), I want to validate as input, if we mo

[2021-09-25 18:36] anddrzejb commented on #1965
@anranruye You are talking about AOT compiled version of the site? Well, I don't think everyone will switch to AOT, especially when dealing with 2x size. Unless they go to microfront ends, but that is probably even more complex. But even if we abandon perf optimizations in Wasm (which we shouldn't IMHO), there are still a lot of optimizations that are deployment agnostic. So optimizing for server-

[2021-09-26 02:41] MiroslavKabat opened #1974 "Slider doesn't start from min value in case of non-zero values"
**Describe the bug**
Slider doesn't start from minimum value in case of non-zero values.

**To Reproduce**
Go to [Ant **Blazor** component page](https://antblazor.com/en-US/components/slider) and look at:
![image](https://user-images.githubusercontent.com/34449536/134791200-5aa6b3a4-d298-4582-bab2-e726661a4544.png)

**Expected behavior**
Go to [Ant **Design** component page](https://ant.design/com

[2021-09-26 07:14] anddrzejb commented on #1974
This has been fixed by PR #1940.

[2021-09-26 07:14] #1974 closed

[2021-09-27 09:57] YingXiaoMing commented on #861
想问一下楼主是怎样渲染的，API数据加载后不会立即渲染数据，而是重新点击输入框才有数据

[2021-09-27 10:14] MariiaMalitska opened #1975 "Menu/SubMenu component: disable auto open/close submenu on title click"
### Is your feature request related to a problem? Please describe.
I'd like to assign different functions to arrow and submenu title, so that I can keep submenu open and select it at the same time.

### Describe the solution you'd like
A possibility to enable/disable auto open/close submenu on click.

### Additional context

[2021-09-28 00:18] dennyling2020 opened #1976 "The menu of select only display for 1 second then disappear"
When you click the drop-down arrows of select, it displays the menu for only 1 second and it disappears. Howe, if you click the space, it works fine.

You can repeat this issue on the official page. (https://antblazor.com/zh-CN/components/select)

[2021-09-28 06:21] anddrzejb commented on #1976
I imagine you refer to this problem:
![chevronFailed](https://user-images.githubusercontent.com/6518006/135033817-ec653e39-c6f1-49dd-bea1-5df854dbd928.gif)

[2021-09-28 10:02] wf-soft opened #1978 "How to implement upload file API"
Is there a simple example to receive the files transmitted by the upload component in the API controller or somewhere, and is there a content format to be returned

[2021-09-28 11:25] wf-soft commented on #1978
I think I already know how to use it. Close this problem

[2021-09-28 11:25] #1978 closed

[2021-09-28 11:25] wf-soft commented on #1978
Sorry

[2021-09-28 13:55] Anton0123 opened #1979 "Non-searchable Select brings up keyboard on mobile devices"
### Describe the bug

If you set EnableSearch to false on a Select component it will still bring up the keyboard on a touch based device.

### Steps to reproduce (please include code)
[code]

Click the component on a touch based device with a virtual keyboard.

### Further technical details
- AntDesign Nuget Package version: 0.10.0

[code]

[2021-09-28 15:43] anddrzejb commented on #1978
Would you be willing to add entry in [Show & Tell](https://github.com/ant-design-blazor/ant-design-blazor/discussions/categories/show-and-tell)?

[2021-09-28 19:30] MuffinTheDragon opened #1980 "Setting a custom language help"
Hi,

I was trying to follow the documentation on setting a custom language when the packages don't have a language we wanted to use.

I created a new locale object and set the current locale in Startup.cs:
[code]
I also have a json file under ~locales\fr-CA.json with the same EmptyLocale Description. However changing the language doesn't change the text on the components (e.g. filter options on ta

[2021-09-29 01:37] anranruye commented on #1980
As I see you set only the language resource for Empty component, but not for Table?

[2021-09-29 02:30] anranruye commented on #1980
It's recommended to implement "fr-CA" locale based on "fr-FR" locale:
[code]

[2021-09-29 08:12] fengqiaoyexia opened #1981 "Paragraph returns a Unicode encoded string when copying Chinese"
Bazlor 代码:
`
<Paragraph Copyable>[任务号]：@context.Data.TaskNumber</Paragraph>
                <Paragraph Copyable>[第三方任务号]：@context.Data.ThirdPartyTaskNumber</Paragraph>
                <Paragraph Copyable>[起始位置]：@context.Data.StartLocation</Paragraph>
                <Paragraph Copyable>[目标位置]：@context.Data.TargetLocation</Paragraph>
                <Paragraph Copyable>[任务消息]：@context.Data.TaskMess

[2021-09-29 09:08] wf-soft opened #1982 "The modal dialog cannot be displayed using @ref"
I want to use "ref" to access the "showmodal" method, but it doesn't seem to work and the dialog box doesn't display

[code]

![image](https://user-images.githubusercontent.com/62228539/135237869-ab2b36af-7f11-4012-b777-0be50618a84a.png)

[2021-09-29 09:35] anranruye commented on #1982
Well, I think this is caused by blazor render mechanism.

Since `AddClearTask` has no paramter, blazor will skip the render of this component after `ShowAddClearTask()` method is called.

You can add `StateHasChanged();` after _visible = true.

A better solution is to use a `ModelVisible` paramter to control the modal, rather than a method.

[2021-09-29 09:40] wf-soft commented on #1982
@anranruye You are right. Statehaschanged() is used to solve this problem. The main reason is that the async method is required in showmodal(), so it is inconvenient to use await in the visible attribute, Thank you

[2021-09-29 09:47] #1982 closed

[2021-09-29 09:59] anranruye commented on #1981
现在的实现确实有些问题, 复制的是html, 和用光标选中之后再复制效果是不同的

目前的解决方法是用CopyConfig去自定义要复制的文本 https://ant-design-blazor.gitee.io/zh-CN/components/typography#components-typography-demo-Interactive

但这样复制的是纯文本, 就没有格式了, 复制到记事本等纯文本的场景是没问题的, 想要带着格式复制到word里就不行了

[2021-09-29 14:46] MuffinTheDragon commented on #1980
Thanks for the response. It seems like if I change my culture to fr-CA, the LocaleProvider doesn't recognize it from the Assembly and returns me the default en-US Locale object.

I can change my culture to fr-FR and override the fr-FR Locale object like you suggested and that will work.

But I am just curious, do you know why it would keep returning the default en-US object?

[2021-09-29 16:44] anranruye commented on #1980
That sounds a bug. After you call LocaleProvider.SetLocale("fr-CA", frCA); , LocaleProvider.GetCurrentLocale() should then return `frCA` object if the current locale is "fr-CA".

I think this is the reason why things don't work.

[2021-09-30 03:54] SmallChi opened #1983 "How to use the Upload control to call the Stream API"
[Microsoft Demo](https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-5.0&pivots=server#file-streams-1)

InputFile Control:

[code]
Upload  Control:

[code]

[2021-09-30 05:13] anranruye commented on #1983
Thanks for contacting us.

We don't support this feature yet.

[2021-09-30 05:40] scugzbc opened #1984 "Switch and CkeckBox components have styling problems when placed inside FormItem."
Switch和 CkeckBox 组件放置于 FormItem里时，样式会出现问题。
以下是Swtich放在外面和放在FormItem里面的两种样子：
[code]
截图如下：
![image](https://user-images.githubusercontent.com/8499347/135393743-85988bf8-cc79-4697-acad-76c2d05aa107.png)

[2021-09-30 08:12] ElderJames commented on #1983
Please use Blazor build-in `InputFile`

[2021-09-30 08:39] SmallChi commented on #1983
Currently used with built-in `inputfile`,but ugly😂, this Upload control is not intended to support?

[2021-09-30 10:18] anranruye commented on #1983
@SmallChi you can use a transparent InputFile to do what you need and use Upload to display the ui.

[2021-09-30 11:46] Gareth064 opened #1986 "Multiple Submenu Menu Items Highlighted"
### Describe the bug

I have a Menu with a Submenu.
When I click on one of the Menu Item's in the Submenu, it is highlighted as expected.
But when I click on another one, both of them are now Highlighted and not just the last of clicked.

![MenuItemsStayHighlighted](https://user-images.githubusercontent.com/22307223/135449425-e690c859-e417-4add-95d3-955dd642e78b.gif)

### Steps to reproduce (pleas

[2021-09-30 12:19] berkerdong opened #1987 "图片上传控件，如果被选择的图片的名称后缀为 大写则无法正常小窗预览，如 1.jpg 正常，2.JPG 不正常"
[code]

![image](https://user-images.githubusercontent.com/36178221/135453428-0c2bd3e5-5626-40b7-84bb-fa99a183208b.png)

图片上传控件，如果被选择的图片的名称后缀为 大写则无法正常小窗预览，如  1.jpg 正常，2.JPG 不正常，具体情况如上截图，会被显示为一个文件图标

[2021-10-01 05:23] S0FTIUS opened #1989 "Not open on click select arrow"
### Describe the bug

A clear and concise description of what the bug is.

![Open and close select](https://user-images.githubusercontent.com/49546641/135569614-5c8996e4-eeb6-4ac6-bcbc-1c4cabee052c.gif)

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version
- Include the output of `dotnet --info`
- The IDE (VS / VS Co

[2021-10-01 06:02] ardia opened #1990 "Not open datepicker on click icon"
### Describe the bug

A clear and concise description of what the bug is.

![Not open datepicker on click icon](https://user-images.githubusercontent.com/5411424/135572945-c09cf3a3-45f7-40e1-8158-1645da6412f4.gif)

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version
- Include the output of `dotnet --info`
- The IDE

[2021-10-01 06:26] ardia opened #1991 "Use mask when typing"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative solutions you've considered.

![Mask when typing](https://user-images.githubusercontent.com/5411424/135575323-7b

[2021-10-01 08:09] anranruye commented on #1991
@ardia thanks for contacting us.

Can you describe your request in detail?

[2021-10-01 08:17] ardia commented on #1991
I would like, for example, when entering the date not to put points or other special characters.
It would be great if you could add a mask parameter for datepicker, input.
Demo: https://robinherbots.github.io/Inputmask/

[2021-10-01 08:18] ardia commented on #1991
I would like, for example, when entering the date not to put points or other special characters.
It would be great if you could add a mask parameter for datepicker, input.
Demo: https://robinherbots.github.io/Inputmask/

[2021-10-02 12:59] izvonar opened #1995 "SelectOption doesn't render properly if Value is null"
### Describe the bug

Select component with simple list of items that can be selected with the first option having null value for clearing selection.

SelectOption with null value works fine and can be selected, and if selected it shows correctly as selected.

Only problem is that it shows without style applied in the dropdown.
![image](https://user-images.githubusercontent.com/7409443/135716967-4

[2021-10-03 04:05] anranruye commented on #1995
@izvonar thanks for contacting us.

It' s not recommended to use a null value SelectOption(we never use this approach in our demos). We suggest that you use `Placeholder` and  `AllowClear` instead. Or you can use a DataSource(tracked by #1783 and #1786).

In fact, we are still discussing whether to allow a null value option(see #1783). Of course we wiil fix this to keep a same behavior between Dat

[2021-10-04 05:38] ardia opened #1997 "Not valid height css property in TextArea"
![Not valid height css property](https://user-images.githubusercontent.com/5411424/135799482-fd58ed3c-2e14-4160-aea5-da02615363de.png)

[2021-10-04 05:47] ardia opened #1998 "Autosize height based on content lines not work by first render"
It only works when Enter key
![TextArea autosize recalculate by enter](https://user-images.githubusercontent.com/5411424/135800210-a3a4edf8-88d8-4ef7-a1c9-08a47bd174c0.gif)

[2021-10-05 01:47] draculakkk opened #2000 "dynamic change of grid attribute of AntList component is invalid"
I want to dynamically change the grid attribute, but the following writing is invalid

[code]

[2021-10-05 04:14] anranruye commented on #1713
@OaimIsGnay If you still meet this problem or have any other questions, you can always open a new issue. Or you can scan the qr code in the readme page to join the DingTalk(钉钉) group. Now I will close this one since it is not active for a long time.

[2021-10-05 04:14] #1713 closed

[2021-10-05 05:39] MutatePat commented on #1990
I'll look into this, don't think this one will be too bad.

[2021-10-05 08:16] qcjxberin opened #2002 "Is there a demo for globalization and localization?"
Is there a demo for globalization and localization?

[2021-10-05 19:21] anddrzejb commented on #1986
Could you please post a minimal repro? It seems to me this bug manifests in connection with layout.

[2021-10-05 19:53] knight1219 opened #2005 "Is the IconTemplate working with the Collapse feature? I have the following menu and when collapsed I still see the text (I have more menu items but this is my static menu):"
Is the IconTemplate working with the Collapse feature?  I have the following menu and when collapsed I still see the text (I have more menu items but this is my static menu):

`
        <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            <MenuItem Key="1" RouterLink="/">
                <IconTemplate>
                    <i class="fas fa-home"></i>

[2021-10-06 05:37] anranruye commented on #2002
@qcjxberin thanks for contacting us.

See https://ant-design-blazor.gitee.io/docs/i18n and https://github.com/ant-design-blazor/ant-design-blazor/issues/1980#issuecomment-929772327

[2021-10-08 04:46] #1979 closed

[2021-10-08 13:39] knight1219 commented on #1179
Does this still need to be done? I would be happy to add docs for this.

[2021-10-08 23:10] qcjxberin opened #2007 "Clicking on the search icon in the upper right corner has no effect, how does the search text box appear?"
Clicking on the search icon in the upper right corner has no effect, how does the search text box appear?

image

[2021-10-09 01:32] ElderJames commented on #2007
Thanks for contacting us @qcjxberin , we haven't done this feature yet, it's just an icon.

[2021-10-09 13:37] charleypeng opened #2008 "can not locallize the left sidebar menu by the default full demo"
I have created the full demo by using "dotnet new antdesign -ho server --full"
I found the BasicLayout.razor file had a "data/menu.json" path to get the menu data, but where  can I find the file or is it just generated automatically?    How  can I  localize the menubar into a different language?

thanks for help.

[2021-10-09 17:48] paulmenagaleano opened #2009 "DropDown context menu appear in same position"
### Describe the bug

DropDown Context Menu always appear in same x & y position no matter where you make right click.

### Steps to reproduce (please include code)

1) Create default NET 5 blazor server project
2) Install package AntDesign 0.10.0
3) Copy & paste demo of DropDown Context Menu in Index.razor

[code]

GitHub repo
https://github.com/paulmenagaleano/ant-design-contextmenu.git

### Exc

[2021-10-10 05:42] qcjxberin commented on #2007
@ElderJames When can it be achieved?

[2021-10-10 16:25] OyOsen opened #2010 "AntDesign breaking from version 0.9.3->0.10.0"
The below stack trace show error when I update AntDesign from version 0.9.3->0.10.0. Kindly Help

 Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: Could not load type of field 'AntDesign.Pro.Layout.BasicLayout:<Breakpoint>k__BackingField' (17) due to: Expected reference type but got type kind 17
System.TypeLoadException:

[2021-10-11 05:22] markdchurchill opened #2011 "Controls fail to init when bound to fields and used inside FormItem"
### Describe the bug

Custom control wrappers using AntDesign input components, that bind to fields (rather than properties) as part of their internal logic, confuse `FormItem` and cause an ArgumentNullException to be thrown from [PropertyReflector](https://github.com/ant-design-blazor/ant-design-blazor/blob/bbcc890f5187aa1a0ca601f05d2ddb0a234809db/components/core/Reflection/PropertyReflector.cs#L

[2021-10-11 05:44] caizhiyuan opened #2012 "When a tree control has the SearchValue property, the tree node collapses the field every time it clicks"
[code]

When a tree control has the SearchValue property, the tree node collapses the field every time it clicks

[2021-10-11 14:17] #1976 closed

[2021-10-11 14:17] #1989 closed

[2021-10-11 18:31] AnaNikolasevic opened #2015 "Table: applying a predefined QueryModel to table"
### Ability to apply a saved table configuration - setting QueryModel (PageIndex, PageSize, SortModel, FilterModel)
I would like to offer users to save their table configuration (QueryModel), and later to apply saved filter and configurations. With that feature users would not have to set filters every time.

For example, I would do json serializing of Query Model and save that string in database

[2021-10-11 22:23] paulmenagaleano commented on #2009
The browsers I am using are the following:
* Microsoft Edge - Version 94.0.992.38 (Official build) (64-bit)
* Firefox - 93.0 (64-bit)
* Chrome - Version 94.0.4606.81 (Official Build) (64-bit)

I cleared the cache and tried again getting the same results. I also tried to publish the [sample project ](https://github.com/paulmenagaleano/ant-design-contextmenu) in a testing environment and access the

[2021-10-12 01:00] YingXiaoMing commented on #2012
我也有同样的问题出现,searchValue有点问题，会自动收缩

[2021-10-12 10:52] anddrzejb opened #2018 "Create dropdown service to show context menu"
### Is your feature request related to a problem? Please describe.
Create a  service that can open a dropdown at specified coordinates,
Call suggestion: `dropdownService.open(menuRef, x, y);`

Refer to [this comment](https://github.com/ant-design-blazor/ant-design-blazor/issues/2009#issuecomment-940704659)

[2021-10-15 03:25] WTUIYV opened #2027 "The TreeSelect component cannot be bidirectionally bound with either single or multiple selections"
### Describe the bug

The TreeSelect component cannot be bidirectionally bound with either single or multiple selections

### Steps to reproduce (please include code)

By setting the property value, the drop-down list is selected and the corresponding value is not displayed in the text box

![1634267835(1)](https://user-images.githubusercontent.com/10544601/137427465-4658ba49-4b32-4e26-8f50-d0aeb2

[2021-10-15 18:19] abberdeen opened #2031 "An error occurred while using <Select> with grouping (GroupName)."
###  Issue
When I use the `<Select>` control with grouping "enabled", that is, if you set a value in the GroupName field, the following error occurs. The error occurs when I click on the button to open the list (down arrow) or in other words, when I just open the list.

Help me please figure out the reason for the error.

P.S. I am getting the same error with version 0.10.1.

### Source code

**Bl

[2021-10-15 18:37] abberdeen commented on #2031
Oh sure. I have updated my post.

[2021-10-15 18:43] anddrzejb commented on #2031
Well...it is running on my dev version. Could you try nightly build?

Btw my basic tests only did empty `AuditTypes`.

[2021-10-15 18:46] abberdeen commented on #2031
@anddrzejb Thanks for your reply. I forgot to say that the error occurs when I click on the button to open the list (down arrow)

[2021-10-16 02:57] JamesGit-hash opened #2032 "EnumSelect in Table crashes when Filtering it"
### Describe the bug

In Table, when any column uses EnumSelect, if we Filter this column, it crashes.

![image](https://user-images.githubusercontent.com/79885120/137573456-56bbdae2-43cc-4f37-92a5-d7245f723ee8.png)

### Steps to reproduce (please include code)

`
![image](https://user-images.githubusercontent.com/79885120/137573769-9720b112-596c-4f3d-a73b-6a738c34e57e.png)

      public partial c

[2021-10-16 03:04] JamesGit-hash opened #2033 "Tooltip in Table not fade out"
### Describe the bug

In Table ActionColumn, Tooltip sometimes does not fade out properly.

### Steps to reproduce (please include code)

`
<ActionColumn Title="@Title">
        <Tooltip Placement="@PlacementType.BottomLeft" Title="NotCreated" MouseEnterDelay="0" MouseLeaveDelay="0">
            <button type="button" class="btn btn-secondary" disabled>
                <span class="oi oi-minus"></s

[2021-10-16 04:14] anddrzejb commented on #2033
Please update to at least 0.9.4 (but probably latest is better). This issue was fixed there.

[2021-10-16 04:16] anddrzejb commented on #2031
I will check it out. However I might find time to do it on Monday.

[2021-10-16 08:26] Gareth064 commented on #1986
@ElderJames Is this what you mean? If So, then it appears to make it worse by applying the selected style to both menu items at the same time when only one is clicked.

![AntDesignIssue1986](https://user-images.githubusercontent.com/22307223/137580418-fe2b9378-d568-4b10-8c77-1d2388202d90.gif)

[2021-10-16 10:21] #2032 closed

[2021-10-16 15:03] ElderJames commented on #1986
This is because you have used the same RouterLink ` #` for both menu items.

[2021-10-16 15:12] knight1219 commented on #1495
Would we want to pull the documentation from what is in the API section of the current docs for each property?

![image](https://user-images.githubusercontent.com/6771697/137592543-0b647140-6ba7-4149-9a22-b6f583920db8.png)

It would be interesting if once the XML docs are updated that API section could be generated _from_ the XML docs so they stay in sync with each other.

[2021-10-16 15:36] ElderJames commented on #1495
@knight1219  Yes, we wish we could do that. I would also like to support English and Chinese. Do you have any ideas, please?

[2021-10-16 15:36] Gareth064 commented on #1986
Ok so leaving one RouteLink as '#' and changing the other to '/' it now works as expected (in the demo repo)
Once I am back to work on Monday, I will update the project there with the RouterMatch code to see if it resolves the issue too.

[2021-10-16 16:23] anddrzejb commented on #1495
Cool! But we are going to loose all the xml attributes (like `<see cref=... `), aren't we?

[2021-10-16 19:24] knight1219 commented on #1495
Depends on what you mean: if you mean references to objects, I don't think so. Those should still work. If you mean links to the docs site, we will need to do some find and replace magic to get the correct language in the route

[2021-10-17 14:07] #1986 closed

[2021-10-17 14:11] newbe36524 opened #2035 "Popover always auto-collapses incorrectly in version 0.10.1"
### Describe the bug

In version 0.9.4, Popover correctly responds to Click events to expand or close, as shown in the following image.

![0 9 4](https://user-images.githubusercontent.com/7685462/137631007-6380bcf5-a6ac-4c8f-b9bf-301b6c55f351.gif)

However, in version 0.10.1, it automatically collapses after a mouse click, as shown below.

![0 10 1](https://user-images.githubusercontent.com/768546

[2021-10-17 15:05] newbe36524 commented on #2035
I think I clicked on the same position in both versions at this button https://github.com/Amazing-Favorites/Amazing-Favorites/blob/b8606cd633937f189d7ba952159fbe9c1f8fa26f/src/Newbe.BookmarkManager/Components/NotificationCenter.razor#L12
 There is no change in the code. Only the version number has been upgraded.

[2021-10-18 03:29] rennner opened #2037 "tree component in server side ,click any node cause all nodes collapse"
![15-56-52](https://user-images.githubusercontent.com/37169223/137691404-2c9229f8-1520-4b32-be01-d4edae11f275.gif)
[code]

[2021-10-18 06:39] bzins-app opened #2039 "TabPane content inside a CardTabs not rendered in version 0.10.1"
### Describe the bug

TabPane content inside a CardTabs not rendered in version 0.10.1

before with 0.10.0

![before](https://user-images.githubusercontent.com/46160493/137680566-5ba9a04d-19b3-403e-9dbf-399ce2d43eee.gif)

After with 0.10.1
![after](https://user-images.githubusercontent.com/46160493/137680589-0eb676fd-e686-4455-9d5b-affbf32b692e.gif)

### Steps to reproduce (please include code)

[

[2021-10-18 13:37] Qyperion opened #2041 "Table: columns alignment"
There is a property [_align_](https://ant.design/components/table/#Column) in AntDesign API to control column alignment.
As I see, there is no implementation of this property in AntBlazor.
Alas, I am not familiar with React and not sure how to implement it in the right way.

Is it difficult to implement?

[2021-10-18 13:50] ardia opened #2042 "Menu. Submenu not hiding"
![Menu not hide](https://user-images.githubusercontent.com/5411424/137743705-b8feda20-88c0-4a4a-8374-f07fe95ce837.gif)

[2021-10-18 14:37] #2035 closed, assigned to anddrzejb

[2021-10-18 20:53] knight1219 commented on #1725
Why not create 2 properties: `Label` and `LabelTemplate`. Label can be a string that's super simple to add and LabelTemplate can be the RenderFragment for more advanced customizations (like adding an icon to the label). That pattern is used throughout this library and would solve the issue it would seem

[2021-10-18 22:20] ZlobnyiSerg opened #2043 "Upload control crashes when filename does not contains '.' (dot)."
### Describe the bug

Upload can't handle datasource where filename does not conatins dot (so it couldn't determine file extension)

### Steps to reproduce (please include code)
Create Upload control, feed with data where `UploadFileItem.FileName` will be for example `image`

### Exceptions (if any)
[code]

### Further technical details
- AntDesign Nuget Package version 0.10.1

[2021-10-19 05:23] ElderJames commented on #1725
Yes, I am in favor of creating two parameters.

[2021-10-19 06:38] shashikantx commented on #1725
@knight1219 @ElderJames

That is a good idea, I will add two properties then.

[2021-10-19 17:03] true-perfect-code opened #2044 "Modal component include a form component"
### Describe the bug
When we place a form in the modal component, we have problems with text input.
The problem happens when you type words and separate them with a space, then it happens sometimes that letters are lost.

For example, when I type "If you want to sing then try it" in a formitem InputText, I get "If you want to ng then tryit". When I try again, I get "If you ant to sng then try it"

[2021-10-19 17:30] true-perfect-code commented on #2044
You mean something like this? And how big should the set value be? 100, 200 or 300?

            <Modal Title="Add record"
                   Visible="@_visibleAdd"
                   MaskClosable="false"
                   Draggable="true"
                   OnOk="@HandleOKadd"
                   OkText="Save"
                   OnCancel="@HandleCancelAdd"
                   CancelText="Cancel">

[2021-10-19 17:41] anddrzejb commented on #2044
It depends on your network latency. Experiment. In local development I usually put 0. Default is 200 as far as I remeber. I was planning for some time to try to inprove this behavior, but it is a tricky situation there...

[2021-10-19 17:48] anddrzejb commented on #1990
@MutatePat Any progress on this?

[2021-10-19 22:03] Qyperion commented on #2041
@ElderJames I created PR #2045.
Not sure that I did it right, but it works)
Please review and provide some feedback.

[2021-10-20 06:46] minas15 opened #2046 "How to prevent OnSelectedItemChanged Call after Refresh"
Hi,

Each time the page is reloaded or clicked, the OnSelectedItemChanged for Select is executed. How can I prevent this? The same behavior can be seen on the Ant Blazor Page. The OnSelectedItemChanged should only be called, if I select an Item

[code]

[2021-10-20 14:02] dashiell-zhang opened #2047 "组件所需的 _content 资源文件，发布和生成时不会遵循 StaticWebAssetBasePath 设置"
你好，当 Blazor 项目采用 asp.net core 托管模式
![image](https://user-images.githubusercontent.com/36178221/138106268-5910808d-d1a0-44ad-89d3-2325814c2f5a.png)

当发布和生成的时候
![image](https://user-images.githubusercontent.com/36178221/138108017-746a8700-132b-4155-9987-79fe68052437.png)
---------------------------------------------
![image](https://user-images.githubusercontent.com/36178221/138107961-acfd5a74-95b9-

[2021-10-20 15:24] #2047 closed, assigned to nobody

[2021-10-21 14:16] dazinator opened #2051 "Form and upload components working together"
### Is your feature request related to a problem? Please describe.
I'm new to ant blazor. I'd like to create a `form` where one of the input's allows a user to also select a file, this file will be submitted when the form is submitted.

I have checked the `form` example on the docs site but it does not show selecting a file as one of the inputs.
I have checked the `upload` exmple, but that seems t

[2021-10-22 01:52] knight1219 commented on #1495
It seems that this isn't a built in way to do localized comments. The roslyn team has had this as an open issue since 2015 with no real signs of being adopted by them. [https://github.com/dotnet/roslyn/issues/3371](Source:dotnet/roslyn).

I'm still trying to think of the best way to do this so we can support multiple languages, but this is what I've found so far.

[2021-10-22 06:15] ltstudio168 opened #2052 "It is recommended that Cascader support multi-select nodes"
It is recommended that Cascader support multi-select nodes

[2021-10-22 07:26] #2041 closed, assigned to nobody

[2021-10-22 13:16] tale80 opened #2056 "Table Column - Filter - Add filter button is display even if FilterMultiple is set to false"
### Describe the bug

On a table column with FilterMultiple set to false, the add filter button is display.

### Steps to reproduce (please include code)
Sample column config
`<Column TData="string" Title="Market"
            DataIndex="Market"
            Sortable="false"
            Filterable
            FilterMultiple="false"
            ShowSorterTooltip="false">`

Result :
![image](https://u

[2021-10-22 14:14] tale80 opened #2057 "Table Column Filters - Set the default operator and the list of operators available"
Some ideas to improve filters on table columns :
- It will be good to be able to set the default filter operator (for a string, it's by default on "contains" operator and no option to set it to "Equal" by default).
- Another good addition will be to be able to define the list of operators availables by column.

[2021-10-23 04:12] fan0217 opened #2058 "Click the drop down button to expand the options and then close the options, so it cannot be selected normally"
Select 选择器点击下拉按钮先展开选项随即又关闭选项，无法正常选择。

`<Select DataSource="@(resultsClasses)"
                        @bind-Value="@(_resultsClassID)"
                        LabelName="@nameof(Models.BasicData.ResultsClass.ResultsClassName)"
                        ValueName="@nameof(Models.BasicData.ResultsClass.ResultsClassID)"
                        DefaultActiveFirstOption="@(true)"

[2021-10-23 06:23] nhathuynh77 opened #2059 "The type initializer for 'AntDesign.LocaleProvider' threw an exception."
### Describe the bug

The type initializer for 'AntDesign.LocaleProvider' threw an exception.
### Steps to reproduce (please include code)

### Exceptions (if any)
 System.TypeInitializationException: The type initializer for 'AntDesign.LocaleProvider' threw an exception.
 ---> System.Globalization.CultureNotFoundException: Culture is not supported. (Parameter 'name')
el-cy is an invalid culture i

[2021-10-23 08:03] #2039 closed, assigned to anddrzejb

[2021-10-25 05:37] anddrzejb opened #2061 "How to prevent automatic closing all open tree nodes"
### Discussed in https://github.com/ant-design-blazor/ant-design-blazor/discussions/2055

<div type='discussions-op-text'>

<sup>Originally posted by **ShparagaVladimir** October 22, 2021</sup>

![GqB0ovReN9](https://user-images.githubusercontent.com/56558503/138459837-61eaa349-1cb0-4ec0-be6d-188613157726.gif)

</div>
@ShparagaVladimir could you post a minimal repro of you problem, so once we star

[2021-10-26 07:50] qcjxberin opened #2064 "Start may not be called on a task that has completed."
![image](https://user-images.githubusercontent.com/5792218/138832445-b8a74e26-6b96-4c21-82d0-6be37d0c09b2.png)

There was an error in the operation, please take a look.

[2021-10-27 06:53] huhangfei opened #2065 "tree select set @bind-Value and have default value ,not show default title"
### Describe the bug

tree select set @bind-Value and have default value ,not show default title 。

### Steps to reproduce (please include code)

[code]
![image](https://user-images.githubusercontent.com/7147335/139014843-b4881b1a-e206-4a53-a4fc-32a1d9fecb34.png)

[2021-10-27 18:00] nologinatgit opened #2066 "Popconfirm not working with Buttons"
### Describe the bug

When using a `Button` component with `Popconfirm`, the popup closes automatically after a quick blink. It works normally when it is over an `<a>` tag.

### Steps to reproduce (please include code)

Select the basic demo of Popconfirm in your own components page.

![popconfirm_blink2](https://user-images.githubusercontent.com/4659744/139120313-86afbf31-76d1-4174-a254-f81222e7b

[2021-10-28 10:25] szymski opened #2067 "Setting Calendar.DateFullCellRender throws an exception"
### Describe the bug

When one is trying to customize date cell rendering in the Calendar component, an exception is thrown.

### Steps to reproduce
[code]

### Proposed solution

In [calendar component](https://github.com/ant-design-blazor/ant-design-blazor/blob/e698e40293a2046edfcc35e475fc357b5b003d82/components/calendar/Calendar.razor.cs#L55) the DateFullCellRender takes 1 DateTime parameter.
I

[2021-10-28 19:39] bezysoftware opened #2069 "InputPassword letters disappear when typing fast"
### Describe the bug
In an InputPassword when I type relatively quickly the latest letters disappear. The error only seems to present itself when running on Blazor Server on Raspberry Pi 4 (perhaps due to slow hw?)

### Steps to reproduce (please include code)
Very simple setup:

[code]

### Further technical details
- AntDesign v0.10.1
- VS2019 16.11.3

[2021-10-29 02:05] kohroy opened #2070 "System.TypeInitializationException: The type initializer for 'AntDesign.LocaleProvider' threw an exception"
`An unhandled exception was thrown by the application. System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> System.TypeInitializationException: The type initializer for 'AntDesign.LocaleProvider' threw an exception.
 ---> System.Globalization.CultureNotFoundException: Culture is not supported. (Parameter 'name')
az-az is an invalid culture id

[2021-10-29 02:55] #2070 closed, assigned to nobody

[2021-10-29 14:48] #2031 closed, assigned to nobody

[2021-10-30 08:41] qcjxberin opened #2073 "How to realize the linkage between the top menu and the left menu"
How to realize the linkage between the top menu and the left menu

[2021-10-30 08:46] anddrzejb commented on #2046
@anranruye thank you for sharing the issue. It was a worthwhile read. And I agree with your understanding of properties use when marked with `[Parameter]` attribute. Although I am not sure if the suggestion of forcing only `{get;set;}` is entirely warranted. Of course, without understanding of possible underlying problems, it is a good solution, but in the hands of a programmer well versed in blaz

[2021-10-30 09:22] MahmudX commented on #2059
Facing the same problem with Blazor.

[2021-10-30 10:01] qcjxberin opened #2074 "Is there a way to debug the style of the front-end page"
Is there a way to debug the style of the front-end page

[2021-10-30 10:13] #2074 closed

[2021-11-01 06:04] Qianzujin opened #2077 "g6 考不考虑集成到这里面呢？"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative solutions you've considered.

### Additional context
Add any other context or screenshots about the feature requ

[2021-11-01 07:19] anranruye commented on #2077
能详细描述你的问题吗？

[2021-11-01 15:44] michalss commented on #31
Would love to get dark mode, is it up and running on your test site pls ? Or is there a web where i can see it in action pls ?

[2021-11-01 16:48] ElderJames commented on #31
@michalss Try to import `ant-design-blazor.dark.css`

[2021-11-01 19:00] michalss commented on #31
Can you please be more specific ? Where to import, how exactly, where i can get the files, etc ?

[2021-11-02 01:35] ElderJames commented on #31
Just import it at the head of index.html.
[code]

[2021-11-02 03:04] Hona commented on #31
If you want to see how its been done before (with hot switching) - here's one I implemented: https://github.com/AwesomeBlazor/AutoScrum/blob/main/src/AutoScrum/Shared/ThemeProvider.razor

[2021-11-02 05:44] michalss commented on #31
Thx all ill try, hope this will be implemented directly to AndDesign Blazor package.. :)

[2021-11-02 05:55] Hona commented on #31
I am planning on implementing my ThemeProvider into AntBlazor natively soon

[2021-11-02 06:07] michalss commented on #31
That would be very nice, how soon ? :)

[2021-11-04 01:56] caizhiyuan opened #2079 "Checkbox control selections in Table controls can be messy."
[code]

![效果图](https://user-images.githubusercontent.com/31610629/140243605-bf6a3ec3-4f4b-4338-bdd7-dbf0c99d5778.png)

Place the Checkbox control inside the Column control inside the Table control to make a selection, and the table can conflict. When Checkbox is selected inside the column, tapping the keyboard or clicking Select's checkbox triggers all selected Checkbox deselections

[2021-11-04 07:28] Henxun opened #2080 "Select component performance"
### When SelectItem reaches hundreds, the input will be stuck

[2021-11-05 02:02] MathieuDR opened #2082 "Nullreference on startup of WASM at AlertComponent"
### Describe the bug

Nullreference at AntDesign.Alert.OnAfterRenderAsync on first load starting the debug session. Using WASM host, and not using the Alert funcionality. This is, I think blocking my 'OnInitialized' chain.

### Steps to reproduce (please include code)
https://github.com/MathieuDR/ResourceCalculator/tree/main/ResourceCalculator/Web

Files to note:

- [Program.cs](https://github.com

[2021-11-05 02:41] ElderJames commented on #2077
Thanks for contracting us @Qianzujin .

No plans for now. This is because maintaining the icons requires a lot of work. Our suggestion is that someone in the community should do this. We will be happy to help with this.

[2021-11-05 03:21] huhangfei opened #2083 "ReuseTabs more tab selector switch no title ."
### Describe the bug

ReuseTabs more tab selector switch no title .
![image](https://user-images.githubusercontent.com/7147335/140452952-bfbab787-926b-45cd-a37c-8592182f516a.png)

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version 0.10.2

[2021-11-05 06:37] theilgaz opened #2084 "AntDesign.Core Infrastucture Design"
Separating the all core functionalities from AntDesign.Blazor project to `AntDesign.Core` is the main idea for this issue. Here are some different approach for roadmap.

@anddrzejb @ElderJames @Zonciu @anranruye @Hona

### Path 1
- Core as a project
- Component as a project

### Path 2
- All components in a same project

_Originally posted by @theilgaz in https://github.com/ant-design-blazor/ant-d

[2021-11-05 07:24] #2084 closed

[2021-11-06 19:09] knight1219 commented on #1495
Wanted to give an update on this. I have found a [library ](https://github.com/devlooped/NuDoq) that allows your to read and manipulate the XML document file and I am testing it out. The idea is that inside the documentation sections your will add a new `<localize>` node in the XML with the appropriate `lang` attribute:

[code]

We can then use the NuDoc library to parse out and create as many doc

[2021-11-06 20:06] SuperRealTeam commented on #2059
Hello!, does it fixed in version 0.10.2 or still in coming versions?

[2021-11-07 00:17] #2082 closed

[2021-11-07 07:41] anddrzejb commented on #2082
@MathieuDR What was the solution? I was hoping to have a look at this today.

[2021-11-07 09:52] CAPCHIK opened #2088 "TabPane title ignores state changes"
### Describe the bug

If I want to modify `TabPane` title - `Tab` or `TabTemplate` - i can't do this, because lines
https://github.com/ant-design-blazor/ant-design-blazor/blob/f48f61d1f47009c64b7eb3b08e61c6a2b8f00e02/components/tabs/TabPane.razor.cs#L100-L106
broke `should render` logic, while comment says that behavior created for draggable.

https://user-images.githubusercontent.com/12235437/140

[2021-11-07 11:03] MathieuDR commented on #2082
I could not find a solution. It was something on my end since when i ran the boiler template again the issue was resolved. You can look at the commit history if you would still want to figure this out.

[2021-11-07 14:43] freewalkman opened #2089 "Tree right-click OnContextMenu event is not work"
### Additional context
I changed some code, it's work. I hope these code can be merged in new version.

Tree.razor.cs
[code]

[2021-11-07 14:44] anddrzejb commented on #2089
Could you possibly create a PR?

[2021-11-07 14:46] freewalkman commented on #2089
等我明天试下看吧，从来没在github上提交过

[2021-11-07 14:51] anddrzejb commented on #2089
No worries, it is not that hard. Try to follow this [tutorial](https://gist.github.com/Chaser324/ce0505fbed06b947d962).

Also, try to follow these [contribution guidelines](https://github.com/ant-design-blazor/ant-design-blazor/blob/master/CONTRIBUTING.md).

[2021-11-07 14:54] freewalkman commented on #2089
ok, i will do it

[2021-11-07 23:05] knight1219 commented on #31
@Hona in your `ThemeProvider` you use the HeadContent component. Isnt that a .net 6 feature? How could we backport this to 3.1. I only ask because I'm currently stuck using 3.1 for the next few month.

[2021-11-08 02:16] ElderJames commented on #31
We'll be compatible with 3.1 for a while until it's past its end of support(December 03, 2022).

[2021-11-08 06:42] qcjxberin opened #2093 "Is it the code to switch languages like this?"
![image](https://user-images.githubusercontent.com/5792218/140695582-750e66b9-5555-44b2-bcaf-6775f35c4db8.png)

[2021-11-08 07:01] anranruye commented on #2059
@SuperRealTeam it will be fixed in the next version.

[2021-11-08 07:34] ElderJames commented on #2093
Hi @qcjxberin , you can try.  Maybe it need to call `StateHasChanged` at MainLayout.

[2021-11-08 07:37] ElderJames commented on #2088
Thanks for contacting us @CAPCHIK .

I didn't expect this practice to have such side effects. We'll think of another way that works. You are welcome to help if you are interested.

[2021-11-08 07:49] qcjxberin commented on #2093
At present, there is another problem that is returning to the default language of the browser after refreshing. Is there any way to keep the switched language after switching?

[2021-11-08 08:15] CAPCHIK commented on #2088
I have already tried to fix this behavior, but so far, I have failed 😅

[2021-11-08 08:19] ElderJames commented on #2093
You can persist it to localstorage

[2021-11-08 08:47] JustGentle opened #2095 "The PopupClassName property for SubMenu component is not implemented"
I am trying to use the property named `PopupClassName` of `SubMenu` but it doesn't exists!
it was mentioned in the document [Menu Api](https://ant-design-blazor.gitee.io/zh-CN/components/menu#API)

I need to use it for different level rendering different style.

[2021-11-08 09:58] JustGentle opened #2097 "TreeNode drag and drop into other node can not get target node"
### Describe the bug

I am trying to do something after drop the node into other node, but i can't get target node in OnDrop event arguments, the argument type is `TreeEventArgs`. Neither Node nor TargetNode can get the correct parent node.

### Steps to reproduce (please include code)

[code]

### Further technical details
- AntDesign Nuget Package version: 0.10.2
- dotnet SDK: 6.0.100
- The IDE

[2021-11-08 13:06] LeaFrock commented on #2093
Sorry for the interruption but... what's the meaning of `switch-case` here? Why not directly use `CultureInfo.xxx = CultureInfo.GetCultureInfo(item.Key)`?

[2021-11-08 16:37] ZlobnyiSerg opened #2099 "MAIN PAGE NOT WORKING! https://antblazor.com/"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2021-11-08 16:37] ZlobnyiSerg commented on #2099
It's ok now :)

[2021-11-08 16:37] #2099 closed

[2021-11-09 02:12] qcjxberin commented on #2093
@ElderJames The current test found that the refresh will fall back to the current browser language.

[2021-11-09 05:54] #1189 closed

[2021-11-09 05:58] ElderJames commented on #2093
cc @anranruye

[2021-11-09 07:01] ardia opened #2100 "Not icon arrow for first SubMenu MenuMode.Horizontal"
![Not icon arrow for first SubMenu](https://user-images.githubusercontent.com/5411424/140876988-5706b8fe-0988-445b-908c-e573cfc97068.png)

[2021-11-09 07:47] anranruye commented on #2093
You should change CultureInfo.DefaultThreadCurrentUICulture and CultureInfo.CurrentUICulture to switch current language. However, exsisting ant component will not be affacted, only components generated after this switch use the new language. To affact all components in the page, you may need to refresh with the browser(or you can use blazor built-in navigate feature to navigate to another page the

[2021-11-10 11:22] mrjohnr opened #2102 "Prevent body element style to add width: calc(100% - 17 px) on show modal?"
Hi,It possible to prevent  body element style to add  width: calc(100% - 17 px);   on show modal?
that is causing some problems to our design in mobile view
thanks

[2021-11-10 11:29] #2059 closed

[2021-11-10 11:55] anddrzejb commented on #2100
From what I can tell, it follows the [AntD design](https://ant.design/components/menu/#components-menu-demo-horizontal). We might add it as an enhancement?

[2021-11-10 12:10] mrjohnr opened #2103 "Date picker dropdown not correctly shown on mobile"
### Describe the bug

Hi
I put and datepicker inside a bootstrap column,but dropdown not correctly shown on mobile view

### Steps to reproduce (please include code)

### Further technical details
- AntDesign Nuget Package version : 0.10.2
- .NET 5.0.12
- The IDE: Visual stidio 2019

[2021-11-10 12:16] anddrzejb commented on #2103
Hi!
Thank you for reporting.
First - you can copy&paste images directly to github issue. It is much easier this way.
Second - we know about this issue. This is due to current overlay boundaries detection algorithm. It can detect that overlay (in this case date picker) is exceeding viewport boundaries, however for now it just tries to switch to the opposite to current placement. This fix is planned

[2021-11-11 09:22] shirleen1234 opened #2104 "Modal select auto close on click arrow down icon"
### Describe the bug

Modal select component auto close after clicked arrow down icon on WebAssembly (Serverside works fine)

And would like to ask how can we reset the selected item programmatically? In v0.10.1, it can be reset by setting the selected value to null.

Thanks

### Steps to reproduce (please include code)

[code]

### Exceptions (if any)

### Further technical details
- AntDesign Nu

[2021-11-11 18:18] noctis0430 commented on #563
Apparently this become an issue again in v0.10.0.

[2021-11-11 22:40] nologinatgit commented on #2066
It looks like version _0.10.2_ has a working Popconfirm 😉

[2021-11-11 22:40] #2066 closed

[2021-11-12 02:00] anranruye opened #2106 "New component: TableSelect Component"
### Discussed in https://github.com/ant-design-blazor/ant-design-blazor/discussions/2101

<div type='discussions-op-text'>

<sup>Originally posted by **theilgaz** November  9, 2021</sup>
Hello everyone!

I would like to start a discussion about my highly-needed component.

|Description|Content|
|--|--|
|Component Name|TableSelect|
|Keywords|Ant design, blazor, dropdown grid, table, select, grid, m

[2021-11-12 03:11] JustGentle opened #2107 "Tooltip Popover and so on Components MouseEnterDelay cause Overlay show after mouse leave OverlayTrigger"
### Describe the bug

Tooltip Popover and so on Components Has MouseEnterDelay parameter, this delay show will happen after mouse leave OverlayTrigger, it is very easy to reappear with a large delay value.

### Steps to reproduce (please include code)

[code]

### Further technical details
- AntDesign Nuget Package version: 0.10.2
- Include the output of `dotnet --info`: SDK 5.0.103
- The IDE (VS

[2021-11-12 18:11] true-perfect-code opened #2109 "How to selecting a node in the tree using program code"
### Describe the bug

When I click on a node in Tree, I can display the details of the node in another list.  Now, when I have updated the details in the second list, I want to reload Tree so that the changes are also displayed in Node.

How can I remind Tree which node was selected?

I tried @bind-SelectedNode="treeNode" in the component, where I first saving the selected node at OnClickTree:

[2021-11-13 16:08] anranruye commented on #2079
You should use `@bind-Checked` or `@bind-Value` instead of `Checked`

[2021-11-14 09:51] pw55b opened #2110 "version 0.2.2 RangeBar not found,0.2 has"

[2021-11-15 04:26] ElderJames opened #2111 "[Overlay] The dropdown of cascader doesn't open when the input was clicked."
### Describe the bug

I think this is because there is no trigger to refresh, when moving the mouse to an element that has a trigger event, the dropdown will open. @anddrzejb Have you seen this?

![cascader-dropdown](https://user-images.githubusercontent.com/7550366/141721947-fa986226-5e2b-454e-b7d9-506fac893994.gif)

### Steps to reproduce (please include code)

Just in demo.

### Further technic

[2021-11-15 08:15] ardia opened #2112 "[Tree] Node selected when Selectable false"
![image](https://user-images.githubusercontent.com/5411424/141745496-49fc911f-4062-4620-b5ca-5acbe2aa86b9.png)

### Describe the bug

[code]

### Further technical details
Blazor Server
Ant Design Blazor 0.10.2

[2021-11-15 11:11] Epictek opened #2113 "Clean up repo of binaries, move gh-pages to a seperate repo."
It takes a fair bit of time to clone the repo, I believe this is due to the amount of binaries in the gh-pages branch. Since these aren't needed by most developers would it make sense to prune this branch and move it to a seperate repo?

`git rev-list --objects --all |   git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' |   sed -n 's/^blob //p' |  awk '$2 >= 2^20' | so

[2021-11-16 11:10] gmij commented on #2065
这不是一个BUG~~~

这不是一个BUG~~~

这不是一个BUG~~~

显示默认值，需要配合DataItemExpression 使用，该表达式用于根据选中的值，获取相关的文本。

example:

DataItemExpression="(menus, menuId) => menus.FirstOrDefault(m => m.MenuId == menuId)"

-----------------------------------------

This is not a bug~~~

This is not a bug~~~

This is not a bug~~~

Display the default value, which needs to be used in conjunction with dataitemexpression. This expre

[2021-11-16 12:01] anddrzejb commented on #2111
That's possible. I will try to have a look. I was trying to optimize triggering (something I complained about in #1130), but I failed (or rather gave up due to lack of time and progress). What I found out is that we are having inconsistent way of triggering. There is a triggering logic built into `OverlayTrigger` that supposed to be common. But a lot of other components (like `Select`, `DatePicker

[2021-11-16 12:42] Auzout opened #2116 "Mobile website UI needed"
For a company without budget to develop mobile app but want mobile office, we want blazor UI for mobile website.
I am also appreciated if there is any open source repository suggest,.

[2021-11-16 15:03] ElderJames commented on #2116
Thanks for contacting us @gongkui .

We also don't have the budget for mobile components either.

[2021-11-17 02:48] YingXiaoMing opened #2117 "It is recommended that Cascader support placement"
support Bottom and Top

[2021-11-17 12:13] ocoka opened #2120 "(module:select) When Select component inherited by my custom component, it throws OutOfBound exception"
### Describe the bug
When Select component inherited by my custom component, it throws OutOfBound exception
### Steps to reproduce (please include code)
1. create custom class
[code]
2. place custom component on page:
[code]
### Exceptions (if any)
Index OutOfBound
### Further technical details
- AntDesign Nuget Package version: 0.10.2 (and all after 0.9.3)

[2021-11-17 13:24] DrTekno commented on #986
Filter and sort are working fine, but table's onChange not triggered when filter or sort are fired from this column.

[2021-11-17 14:16] ElderJames commented on #2015
That's a good news!

For sorters, you can see what the `DefaultSortOrder` did.
For filters, you can try to set `_hasFilterSelected = true`.

[2021-11-17 19:33] mrcameron999 commented on #1557
Unfortunately, I no longer have the source for for that project with Ant Design. I will try give this a go in the not so distance future and report back my findings.

[2021-11-18 09:16] ZlobnyiSerg opened #2123 "No animations in menu component"
### Describe the bug

I'm using horizontal menu with submenus. When moving mouse over menu items - submenu pops up. When mouse leaving - submenu hides with significant delay. Quick mouse move over horisontal menu can cause that all submenus will be visible at the same time. Original ant.design component has quick animation to hide submenus that are not longer hovered.

### Steps to reproduce (plea

[2021-11-18 20:10] knight1219 commented on #2116
Isn't there a ant-design-mobile project that broke out and adds responsiveness to the core ant-design css? How customized is our implementation of ant design?

[2021-11-19 09:40] shashikantx commented on #1725
@anddrzejb  @ElderJames
here is just a passing thought.

How about we use `PrefixTemplate` instead of `LabelTemplate`?