[2022-09-02 06:29] ElderJames commented on #2641
Here is all the variables defined: https://github.com/ant-design-blazor/ant-design-blazor/blob/master/components/style/themes/variable.less

[2022-09-02 06:45] true-perfect-code commented on #2641
Alright, but where do I find this file in a Blazor server (or WebAssembly) project ?

For example, I looked in the wwwroot directory, but I can only find the **css**, **images** and **js** directories there.

I also checked all other directories but I don't find anywhere this file **variable.less** in my Blazor-Server project!

Finally I also searched the compiled **publish** directory but there I

[2022-09-02 06:47] ElderJames commented on #2637
Hi @Alexbits , could you please take a look at this?

[2022-09-02 07:22] ElderJames commented on #2641
Do you mean that we need to publish the LESS file as well?

[2022-09-02 08:05] true-perfect-code commented on #2641
We probably don't understand each other, sorry.

I'll start from the beginning:
If I installed the Ant-Blazor component via NUGET, I thought that I could then do the style customization on all Ant controls (buttons, combo boxes, etc.) very easily in one central place.
Of course you can currently do this in site.css by overriding the css classes.

The problem with Ant-Blazor is that everything goes

[2022-09-02 15:08] #2607 closed

[2022-09-02 15:13] ElderJames commented on #2455
@Alexbits Can we close this issue?

[2022-09-02 15:15] #2509 closed

[2022-09-02 15:16] Alexbits commented on #2455
yes, this was fixed a while ago

[2022-09-02 15:17] ElderJames commented on #2455
Ok, thanks.

[2022-09-02 15:17] #2455 closed

[2022-09-02 15:26] #2550 closed

[2022-09-02 15:28] ElderJames commented on #2542
Hi @dld-yi , is the document working as expected?

[2022-09-02 15:29] ElderJames commented on #2534
Hi @vincejairam , have you solved this issue?

[2022-09-02 15:34] ElderJames commented on #1404
Fxied in https://github.com/ant-design-blazor/ant-design-blazor/pull/2561

[2022-09-02 15:34] #1404 closed

[2022-09-02 15:35] ElderJames commented on #1256
Fixed in https://github.com/ant-design-blazor/ant-design-blazor/pull/2561

[2022-09-02 15:35] #1256 closed

[2022-09-02 15:39] dld-yi commented on #2542
No problem with the project

[2022-09-02 15:41] ElderJames commented on #2542
Ok, thanks. I will close this issue first. If you have any problems, please feel free to open another one.

[2022-09-02 15:41] #2542 closed

[2022-09-03 02:54] chunliu opened #2662 "The arrows of Collapse doesn't change regardless if the panel is expanded or collapsed."
### Describe the bug

The arrows of Collapse doesn't change regardless if the panel is expanded or collapsed.

### Steps to reproduce (please include code)

Try it on the doc site here: https://antblazor.com/en-US/components/collapse, and see the screenshot below.
![image](https://user-images.githubusercontent.com/2128551/188253136-9abc0cfb-364c-4ebb-ba8d-0f3e7a11df4f.png)

### Exceptions (if any)

[2022-09-03 12:07] Velociraptor45 opened #2664 "Select does not recognize that a list's component was removed"
### Describe the bug

Hey there,

when an `AntDesign.Select` is inside a component which is instantiated multiple times by a parent component (with different values) and e.g. the first of these components is removed, the remaining `Select` components have the wrong selected value.

### Steps to reproduce (please include code)

Minimalistic repro project: https://github.com/Velociraptor45/AntDesign

[2022-09-03 18:24] #2535 closed

[2022-09-03 18:33] #2658 closed

[2022-09-03 18:34] #2649 closed

[2022-09-03 18:34] #2540 closed

[2022-09-04 02:51] #2662 closed

[2022-09-05 01:38] chunliu opened #2675 "The rendering of Tabs without Animation is broken"
### Describe the bug

With fix #2671, the rendering of animated Tabs works fine, but the rendering of Tabs without animation is broken. See the following screenshot from the doc site:

![image](https://user-images.githubusercontent.com/2128551/188343574-eeabb43d-d083-4e0e-a0da-9642e764fe2b.png)

And it seems the animation also works now when the `TabPosition` is set to left or right, which is good

[2022-09-05 02:49] SoaSoftNet opened #2676 "An exception is caused when Rangepicker passes the @bind-value as null"
![d5aa817dbb33ba8dc82b3932b131f68](https://user-images.githubusercontent.com/30250585/188351235-990d6d3b-581d-476c-8076-a6f9086ca8c0.jpg)
![34219a0dcf66aad41ea456cce14a67b](https://user-images.githubusercontent.com/30250585/188351262-f9bc63d4-c525-4f3a-88c4-273faf6529a7.jpg)
![d5bd707e06f065db1419de04ee16e93](https://user-images.githubusercontent.com/30250585/188351286-b2f11883-8df6-4e55-b64f-0844

[2022-09-05 08:31] kimx opened #2679 "RestoreQueryState error when first columns is ActionColumn"
### Describe the bug  Restore query state
 [Offical Demo](https://antblazor.com/en-US/components/table#components-table-demo-RestoreQueryState)
The first column set ActionColumn cannot ReloadData.

### Steps to reproduce (please include code)
The first column set ActionColumn
`<Table DataSource="data" OnChange="OnChange" TItem="Data" @ref="Table">
    <ActionColumn Width="100">
         <a>Edit</a

[2022-09-05 09:13] #2675 closed

[2022-09-05 09:56] ElderJames commented on #2675
Thaks for contacting us @chunliu , this issue have been fixed and will ship today.

For the left or right animation, Antd itself does not support this. We need additional research.

[2022-09-05 17:00] #2679 closed

[2022-09-06 00:33] kimx opened #2682 "ReloadData with Initialized events"
### How do I ReloadData with Initialized events
About this [Offical Demo](https://antblazor.com/en-US/components/table#components-table-demo-RestoreQueryState)
Some scenario I need to reload data on page init events.. e.g
[code]
Is it possible or any other function I can dot that ?
Thanks for help.

[2022-09-06 08:15] DiberySky opened #2684 "Add a status parameter on the modal component."
Please expose the private property of modal component: modalstatus as a parameter.

[2022-09-06 08:33] shuaqq2004 commented on #2630
[0.12.1] fixed

[2022-09-06 08:36] shuaqq2004 opened #2685 "[0.12.1]ReuseTabsRouteView style"
从0.11.0升级到0.12.1之后，ReuseTabs模式下排版出现错误。
After upgrading from 0.11.0 to 0.12.1, a typesetting error occurred in ReuseTabs mode.

![image](https://user-images.githubusercontent.com/3870105/188587813-10b320d8-29e5-4072-b6ae-b4edc38a735b.png)
在2个及其以上的标签出现的时候，未能隐藏掉之前的tabs.
Failed to hide previous tabs when 2 or more tabs appear.
在tabs之前切换的时候，新增了以下`style`
When switching before tabs, the following 'style'

[2022-09-06 12:08] ElderJames commented on #2685
Have fixed in https://github.com/ant-design-blazor/ant-design-blazor/pull/2677 Thank you!

[2022-09-07 06:34] Breave-YY opened #2689 "DatePicker adds the PopopContainerSelector attribute and reports an error?"
[code]

![1662525839292](https://user-images.githubusercontent.com/46343752/188805773-b6b4fd6e-3945-463d-a9b2-68e8f3fe7056.png)

[2022-09-07 07:20] ElderJames commented on #2689
Hi @Breave-YY , please try

[code]

[2022-09-07 11:26] Breave-YY commented on #2689
Yes, but the panel pop-up position is not ideal, if you can customize the panel position would be better

[2022-09-07 18:50] bobtnt opened #2691 "Restore query state not working when there's ActionColumn on left side of Table"
### Describe the bug
This is in regard to this feature:  https://antblazor.com/en-US/components/table#components-table-demo-RestoreQueryState

When there's ActionColumn anywhere on the left side of Table, SAVE query state works fine but upon LOAD it will run into index out of bound issue. If the ActionColumn is placed on the right most side of Table, there's no issue.

### Steps to reproduce (plea

[2022-09-08 00:00] #2676 closed

[2022-09-08 01:56] chunliu opened #2693 "Support animation when Tab's TabPosition is set to Left or Right"
### Is your feature request related to a problem? Please describe.
This feature request is based on a discussion in #2675.

According to the document, the animation of Tabs only work when the `TabPosition` is set to `Top` or `Bottom`. In the current version, the animation actually works when the `TabPosition` is set to `Left` or `Right`, which is a good thing IMHO.

However, the effect of the anim

[2022-09-08 01:59] ElderJames commented on #2691
Thanks for contacting us @bobtnt ,we have fixed this issue in
#2683  and shiped with v0.12.2, please try to update the package and check if this issue have been solved. Thank you!

[2022-09-08 07:18] paulsuart opened #2694 ".LESS files not included in nuget package since v0.11.0"
### Describe the bug

We use the .LESS files from the nuget package to build our own modified CSS.

We were using v0.10.7 (slightly outdated), so I tried to upgrade to latest, which was v0.12.1 at the time.

**The latest version does not include the .LESS files.**

The last nuget version I can see that includes the .LESS files under `staticwebassets\less` is v0.11.0.

### Steps to reproduce (pleas

[2022-09-08 09:38] shuaqq2004 opened #2695 "Tree control collapses automatically when clicked"
1.Tree控件点击会自动收缩
根据文档：
[code]
一旦设置属性： OnClick， SelectedNodeChanged, SelectedDataChanged 这样的点击事件。
当前Tree会全部收缩。

参考代码来自官网文档：
![image](https://user-images.githubusercontent.com/3870105/189089573-2e1892d8-6941-4e84-a4fc-89bdd8f8fb8e.png)

[2022-09-08 09:57] Alexbits commented on #1259
@ElderJames this issue is still present, looking into it

[2022-09-08 10:40] ElderJames commented on #1259
Great! Thank you @Alexbits .

[2022-09-08 20:02] bobtnt commented on #2691
Yes, it's fixed indeed, thank you so very very much. You're super duper amazing . . . . . .

[2022-09-08 20:02] #2691 closed

[2022-09-09 02:08] #2685 closed

[2022-09-09 02:09] #2493 closed

[2022-09-09 03:00] Breave-YY opened #2696 "DatePicker, after setting the PoppopContainerSelector property, the position of the date panel is always displayed in the left position that has been bottomed, and if the date panel is just on the edge of the parent, a scroll bar will appear."
[code]

![1662692001981](https://user-images.githubusercontent.com/46343752/189263232-206b8fbb-f52f-4136-be70-b28872b5f341.jpg)

[2022-09-09 05:52] ElderJames commented on #2682
Hi @kimx , you can try to call `ReloadData(queryModel)` at the first call by `OnChange` event.

[2022-09-12 07:33] vendre21 opened #2702 "CalendarChart component is missing from the AntDesign.Charts nuget package"
### Describe the bug

I installed the Visual Studio Template as it was suggested on your GitHub site, but the CalendarChart component is missing from the AntDesign.Charts namespace

### Steps to reproduce (please include code)

1. Install the Visual Studio Template and start a new Project with that template
2. Add a new page with CalendarChart component

### Further technical details
- AntDesign P

[2022-09-12 07:39] kimx commented on #2682
Thanks your advice. As below code It can be work . But it seems like some redundant code to check it.
[code]

[2022-09-12 09:57] ElderJames commented on #2225
Validation of `RangeAttribute` is currently supported

[2022-09-12 11:51] boehml commented on #2281
@ElderJames I can still reproduce it with the steps from above (version 0.12.2)

[2022-09-12 12:10] ElderJames commented on #2281
@boehml Thanks for reminding. We will take a look into it.

[2022-09-12 13:06] vincejairam commented on #2534
Hi @ElderJames I'm sorry for the late response, yes please close this out.

[2022-09-12 13:06] #2534 closed

[2022-09-12 13:29] Kistelekig98 opened #2704 "Segmented component binding error"
### Describe the bug
I try to bind a Segmented component to a boolean property, but it does not work at the first render.

### Steps to reproduce
SegmentedTest.razor:
[code]
SegmentedTest.razor.cs:
[code]

You can run my [basic test app](https://github.com/Kistelekig98/BlazorApp1) as well.
Open "Segmented" menu from the NavMenu.
Now the checkboxes are binded properly, but the Segmented components

[2022-09-12 15:22] ElderJames commented on #2704
Thanks @Kistelekig98 , we would fix this by #2699

[2022-09-12 19:02] bobtnt commented on #1965
The above is exactly the correct problem statement and that's what we should focus on. I'm still facing this issue. Note that the issue cannot be fixed by SearchDebounceMilliseconds nor by limiting number of items to search, because the lag happens during typing, not during search.

Question: any reason why we don't simply implement typing debounce just like the one used in Input component? The De

[2022-09-13 05:41] #2225 closed

[2022-09-13 05:46] ElderJames commented on #2704
Hello @Kistelekig98 , please check if the v0.12.3 solve this issue.

[2022-09-13 06:12] Kistelekig98 commented on #2704
@ElderJames it is working now, thank you! 🎉

[2022-09-13 06:12] #2704 closed

[2022-09-14 06:17] #2615 closed

[2022-09-14 09:56] true-perfect-code opened #2709 "Carousel does not seem to work!"
### Describe the bug

Can you please check Carousel, the component doesn't seem to work anymore?

### Steps to reproduce (please include code)
Insert demo code:
[code]
### Exceptions (if any)

### Further technical details
- AntDesign Nuget 0.9 until the newest
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version WS 2022

Thanks
Justin

[2022-09-14 14:20] #2637 closed

[2022-09-14 14:37] ElderJames commented on #2709
Hello @true-perfect-code , it seem work fine.

Please try:

[code]

[2022-09-14 16:59] true-perfect-code commented on #2709
Thanks **ElderJames**

Justin

[2022-09-14 16:59] #2709 closed

[2022-09-15 02:51] GlodenBoy opened #2713 "RangePicker clicks on a different area to close the date box for a bug that triggers the onChange event of the old value"
RangePicker 点击其他区域关闭日期框会触发返回一个旧值的OnChange事件的BUG，如下图所示：

![image](https://user-images.githubusercontent.com/2329528/190302086-3934543c-e602-4cc0-b61d-f7d29e8a1551.png)

只有按下拉框里的确定按钮关闭才不会触发旧的Onchange事件

所以点击其他区域关闭日期框是不是不应该触发一个Onchange?

code：
`<RangePicker OnChange="OnDatePickChange"  AllowClear="@false" Value="@(new DateTime?[] {)" TValue="DateTime?[]" ShowTime='@("HH:mm")' Format="MM-dd HH:mm"/>`

[2022-09-15 03:08] PCichigo opened #2714 "Problem with Datepicker culture "th-TH" when typing"
### Describe the bug

Hello : )

From the latest update, I see that you already solve the problem of DatePicker with culture "th-TH".
(According to [https://github.com/ant-design-blazor/ant-design-blazor/issues/2378](url))
I'm very grateful for that. After trying it for a while, it is working perfectly now if the user pick the date from the calendar.

However, there is one minor problem that I fou

[2022-09-15 14:05] charleypeng commented on #2389
updated to the latest version, after drag the reusetabs,  still right click the menu item popup in a wrong position which is far from the mouse pointer, any idea to solve this problem?

[2022-09-15 16:15] ColinZeb commented on #2713
RangePicker 无法选择月份年份和这个有关吗，无论是wasm 还是 server，甚至演示文档都有这问题
Is this related to RangePicker's inability to select month and year, both in wasm and server, and even in presentations?

[2022-09-15 18:50] Alexbits commented on #2713
@GlodenBoy The OnChange event is triggered whenever the date is selected on the panel, and the OK button does not trigger this event. When you do not confirm the selected date with the OK button and click on the empty space to close the dropdown, the event is triggered because the value is changed from the last selected to the previously selected one.

I was thinking about this earlier and maybe t

[2022-09-16 01:23] SoaSoftNet opened #2717 "Two questions about the use of CheckboxGroup"
CheckboxOption[]  Processings = new CheckboxOption[4]; 直接定义长度报错。
Processings.Append(new CheckboxOption { Label = "截图", Value = "截图" }); 追加无效果。数据显示不出来。
![image](https://user-images.githubusercontent.com/30250585/190536336-1d5d4709-4095-4c7c-914f-2bc6abba323d.png)

[2022-09-16 01:29] SoaSoftNet commented on #2717
CheckboxOption[] Processings = new CheckboxOption[4]; Directly define the length and report an error.
Processings.Append(new CheckboxOption { Label = "Screenshot", Value = "Screenshot" }); Append has no effect. Data is not displayed.

[2022-09-16 02:18] SoaSoftNet opened #2718 "Question about checkboxgroup selected items"
Question 1: When there are identical text items. It can be selected, not canceled, and no error is reported.
![37b9b6d317440d3a97c84e8ee09b4b6](https://user-images.githubusercontent.com/30250585/190542015-241b2e10-db21-4300-b2bf-1a32a677033d.jpg)

[2022-09-16 02:37] GlodenBoy commented on #2713
@Alexbits

[2022-09-16 02:47] SoaSoftNet commented on #2718
It is recommended to add two configuration items that can obtain Key and Text, so that users can obtain relevant data according to user needs.

[2022-09-16 03:10] charleypeng opened #2719 "Reusetab and context menu display error"
### Describe the bug

1. in reusetab after use draggable feature, when drag started, and right click mouse to popup the context menu, the position of menu is in a remote area like below

2. after click the close button of the tabs, and then reopen a tab, the tab can not create properly

`blazor.webassembly.js?v=0.1.14:1 Uncaught (in promise) Error: System.ArgumentException: There is no tracked obj

[2022-09-16 03:11] charleypeng commented on #2719
![32](https://user-images.githubusercontent.com/2144710/190548765-f833a060-64c6-430b-b140-5923dfabbb0c.PNG)
![33](https://user-images.githubusercontent.com/2144710/190548774-338e128a-4bd1-4337-86e0-3164fe02781b.PNG)

[2022-09-16 03:37] SoaSoftNet commented on #2717
![bdacb3289a162a6cfbcace05d672e0e](https://user-images.githubusercontent.com/30250585/190551290-42aa6922-fb80-451c-a1b0-237668af1618.jpg)
![cc9e96cfe2582dded685e4f16410bda](https://user-images.githubusercontent.com/30250585/190551306-cbabdf01-24a8-4103-bed8-fd87ace62b74.jpg)
![e0e05d580c08c6194cb81a9140adc59](https://user-images.githubusercontent.com/30250585/190551323-37ea377b-3810-45f2-9e79-5223

[2022-09-16 03:40] #2714 closed

[2022-09-16 06:19] Alexbits commented on #2713
@GlodenBoy
The OnChange should not be triggered by the closed dropdown. This will be fixed.

No, it should not have the same behavior as the OK button. It reverts the value to the previous one or clears it if not confirmed with the OK button.

[2022-09-16 14:15] GlodenBoy commented on #2713
After that, is it necessary to go through the OK button to trigger the onchange? Because the user may not click OK but directly click on another date or close it, now it is controversial whether closing the window does not need to restore the value when it is not pressed OK?

[2022-09-16 15:41] Alexbits commented on #2713
@GlodenBoy
When the OK button is present, it's necessary to confirm with the OK button. Otherwise, there is not much sense in the OK button. The OK button is present only when the time selection panel is visible. This is how it's done in the ant.design.

[2022-09-17 02:33] nguyenvanbien95 opened #2722 "Add Global config for DebounceMilliseconds all component"
### Is your feature request related to a problem? Please describe.
 I am trying to do using Input, Search component for all my form. There is a problem with DebounceMilliseconds. It is not good for Vietnamese typing. Default 250ms is so fast. I want to change it to 1000ms but I have to set manual for each Input or Search Component.

### Describe the solution you'd like
A clear and concise descript

[2022-09-17 03:02] GlodenBoy commented on #2713
But now there is no way for me to get the latest value, because the value returned by the onchange event is messy, how do I get the latest value instead of letting it be restored?

Maybe it's possible to come up with an API to set it up?

@Alexbits

[2022-09-17 06:51] Alexbits commented on #2713
Please read the above and wait a bit while the OnChange behavior will be fixed.

[2022-09-17 06:59] ElderJames commented on #2722
Thanks for the advice @nguyenvanbien95 , this is a good proposal. Would you please to hlep for implement?

[2022-09-17 07:02] ElderJames commented on #2713
Thank you @Alexbits

[2022-09-17 13:53] pc-Justin opened #2724 "Ant in MAUI Blazor project freezes all controls (only real devices)!"
### Describe the bug

If you include Ant component in a MAUI Blazor application and then run the application on your phone, you will be able to click around a few times, but after a short time the default menu of the MAUI Blazor application freezes like the Ant component you selected (I included the Rate-component  for example).

But if you do the same with Adnroid Emulator in Visual Studio 2022,

[2022-09-17 19:14] pc-Justin commented on #2724
This is not an Ant problem, but a Google problem with the WebView component. In the meantime, the problem with Google WebView should be fixed with the latest version.

If the old version of 09/05/2022 is still on the phone, then simply uninstall (Android then leaves the factory version of WebView on it with which then everything works).

See also:
https://github.com/dotnet/maui/issues/9882

Justin

[2022-09-17 19:14] #2724 closed

[2022-09-18 14:47] berkerdong opened #2725 "ReuseTabs close other tab rendering error"
![image](https://user-images.githubusercontent.com/36178221/190912590-f9f19155-e7b2-4985-97e7-1c325526da27.png)

_ReuseTabs component When there are many open Tabs, there will be a sliding effect, which is a very good implementation in itself, and it does a great job._

**ReuseTabs组件 当打开的Tabs比较多的时候，会出现滑动效果，这本身是很好的实现，做的很棒。**

-------------------------------------------------------------------------

[2022-09-18 22:49] KieranDevvs commented on #2724
Had this problem for the past few days, spent hours trying to debug what was causing it. Thanks for the info.

[2022-09-19 00:06] zoulei881120 opened #2726 "Why the property of SubMenuCloseDelay is missing in Menu Component"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2022-09-19 03:01] #2617 closed

[2022-09-19 08:16] berkerdong opened #2727 "ReuseTabs Component causes SupplyParameterFromQuery to fail"
The ReuseTabs component causes SupplyParameterFromQuery to fail, and the parameters passed in through the url cannot be obtained

ReuseTabs 组件导致 SupplyParameterFromQuery 失效，获取不到通过url 传入的参数

[https://learn.microsoft.com/zh-cn/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-6.0#query-strings](https://learn.microsoft.com/zh-cn/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-6.0#query-

[2022-09-19 20:46] CyberryCJ opened #2728 "How to change icon in button dynamically?"
I tried to change icon in button dynamically. but it wont change. sample code below
![image](https://user-images.githubusercontent.com/36914098/191133838-13ae6749-07ca-42dd-81ff-531f41ab7711.png)
![image](https://user-images.githubusercontent.com/36914098/191133989-0d50ecd9-40dd-4544-b021-e71116e624a0.png)
this image after clicking button. Text changes but button icon not change to unlock icon.
![

[2022-09-20 01:47] shuaqq2004 opened #2729 "DateTimePicker control cannot switch year/month"
https://antblazor.com/zh-CN/components/datepicker

![image](https://user-images.githubusercontent.com/3870105/191149183-d9e74f7b-c795-4ece-897b-d642f91fcd09.png)

这里点击 年/月  无法切换到对应的年份或月份上
Clicking year/month here cannot switch to the corresponding year or month

[2022-09-20 03:01] MarkoH17 commented on #1026
Any updates on this?

I am also exploring AntBlazor in a new project that uses interfaces to represent data models which are generated from GraphQl queries and mutations (https://chillicream.com/docs/strawberryshake/), but these interfaces can't be used easily with this library.

Wrapping these interfaces with classes using a decorator pattern isn't an option because it takes away the advantage of

[2022-09-20 03:28] ElderJames commented on #1026
@MarkoH17  Sorry, this is a component design limitation. We rely too much on the `Column` to render some has nothing to do with RenderFargment content. We hope someone can improve that.

[2022-09-20 14:07] UtGithubs opened #2731 "Grid system in Modal ?"
How to make the grid system dependent on the size of the modal? (not browser dimension)
(Xs="24" Sm="24" Md="24" Lg="12" Xl="12" Xxl="12")

[2022-09-20 22:27] YongQuan-dotnet commented on #2582
i can work on it

[2022-09-21 03:48] SoaSoftNet opened #2732 "tabs bug"
[code]
First TabPane  Disabled=True ，
![359ee7c9fcccd581eb135d8c5efc658](https://user-images.githubusercontent.com/30250585/191409966-ae3441d6-5359-4671-ad9d-d9ed77d3946f.jpg)
At the same time, it is recommended to add Tabs items to show and hide methods.

[2022-09-21 04:30] mkk2cp opened #2733 "Unit testing on Row raises an exception"
### Describe the bug

Unit test on `Row` component raises an exception with  `BUnit`.

### Steps to reproduce (please include code)
Create a sample component `SampleRow.razor`.
[code]
Create a unit test with `BUnit`. `TestBase` inherits  `AntDesign.Tests.AntDesignTestBase`.
[code]
Run the test in test explorer.

### Exceptions (if any)
Object reference exception in  `Row.AfterRenderAsync`
![image]

[2022-09-21 04:48] ElderJames commented on #2733
Hi @mkk2cp , would you please help us to improve the test coverage #2644 ?

[2022-09-21 13:24] liban001 opened #2734 "a bug in popconfirm component"
The visible attribute of the popconfirm component cannot control the display and hiding of the component, and in the official website delete a task example, the prompt box will always pop up regardless of whether the display is turned on

[2022-09-22 03:15] SoaSoftNet opened #2736 "Descriptions components bug"
private Dictionary<string, int> DescriptionResponsiveColumn = new Dictionary<string, int> {
            { "xxl", 3 },
            { "xl", 3},
            { "lg", 2},
            { "md", 2},
            { "sm", 1},
            { "xs", 1}
        };

![image](https://user-images.githubusercontent.com/30250585/191650386-47cf84ea-c25c-4c09-8a13-e698b48665cc.png)
According to the above response configu

[2022-09-22 05:37] SoaSoftNet commented on #2736
Supplement, responsive configuration, invalid when multiple responsive configurations are configured on one page at the same time

[2022-09-22 08:33] GlodenBoy commented on #2713
@Alexbits

Hello friend, please ask how is your side of the progress, my project this problem is not very good to bypass, because I will send a request to change the data every time I change, because it will be restored, so there will be an extra restore request and log, which is not very friendly.

[2022-09-22 08:42] Alexbits commented on #2713
@GlodenBoy I plan to submit a pull request this week with improvements

[2022-09-22 08:44] GlodenBoy commented on #2713
Thank you so much!

[2022-09-22 10:12] GlodenBoy opened #2739 "The tooltip component's MouseEnterDelay attribute lacks a judgment as to whether the mouse is on the element."
I saw in the source code that the MouseEnterDelay attribute is simply delayed in display,

but if the mouse is not placed on the element in the sudden display will seem strange.

it is possible that the user just crossed over.

The tooltip should not be displayed if the mouse is not on the element.

I tried to inherit the tooltip component to override some methods to achieve the goal, but because

[2022-09-24 02:38] xuxianshengsr opened #2743 "EnumRadioGroup not Disabled"
EnumRadioGroup Disabled is invalid

[2022-09-24 05:15] #2694 closed

[2022-09-25 09:05] #2743 closed

[2022-09-25 14:14] GlodenBoy opened #2745 "When using IMessageService to pop up the message box in Modal, 2 messages pop up"
When using IMessageService to pop up the message box in Modal, 2 messages will pop up, one will pop up on the outside, one on the inside, and when the modal is closed, the internal message will be closed, but the external one will not.

[2022-09-26 00:32] SoaSoftNet opened #2746 "ReuseTabs Bug"
![image](https://user-images.githubusercontent.com/30250585/192172928-1fdb5d81-d44b-4396-a2e0-2bb2725f8505.png)
![image](https://user-images.githubusercontent.com/30250585/192172937-8ed46b89-407a-43dd-a76f-af4d2696fd52.png)
Question 1: When opening a multi-tab page, right-click to close all tab pages, and an exception is reported.
![image](https://user-images.githubusercontent.com/30250585/1921730

[2022-09-26 01:59] YongQuan-dotnet commented on #2582
PR is merged. can we mark it as Done?

[2022-09-26 02:09] ElderJames commented on #2582
@YongQuan-dotnet  Yes, thank you.

[2022-09-26 02:11] #2136 closed

[2022-09-26 02:11] #2241 closed

[2022-09-26 02:12] ElderJames commented on #2746
Have been fixed in #2738 , please wait for the 0.12.5 release.

[2022-09-26 03:56] SoaSoftNet opened #2747 "Tabs CSS display misplaced"
![a5e70d444b2561cf50cbc8e0d063454](https://user-images.githubusercontent.com/30250585/192190798-db0bbc9e-b540-463e-a184-d92b94cf42b5.jpg)
![fd7712538d0ee9695cd94b4d288feb6](https://user-images.githubusercontent.com/30250585/192190821-fa82f004-07aa-4a86-b0dd-e559a5437528.jpg)
Remarks: TabCoatingShow, TabPrintShow, TabDieCutShow are Bool variables that control whether the Tabs tab is displayed.

[2022-09-26 05:09] charleypeng commented on #2719
add bug info

[2022-09-26 05:40] SoaSoftNet commented on #2747
<CardTabs>
                <Tabs DefaultActiveKey="1" Animated>
                    <TabPane Tab="品检" Key="1">
                        <Descriptions Bordered Size="@DescriptionsSize.Small" Column="@DescriptionResponsiveColumn" Style="margin-bottom:5px;" Class="descriptions-title">
                            <DescriptionsItem Title="内容参照物">@DetailModel.ContentReference</DescriptionsItem>

[2022-09-26 08:15] Alexbits commented on #2729
@shuaqq2004 @ElderJames I can't reproduce it. What is the issue exactly here?

[2022-09-26 08:39] shuaqq2004 commented on #2729
step 1:
![image](https://user-images.githubusercontent.com/3870105/192231082-98142ef1-628e-42e7-8ebe-85307a9ead1f.png)

step 2:
Click on the 2020 year:

![image](https://user-images.githubusercontent.com/3870105/192231160-bc5a4b01-7e0e-45cc-838e-39be71d79f0b.png)
![image](https://user-images.githubusercontent.com/3870105/192231245-d502c09c-d381-4783-a25c-497e3c8d71f7.png)

step 3:
正确情况是出现2020年9月的内

[2022-09-26 11:01] Alexbits commented on #2729
@shuaqq2004 Thanks. I see it now.

[2022-09-26 11:26] Alexbits commented on #2729
@shuaqq2004 @ElderJames added fix to #2741

[2022-09-26 13:00] ElderJames commented on #2729
@Alexbits Big thanks!

[2022-09-27 02:39] lyj0309 opened #2748 "AutoComplete search issue"
输入中文不会自动匹配，不定期匹配成功
![1](https://user-images.githubusercontent.com/50474995/192418774-5c6371ad-e22d-462b-8d1b-9a1b1b92c0e0.gif)

[2022-09-27 03:50] lyj0309 commented on #2748
初步判断是因为监听的是onkeydown事件，但是使用输入法时候并不会触发这个事件，所以也不会触发搜索

想到的解决方法：
1. 使用compositionstart和compositionend事件 ref<https://blog.csdn.net/jason_renyu/article/details/103136491>

2. 监听到数据变化则执行搜索，而不是onkeydown事件

[2022-09-27 06:41] #2713 closed

[2022-09-27 06:41] #2729 closed

[2022-09-27 07:24] UtGithubs commented on #2731
Hello @ElderJames,
Is it possible for grid system media size to depend on modal width?

[2022-09-27 09:53] shuaqq2004 opened #2749 "通过ModalService创建的Modal，Maximizable设置无效 - When you create Modal with ModalService, Maximizable setting is not valid"
[code]

![image](https://user-images.githubusercontent.com/3870105/192495186-a334863a-ba68-4407-80bf-b3c30e5b3dff.png)

[2022-09-27 13:20] zxyao145 commented on #2749
@shuaqq2004

Hello，确认了这是一个bug，一个临时解决方案：尝试使用 modalOptions.TitleTemplate 替代 modalOptions.Title。

[2022-09-28 06:07] lyj0309 opened #2752 "AutoComplete search issue"
当下拉列表不显示时，需要退格两下才能重新展示下拉列表

如：当我从`beii`退格，到`bei`时，应该显示，而不是再退格一次，`be`才显示下拉列表
![1](https://user-images.githubusercontent.com/50474995/192700212-e1c134f9-cf31-4e84-853b-cfd236040cc2.gif)

[2022-09-28 12:29] ElderJames commented on #2728
@YongQuan-dotnet cc

[2022-09-28 13:09] dkosinskyi commented on #2088
Did someone fixed it or did someone find another way to get around this?

[2022-09-28 14:24] CAPCHIK commented on #2088
My workaround is use custom state change component in each tab

[code]
`NotifiedTabContent`
[code]

And any component can use reference to invoke StateHasChanged
[code]

You can also simply wrap the entire Tabs in a component that will have an event and a method for calling it, the content of the headers can be brought into the component, and subscribe to the event via CascadingParameter, and call

[2022-09-29 07:59] dkosinskyi commented on #2088
It works, thx <3

[2022-09-29 08:03] shuaqq2004 opened #2754 "Tree control property DefaultCheckedKeys setting is invalid"
发现了Tree.DefaultCheckedKeys 设置在OnAfterRenderAsync 没用

DefaultCheckedKeys set in OnAfterRenderAsync is not useful

[code]
在OnAfterRenderAsync生命周期下，此时同步Get可以， 但是GetAsync是不行的。
1.要么开放_tree.Check(List<string> keys)方式，
2.要么支持DefaultCheckedKeys 或 @bind-CheckedKeys 针对变动的情况下也能选中。

In the OnAfterRenderAsync lifecycle, Get can be synchronized at this time, but GetAsync cannot。
1. Either open _tree.Check(List

[2022-09-29 08:56] ElderJames commented on #2088
Hi @CAPCHIK , would you be interested in helping us to fix this?

[2022-09-29 08:58] CAPCHIK commented on #2088
Yes, but I don't have enough time for that yet

[2022-09-29 09:15] #2749 closed

[2022-09-29 14:04] zxyao145 commented on #2745
@GlodenBoy

Hi, I'm sorry that I can't reproduce this problem locally. Could you provide a demo?

[2022-09-30 01:26] shuaqq2004 opened #2757 "TreeSelect turns on Multiple and TreeCheckable to select data errors"
![image](https://user-images.githubusercontent.com/3870105/193170023-21a5deef-08f3-4d34-bcb5-f867ace4236d.png)

同时：
![image](https://user-images.githubusercontent.com/3870105/193170141-5d5c4382-47b5-488a-a5de-294231fec2f9.png)
需要手动设置TreeCheckable
The TreeCheckable must be set manually

[2022-09-30 03:40] ElderJames commented on #2757
Hi @shuaqq2004 , please post your code here.

[2022-09-30 05:58] shuaqq2004 commented on #2757
和官方文档的代码一样，支持多了个
[code]

[2022-09-30 06:00] shuaqq2004 opened #2758 "TreeSelected增加ShowCheckedStrategy属性 - TreeSelected added the ShowCheckedStrategy attribute"
根据官方文档：

https://ant.design/components/tree-select-cn/

<html>
<body>

showCheckedStrategy | 配置 treeCheckable 时，定义选中项回填的方式。TreeSelect.SHOW_ALL: 显示所有选中节点(包括父节点)。TreeSelect.SHOW_PARENT: 只显示父节点(当父节点下所有子节点都选中时)。 默认只显示子节点 | TreeSelect.SHOW_ALL \| TreeSelect.SHOW_PARENT \| TreeSelect.SHOW_CHILD | TreeSelect.SHOW_CHILD
-- | -- | -- | --

<br class="Apple-interchange-newline">
</body>
</html>

[2022-09-30 06:10] shuaqq2004 opened #2759 "TreeSelect.TreeNode does not support DateItem"
在代码上新增DataTime的话，会出现如下图所示，不会出现 1 的子节点。
When you add DataTime to your code, you will see something like the figure below, with no children of 1.

![image](https://user-images.githubusercontent.com/3870105/193202204-00d742a8-029a-4cf8-9630-4e909ed3f588.png)

[code]

[2022-09-30 06:45] GlodenBoy commented on #2745
@zxyao145
Sorry, I found that I can't reproduce it, I don't know what caused it, and I'm sorry for delaying your time.

[2022-09-30 06:45] #2745 closed

[2022-09-30 08:03] zxyao145 commented on #2745
@GlodenBoy
OK. If you have any questions, you are welcome to reopen the issue for communication.

[2022-09-30 14:23] Kistelekig98 opened #2760 "Segmented component Disabled error"
### Describe the bug

Disabled property on Segmented component has no effect

### Steps to reproduce

1. Check [my repo](https://github.com/Kistelekig98/BlazorApp1) or the code below
2. Navigate to "Segmented test" menu
3. Clicking the switch should disable the second Segmented component.
4. You can change the value of the first Segmented, although that is statically Disabled.

SegmentedTest.razor

[2022-10-01 13:25] Postlagerkarte commented on #2641
Isn't this related to #2730 ?

[2022-10-03 15:31] Magehernan opened #2763 "Input: is this a bug?"
Hi, i am having a problem with the input component, it not clear the validation errors.
when you change the value enters on KeyUp event and then get to this code

https://github.com/ant-design-blazor/ant-design-blazor/blob/726f10aa35e16a7f65c0d6c2d66d519e6571ad7b/components/input/Input.cs#L479-L489

it sets de CurrentValue but it do it before called OnChangeAsync

https://github.com/ant-design-bla

[2022-10-04 00:21] michaelcsikos opened #2765 "Input with Prefix + Icon not setting width correctly"
`<Prefix><Icon Type = "user"></Icon></Prefix>`:

![image](https://user-images.githubusercontent.com/21806535/193708243-51e2efa0-99b1-4c24-9268-be6247f03b33.png)

`<AddOnBefore><Icon Type = "user"></Icon></AddOnBefore>`:

![image](https://user-images.githubusercontent.com/21806535/193708261-1c023153-5da0-4587-83bf-efb4d9d1ea1e.png)

[2022-10-04 05:07] michaelcsikos opened #2766 "InputNumber option to align text right, set decimal places to display"
Setting `Style = "align-text: right;"` works for `Input` but not for `InputNumber`. It's often a requirement to align numbers right, particularly when working with currency and a fixed number of decimal places, e.g. `$123.45`. It would be nice to have a property to easily set the alignment.

It would also be nice to have
[code]
instead of setting `Formatter = "Format"` and declaring a method
[code

[2022-10-05 11:28] bee-i-chris opened #2767 "DatePicker with time input reverts value change when losing focus"
### Describe the bug

When the current value in a DatePicker (with time) is changed in the input control and the user leaves the DatePicker, the changes are lost.

### Steps to reproduce (please include code)

1. Go to https://antblazor.com/en-US/components/datepicker
2. In Example "Choose Time" select a date and time and click ok.
3. Click on DatePicker again. The popup window will open, but the

[2022-10-05 16:25] chenajiong opened #2768 "Table tree supports for expansion load directly"
When we load the table tree,we can see the table tree expanded.The father nodes and son nodes can be selected directly,otherwise we can't set the son node checked when we want to switch the pageIndex while keeping the selection status.

[2022-10-05 17:57] Alexbits commented on #2767
@bee-i-chris The input in DatePicker with time should always be confirmed with the OK button or Enter key. Tab or clicking outside will revert the previous value, this is by design. From what I see, there is an issue with the Enter key to confirm the input. I will check this.

[2022-10-05 18:32] Alexbits commented on #2767
Hey @ElderJames From what I see, the nuget and [antblazor.com](https://antblazor.com/en-US/components/datepicker) do not have the latest DatePicker fixes #2741 causing this and other issues. The master branch looks good, I can't replicate this issue, but I can replicate it on the [antblazor.com](https://antblazor.com/en-US/components/datepicker) and latest nuget. I'm not sure what's going on. 🤷‍♂️

[2022-10-06 00:16] michaelcsikos commented on #1113
Having the option to hide the `Cancel` button with the `ModalService` would be extremely useful.

[2022-10-06 00:38] michaelcsikos opened #2769 "ModalService option to hide Cancel button"
This would be extremely useful. Sometimes you just want to display a read-only view with `OK` or `Close`.

Setting `Footer = null` is a workable compromise.

[2022-10-07 02:17] datnguyen89 opened #2770 "showCount for Input component"
Dear antd Team,
I hope that you guys build feature showCount for Input comopnent like ant.design (javascript)
It's very usefull feature
Best regard!
![2022-10-07_9-17-10](https://user-images.githubusercontent.com/55984933/194452656-ba46c204-6e1a-477b-a44e-405620dcff54.png)

[2022-10-07 13:58] bee-i-chris commented on #2767
@Alexbits
Thanks for your quick answer. But I belive this is not was it should behave or something is wrong with the bits as you wrote.

Even the example on https://antblazor.com/en-US/components/datepicker behaves different. If you change the date by typing on the keyboard and leave the control by clicking outside with the mouse, the new value is accepted. This should be the default behavior. If

[2022-10-07 15:57] Alexbits commented on #2767
@bee-i-chris @ElderJames The issue you are facing was fixed in one of my pull requests #2741. It looks like the example [](https://antblazor.com/en-US/components/datepicker) has the older version. The master branch looks good, you can clone the master branch and check how it works on your machine.

I'm trying to find out what's going on. We have to wait for @ElderJames to reply.

From what I under

[2022-10-08 08:17] zxyao145 commented on #2769
@michaelcsikos
Hi, this is a good suggestion, but Modal is often used to allow users to make free choices in OK and Cancel. If you only want the user to select Ok or Cancel, you'd better use Confirm.

Or do you have any reason to use Modal this way?

[2022-10-08 13:43] Jackywxp opened #2772 "The close icon does not appear in the upper-right corner of the modal box, but it can actually be turned off"
https://ant-design-blazor.gitee.io/zh-CN/components/modal
模态框右上角未显示关闭图标，但实际仍可以关闭。F12查看，可以看到关闭标签代码。
The close icon does not appear in the upper-right corner of the modal box, but it can actually be turned off
![modal](https://user-images.githubusercontent.com/30179938/194710452-b508978a-5c78-4615-9ca0-f03872a34cf5.png)

[2022-10-09 01:57] towerbit opened #2773 "Cascader AllowClear ="false" does not work"
### Describe the bug

The property “AllowClear ” of Cascader  does not work. The close button is allways visible and effective even setting AllowClear ="false".

Cascader  的 AllowClear 属性好像不起作用。关闭按钮始终是可见和有效的，即使设置 AllowClear =“false”。

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version
0.12.4
- Include the output of

[2022-10-09 05:17] zxyao145 commented on #2772
@Jackywxp
Hi, the close icon does not appear in the upper-right corner of the modal box is an expected behavior in Confirm dialog, and the event bug will be fixed later.

[2022-10-09 11:06] #2772 closed

[2022-10-10 01:30] ElderJames commented on #2644
Hello @kooliokey , would you like to continue to help the improvement?

[2022-10-10 05:11] #2582 closed

[2022-10-10 05:50] lyj0309 opened #2777 "`DomEventListener.AddExclusive` doesn't work"
凡是使用到这个方法的地方，都不起作用。

Wherever this method has been used, it's not work.

affix
![4](https://user-images.githubusercontent.com/50474995/194805163-f68ec73c-c8a5-4e30-b85f-bb91bd7ae581.gif)

place
![image](https://user-images.githubusercontent.com/50474995/194805099-5a3df51a-08fd-4d96-9c12-365ad54e51be.png)

[2022-10-10 22:36] michaelcsikos commented on #2769
The way to use `Confirm` is very different and requires quite a lot of lines to change. I also can't see how to set the size of `Confirm` and with the `ModalService` it doesn't have to be a blocking modal dialog so the user can click outside to close it.

[2022-10-11 01:21] #2760 closed

[2022-10-11 01:29] zxyao145 commented on #2769
Yes, Confirm does not support setting size. And we will try to support Footer designs that only have OK or Cancel buttons, maybe this weekend will come to a conclusion.

[2022-10-11 01:33] michaelcsikos commented on #2769
That would be great. I had tried setting the `Cancel` text to `null` or `string.Empty` hoping that the button would be hidden in this case, but that also didn't work.

[2022-10-11 01:38] zxyao145 commented on #2769
You need to customize a Footer, and you can refer to the next https://github.com/ant-design-blazor/ant-design-blazor/blob/master/components/modal/modalDialog/ModalFooter.razor, and try to remove the Cancel related code.

[2022-10-11 01:46] zxyao145 commented on #2769
a sample:

ModalOkFooter.razor
[code]

ModalOkFooter.razor.cs
[code]

usage:
[code]

and result:

![image](https://user-images.githubusercontent.com/24973084/194978499-75e32f9f-a9fa-42d3-8ef6-3a91868fa99b.png)

[2022-10-11 02:15] dswfort opened #2781 "ModalService doesn't work at blazor server mode"
### Describe the bug

Create a new `Blazor Server` project by Vusual Studio, copy the sample code from ant-design-blazor.gitee.io.

[code]
Click button and no response...

Is ModalService couldn't work at blazor-server?

### Further technical details
- AntDesign Nuget Package version **0.12.5**
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version is **VS2022**

[2022-10-11 02:21] dswfort commented on #2781
[BlazorApp1.zip](https://github.com/ant-design-blazor/ant-design-blazor/files/9750484/BlazorApp1.zip)
Here is the demo~

[2022-10-11 02:50] ElderJames commented on #2781
Hi @dswfort , did you add the `<AntContainer />` component in App.razor ?

[2022-10-11 02:52] GlodenBoy opened #2782 "RangePicker Unable to close automatically"
Other issues caused by fixing this issue #2713  @Alexbits

1. Clicking on other areas does not close automatically, but must be clicked OK, which will cause multiple date windows to appear ,This may not be a bug, but it's tricky to operate

2. If the date is not modified or cannot be closed after clicking OK, this is equivalent to forcing the user to modify the value

I tried the ant.design, which

[2022-10-11 02:53] GlodenBoy commented on #2713
#2782 0.12.5 Bug  @Alexbits

[2022-10-11 03:11] zxyao145 commented on #2781
Yes, this may be the reason why ModalService is not working.

I download BlazorApp1.zip and it works fine when I add <AntContainer /> component. Please try adding <AntContainer /> component to App.razor

![image](https://user-images.githubusercontent.com/24973084/194988433-1193ff94-ff28-4285-9891-317283cbe1a6.png)

[2022-10-11 06:04] ElderJames commented on #2733
`  JSInterop.Setup` is need to call for register the interop

[code]

[2022-10-11 06:31] #2733 closed

[2022-10-11 06:50] #2777 closed

[2022-10-11 07:07] SoaSoftNet opened #2784 "Abount Select Bug"
![image](https://user-images.githubusercontent.com/30250585/195018900-8e69f553-65df-4ac3-a824-0fd10f1f08df.png)
1、select any of them
2、select error again

[2022-10-11 07:45] GlodenBoy opened #2785 "If Trigger selects Click, it closes automatically when the mouse moves to the option"
For example,

https://recordit.co/rqtdLm2rbc

If Trigger selects Click, it closes automatically when the mouse moves to the option, overriding all Popover type components

[code]

[2022-10-11 08:17] Alexbits commented on #2782
@GoldenBoy @ElderJames I'm not sure what's going on yet. I can reproduce this only when referencing the nuget package. It works fine in the latest master branch.

[2022-10-11 08:20] GlodenBoy commented on #2782
Because I've been using nuget packages, because it's more convenient, it looks like you need to pack it yourself?

[2022-10-11 08:48] carboyDing opened #2786 "Click the blank area，the select Can't put it away"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce (please include code)

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Package version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2022-10-11 09:07] ElderJames commented on #2782
@Alexbits I think I have fix this with #2783 . Please check.

[2022-10-11 10:06] Alexbits commented on #2782
@ElderJames Looks fixed 👍

[2022-10-11 10:17] ElderJames commented on #2782
@GlodenBoy So this will be fixed in the next release.

[2022-10-11 11:36] #2784 closed

[2022-10-11 13:41] JosefBoska opened #2787 "Select do not dropdown open - no items in html"
Generated Select in html do not any items?

In debug mode i have many options in list var in Source=@
But in generated html source code is not any item (only @bind-value) and dropdown do not open.

**Even on your demo page the component SELECT don't work: https://antblazor.com/en-US/components/select#components-select-demo-big-data**

### Code
<Select DataSource="@Geratestandort"
          @bind-V

[2022-10-11 13:42] JosefBoska commented on #2787
Blazor server side APP.

[2022-10-11 16:05] ElderJames commented on #2786
Hi @carboyDing , please try the 0.12.6 release. Thank you.

[2022-10-12 01:06] dswfort commented on #2781
It works！

Sorry for reading document carelessly...

[2022-10-12 01:06] #2781 closed

[2022-10-12 03:11] ElderJames commented on #2785
@GlodenBoy Please update to 0.12.6 and check again.

[2022-10-12 04:03] JosefBoska commented on #2787
Now, its ok. Thanks

[2022-10-12 04:03] #2787 closed

[2022-10-12 04:49] YongQuan-dotnet commented on #2766
Decimal place will be supported by parameter Precision.
Most of style is actually supported atm, text align is bit tricky though.
Maybe consider to write some custom css if urgent?

[2022-10-12 04:58] michaelcsikos commented on #2766
Is `Precision` a new parameter that is planned to be added to `InputNumber`?

How would custom CSS work any differently if `Style = "align-text: right;"` is currently ignored?

[2022-10-12 05:06] YongQuan-dotnet commented on #2766
Yes @michaelcsikos Precision will be a new parameter applied to InputNumber.
It's not like all styles being ignored. It's just style text-align not taking effect to a Input inside a Div.

[2022-10-12 09:01] Kyojuro27 opened #2794 "JSDisconnectedException in Windows Event Viewer because of AntDesign.Table`1.DisposeAsync()"
Hello everyone,

I would like to point out an issue which occured when the SignalR connection is disconnected. In the company I'm working with, we are actually using Ant-Design-Blazor UI in several applications and it works well. But after a certain amount of time, we noticed in the Windows Event Viewer where our apps and IIS are installed that many Error and Warning are displayed.

Here the detai

[2022-10-12 12:47] ElderJames commented on #2794
Thank you for clearly describing the issue @Kyojuro27 , it really helped us!
I see you have found a solution, can you submit a PR by the way?

[2022-10-12 13:06] Riatekk commented on #2794
I have the same problem, I'm waiting for the next release

[2022-10-12 14:40] Kyojuro27 commented on #2794
Hi @ElderJames,

I made a pull request to adress the issue.

[2022-10-13 00:07] ElderJames commented on #2794
@Kyojuro27 Thank you very much,it help a lot and I will review it soon.

[2022-10-13 03:47] Breave-YY opened #2799 "Select components. You can only click the arrow to open the drop-down list?"
Select components. You can only click the arrow to open the drop-down list?

[2022-10-13 04:20] #2799 closed

[2022-10-13 06:46] #2748 closed

[2022-10-13 06:46] #2752 closed

[2022-10-13 11:18] danielbotn opened #2800 "Add HeaderStyle to Drawer"
### Feature to add property Headerstyle to Drawer component
Is it possible to add HeaderStyle prop to Drawer component?
This would be useful for changing for example, the background color of the Header inside the Drawer.
This property would change the `.ant-drawer-header` class.
Similar to the prop BodyStyle

### The solution would be something like this
Add a HeaderStyle property in the Drawer co

[2022-10-14 01:59] charset commented on #2728
I wrote a sample like your code but it worked as expected.
![image](https://user-images.githubusercontent.com/1499849/195744172-c3b230a7-0b75-48e6-9f16-50b53b33d25c.png)
![image](https://user-images.githubusercontent.com/1499849/195744188-399022be-8c6b-4336-8a27-a610d1c31d30.png)
I'm using the latest version of AntDesignBlazor.
I tested both `@onclick="(async () => await ChangeIcon())"` and `OnCli

[2022-10-14 03:02] ElderJames commented on #2800
Thanks for advice @danielbotn , this is a good idea. I think you can help to create a PR.

[2022-10-14 06:35] coolmint123 opened #2804 "Hide the borders of InputNumber"
### Cannot set Borders = false on InputNumber
I want to hide the borders of InputNumber, but there is no setting for Borders.
Input allows you to hide the borders , but you cannot set Min, Max, and Formatter.

### Add Borders to InputNumber
You can easily hide the borders of InputNumber.

[2022-10-14 09:47] coolmint123 opened #2806 "Select Icon is not displayed"
### Occurs when using AntDesign.ProLayout and Select

Select Icon is not displayed when unselected.
Display the item after selection.

### Location
Occurs in Select placed with RightContentRender of AntDesign.ProLayout.

### Technical details
- AntDesign.ProLayout 0.12.4
- VS2022 Version 17.2.6

[2022-10-14 18:02] ElderJames commented on #2806
Hello @coolmint123 , which icon do you mean?

[2022-10-15 03:40] yangpei1010110 opened #2807 "if call JSRuntime.InvokeVoidAsync("open", url,"_blank"); })) and close new tab then cannot press keyboard"
### Describe the bug

Cannot Press Keyboard

### Steps to reproduce (please include code)

``
@inject IJSRuntime JSRuntime
public async Task OnClick() {
   JSRuntime.InvokeVoidAsync("open", anyNewUrl);
}

``

### Exceptions (if any)

Not Display Any Exception

### Further technical details
- AntDesign Version 0.12.0
- dotnet --info
 .NET SDK (reflecting any global.json):
 Version:   6.0.400
 Commi

[2022-10-15 03:45] yangpei1010110 commented on #2807
I need to call a print website , URL is a Rest Api get method, like "http://host:port/PrintHtml/{Id}". website content is multiple <div style="page-break-after: always;"> in body,
 js code is:
<script type='text/javascript'>
	 window.onload = () => window.print();
</script>

[2022-10-15 03:47] yangpei1010110 commented on #2807
if I use JSRuntime to call this website, return origin website then cannot press any keyboard key.

[2022-10-15 03:51] yangpei1010110 commented on #2807
return origin website need to open modal ready to print new website, but cannot press value to input component in modal.

[2022-10-15 03:52] yangpei1010110 commented on #2807
`

<Modal Visible="@_visible"
       OnOk="@OkPrint"
       OnCancel="@(() => _visible = false)"
       ConfirmLoading="_loading">
    <Input TValue="string?" @bind-value="@OrderLineDto!.OrderType" ReadOnly>
        <Prefix>订单类型:</Prefix>
    </Input>
    <br/> <br/>
    <Input TValue="string?" @bind-value="@OrderLineDto!.DocNo" ReadOnly>
        <Prefix>订单号:</Prefix>
        <Suffix>行号:@OrderLine

[2022-10-15 03:56] yangpei1010110 commented on #2807
[code]

[2022-10-15 06:42] yangpei1010110 commented on #2807
I fix it just call
[code]
then origin page will be not freeze

[2022-10-15 06:42] #2807 closed

[2022-10-15 07:39] ElderJames commented on #2807
Pleaes add my wechat JamesYeungMVP, and jon our community

[2022-10-15 13:05] GlodenBoy opened #2811 "Two Popover bugs"
https://github.com/GlodenBoy/AntDesignBlazorBug.git

This is a test project with 2 pages and 2 bugs each：

page1:

When there was only one Popover on this page When switching pages, the ComplexAutoCloseAndVisible property will be invalid, and it cannot be automatically closed by clicking other areas

You can switch back and forth between page and page2 by clicking the button above and then clickin

[2022-10-15 13:05] GlodenBoy commented on #2785
#2811

[2022-10-17 00:26] coolmint123 commented on #2806
Thank you for your comment.

Sorry for lack of explanation.
The icons placed on the left side of Select are not displayed.
I don't know if it's a setting method or a specification.

![select](https://user-images.githubusercontent.com/27341028/196066021-486b99fb-3949-4012-94dd-05d2381c44a6.png)

    <RightContentRender>
        <Space>
            <SpaceItem>
                <AntDesign.Select DataS

[2022-10-17 20:37] YongQuan-dotnet commented on #2773
this issue has been solved and will be published in next release.

[2022-10-17 20:37] #2773 closed

[2022-10-18 01:02] #2746 closed

[2022-10-18 01:03] #2718 closed

[2022-10-18 01:04] #2438 closed

[2022-10-18 01:04] #1599 closed

[2022-10-18 01:29] ElderJames commented on #1599
Hi @SoaSoftNet ，have we fixed these issue you closed？

[2022-10-18 03:00] ElderJames opened #2815 "> Please try `Table.ReloadData(queryModel)` to resotre the query state when reloading data."
I wanna ask another question, how to avoid collapse table after using `Table.ReloadDate()`, espically i dont wanna use ExpandDefault?

_Originally posted by @Vik1ang in https://github.com/ant-design-blazor/ant-design-blazor/discussions/2808#discussioncomment-3884916_

[2022-10-19 02:32] kooliokey opened #2817 "Implement Project Code Style/Standards?"
### Is your feature request related to a problem? Please describe.
There is no problem, but there are many different coding styles in the project and I wonder if there should be a documented code style and perhaps standards for the project as a whole. Things such as using `this`, `var` vs the variable type, PascalCase, snake_case, etc. There are also some test files that are in razor files as oppo

[2022-10-19 06:23] ElderJames commented on #2817
That's a good proposal. We've always wanted to do this. Could you make some improvements?
We've already made the specification with editorconfig, just without enforcing the constraints.

[2022-10-19 06:58] GlodenBoy commented on #2811
Nested popovers are now prone to some strange problems, such as the outer popover is closed and the inside will be closed, which should not affect each other, especially with the Trigger.Click setting

[2022-10-19 12:54] oladroid opened #2820 "TreeSelect strange behaviour when selecting an item on the documentation page"
I need to use TreeSelect (https://antblazor.com/en-US/components/treeselect) in my project.
Code that I used:
`<TreeSelect
  AllowClear="true"
  TreeDefaultExpandAll="true"
  TItem="TreeItem"
  OnSelectedItemChanged="PermissionFilterOnSelectedItemChangedAsync"
  Placeholder="Please select"
  ChildrenExpression="x => x.DataItem.Children"
  TitleExpression="x => x.DataItem.Name"
  KeyExpression="x =

[2022-10-19 14:57] LeaFrock commented on #2817
A code analyzer and Roslyn will help us a lot.

[2022-10-20 01:00] coolmint123 opened #2823 "Initialize Modal with maximization"
Dear Developers,

### Modal maximization specification

I have a button that maximizes Modal,
Press the maximize button and then maximize.
I want to initialize Modal with maximization.
Please consider it.

[2022-10-20 03:14] michaelcsikos opened #2825 "Need Cascader Disabled option"
It's currently not possible to disable the `Cascader` component like we can with other components such as `Select`.

[2022-10-21 01:23] zxyao145 commented on #2823
That sounds very good, and I will try to add this feature.

[2022-10-21 03:43] ElderJames commented on #2825
Hi @michaelcsikos , do you mean disable the whole component?

[2022-10-21 04:20] michaelcsikos commented on #2825
@ElderJames Yes, the whole component.

[2022-10-21 07:37] zizaixiuxing opened #2827 "Table component Even if a row is marked disabled, it can still be selected by the selector in the header row"
Even if a row is marked disabled, it can still be selected by the selector for the header row

### Describe the bug
Table component
Even if a row is marked disabled, it can still be selected by the selector in the header row
like this
![Uploading wt1.png…]()

### Further technical details
- AntDesign Nuget Package 0.12.6

[2022-10-21 14:12] charleypeng opened #2828 "localization not show in MAUI prject"
I merged my project(webassembly) to maui, the localization of ConfirmService  did not work, the strings are blank.

[2022-10-21 14:17] charleypeng commented on #2828
ok  i found why

[2022-10-21 14:44] SoaSoftNet opened #2829 "About InputNumber Bug"
Operating steps: 1. Select the drop-down list box to load InputNumber data

2. Clear the drop-down list to select a value, and change the inputnumber value

3. Reselect the value of the drop-down list box

4. The inputnumber value automatically increases. Load once. Continuous automatic adding.

[2022-10-21 17:20] ElderJames commented on #2828
Hello @charleypeng , would you please tell us what's the problem?

[2022-10-22 00:36] SoaSoftNet commented on #2829
https://github.com/SoaSoftNet/AntDesign-Blazor-Input  demo

[2022-10-23 04:46] kooliokey opened #2832 "Suggestion: Change how site docs are generated"
### Is your feature request related to a problem? Please describe.
I've noticed there are many instances of documentation missing for public parameters in code and a difference in the documentation on parameters that are documented in code and the site.

### Describe the solution you'd like
I'm wondering if we should make the site's documentation generated from reading the documentation comments o

[2022-10-23 04:50] ElderJames commented on #2832
Yes, it would be better if we could implement this way, and it would be better if it could be translated into English and Chinese.

[2022-10-23 04:55] kooliokey commented on #2832
I can look into how it can be done. I'm not too familiar with how the docs are currently built though so it might take a while :D

[2022-10-23 05:14] ElderJames commented on #2832
Currently just using `AntDesign.Docs.Build.CLI` to render the markdown files and copy the razor code into json.

[2022-10-23 13:14] wuxinheng commented on #2825
@ElderJames @michaelcsikos  Let me try to solve this problem.

[2022-10-24 01:33] charleypeng commented on #2828
It's my own fault to load the resource file in a wrong path

[2022-10-24 01:34] #2828 closed

[2022-10-24 01:49] ElderJames commented on #2828
Please help us to create a MAUI demo with AntDesign

[2022-10-24 05:28] #2825 closed

[2022-10-25 02:51] ElderJames commented on #2422
Hi @coader , @NilkOne  , would you be interested in helping to solve this issue?

[2022-10-25 02:51] ElderJames commented on #2727
duplicated with #2422

[2022-10-25 03:17] ElderJames commented on #2638
Thanks for contacting us @gznsoft , we need to add a SpellCheck parameter for TextArea component.
Are you interested in helping to submit a PR?

[2022-10-25 03:30] ElderJames commented on #2307
Hi @Alexbits , could you please help confirm whether we support this event now?

[2022-10-25 03:32] ElderJames commented on #2365
Hi @eren186 , this is not AntDesign issue, please report this to [aspnetcore](/dotnet/aspnetcore) repo.

[2022-10-25 03:32] #2365 closed

[2022-10-25 03:48] ElderJames commented on #2281
@boehml Please try 0.12.6 .

[2022-10-25 04:18] ElderJames commented on #2227
Hi @xisimao , please try 0.12.6, I think this issue has been fixed.

[2022-10-25 04:37] #2227 closed

[2022-10-25 05:39] Alexbits commented on #2307
Hey @ElderJames, we don't. I will look into this.

[2022-10-25 05:51] ElderJames commented on #2270
I looked at it and it looks like it's on `_preventRender = true;`

https://github.com/ant-design-blazor/ant-design-blazor/pull/1960/files#diff-a4289b47a5727625803c8c0ab542be2265a4df40550c724a049bae5d66311856R89

[2022-10-25 08:34] Abin-Liu opened #2836 "Table: Column header alignment mess-up with filters"
### Describe the bug

Column header alignment not working if the **Filterable** property is set to true, the header text will be aligned to left side regardless of its Align property.

### Steps to reproduce (please include code)
**BEFORE**: column header is aligned to center, as expected

`<Column @bind-Field="@context.UpdateBy" Align="@ColumnAlign.Center" />`

![before](https://user-images.githu

[2022-10-25 08:55] towerbit opened #2837 "Table OnExpand failed when the "+" button click at first time, if the "TItem" is not base on "class" but "record""
### Describe the bug

Table OnExpand failed when the "+" button click at first time, if the "TItem" is not base on "class" but "record"
当TItem定义为record而不是class时，首次点击”+“按钮展开嵌套表格会失败

### Steps to reproduce (please include code)
Notic, "Data" is define as record, not class , then click "+" button to expand the embeded sub table, you will see the loading animation and the sub table auto disappeared af

[2022-10-25 08:57] towerbit commented on #2773
Great job, thanks a lot.

[2022-10-26 05:10] ElderJames commented on #2763
Hi @Magehernan , I'm working on this part of the code. Could you please provide a reproducible demo for me to test?

[2022-10-26 06:12] ElderJames commented on #2565
Thanks for contacting us @thomas-biacsics .

I can't reproduce this problem right now. Please upgrade to 0.12.6 and provide a reproducible demo if you still have problems.

[2022-10-26 14:44] ElderJames commented on #2300
Hi @klemmchr , this issue have been fixed in #2838 . Please wait for 0.13.0, thank you.

[2022-10-26 15:00] #2111 closed

[2022-10-26 23:08] Magehernan commented on #2763
Hi @ElderJames i am sick, i will make a example when i fill better, maybe tomorrow or friday.

[2022-10-26 23:57] ElderJames commented on #2763
Sorry, get well soon!

[2022-10-27 00:55] kooliokey commented on #2832
If anyone wants to see my idea so far on this, I have a branch going in my fork. I ran into a snag on generating the "Overview" page in the components section though because currently it is generated the same a code components but there is no code to use for the documentation.

https://github.com/kooliokey/ant-design-blazor/tree/feature/documentation-automation

[2022-10-27 03:35] #2080 closed

[2022-10-27 03:36] ElderJames commented on #2318
Please try another browser

[2022-10-27 11:16] #986 closed

[2022-10-27 11:27] ElderJames commented on #1022
fixed in #2838 .

[2022-10-27 11:27] #1022 closed

[2022-10-27 11:35] charleypeng commented on #2828
ok   i did one and i will upload later

[2022-10-27 11:43] #1455 closed

[2022-10-27 11:50] ElderJames commented on #1141
fixed in #1710

[2022-10-27 11:50] #1141 closed

[2022-10-27 12:28] PCichigo opened #2841 "Found two bugs with Datepick when typing"
### Describe the bug

Hi, there : )

I just found two bugs with Datepick from recent version, I will separate these two bugs as case A and case B below.

=== CASE A

This bug only occurred typing date in Datepick input.
For example, start by typing "2022-10-27" in a simple Datepick input box, and then click some where else or using Tab button to make it lose focus (so user can fill the other input

[2022-10-27 15:46] ElderJames commented on #2841
Thanks for contacting us @PCichigo , If @Alexbits has time, maybe he can help to look into the issue.

[2022-10-27 18:39] Alexbits commented on #2841
Hey @PCichigo. Thank you for submitting the issue.

Case A is by design. Please check the original [ant.design](https://ant.design/components/date-picker/) behavior as a reference. You should press Enter key to confirm your input.

Case B looks like a bug. I will check it.

[2022-10-28 01:47] PCichigo commented on #2841
Aw, kinda sad for Case A. The behavior in Case A just happen on recently version, it's working fine with Tab and losing focus on version 0.12.4. Guess the user have to adjust their behavior then.

But anyway, thank for your great works!

[2022-10-28 02:16] kooliokey commented on #2841
@Alexbits I've noticed the same thing with the tab not committing the typed date and referred to Ant Design's demos and it works there by hitting tab. Clicking out does not commit though so that part is the same. Can tab be added?

[2022-10-28 03:31] #1429 closed

[2022-10-28 03:39] #1259 closed

[2022-10-28 03:52] ElderJames commented on #1589
Hi @Alexbits , could we support that?

[2022-10-28 03:53] #1551 closed

[2022-10-28 04:09] ElderJames commented on #1548
Have been fixed in currently version.

[2022-10-28 04:18] ElderJames commented on #2832
Hi @kooliokey , I've taken a look at your branch, and I think it's great.

But I don't think the component introduction is very elegant, and too much of it will lead to html. This part of the advice is again taken from the markdown file, and only properties and methods are generated through comments. In addition, you need to consider how Chinese is generated. Use the open translation api or someth

[2022-10-28 04:20] ElderJames commented on #2800
Fixed in #2809

[2022-10-28 04:20] #2800 closed

[2022-10-28 04:22] ElderJames commented on #2768
Hi @chenajiong , could you please provide a reproducible code?

[2022-10-28 04:23] ElderJames commented on #2766
`Precision` added in #2774

[2022-10-28 04:23] #2766 closed

[2022-10-28 04:30] ElderJames commented on #2638
Just add the attribute for now, please try:

[code]

[2022-10-28 04:44] zxyao145 commented on #2684
@DiberySky
Hi, What do you need this parameter for?
If the `modalstatus` is exposed as a paramter, the status of the Modal will be confused:
If the `modalstatus` is set to ModalStatus.Max in the Modal, the parent component still is ModalStatus.Default, and re-render at this time, then the `modalstatus` will be reset to ModalStatus.Default, this is not as expected.

[2022-10-28 05:06] #2533 closed

[2022-10-28 05:10] ElderJames opened #2843 "slider"

[2022-10-28 05:11] #2843 closed

[2022-10-28 05:24] ElderJames commented on #1474
fixed.

[2022-10-28 05:24] #1474 closed

[2022-10-28 05:26] #1548 closed

[2022-10-28 05:28] #1702 closed

[2022-10-28 05:42] ElderJames commented on #2785
duplicated with #1696

[2022-10-28 05:49] ElderJames commented on #2372
Hey @ldsenow , could you please to create a PR?

[2022-10-28 05:53] ElderJames commented on #2518
fixed in #2738

[2022-10-28 05:53] #2518 closed

[2022-10-28 05:55] #2794 closed

[2022-10-28 06:01] ElderJames commented on #2325
Hi @MaggiGorengAyam , sorry for reply late. please check if we have fixed this issue in #2275

[2022-10-28 06:02] ElderJames commented on #2339
duplicated with #2335

[2022-10-28 06:07] ElderJames commented on #2334
@adrianth Please check again.

[2022-10-28 06:09] ElderJames commented on #2832
Also would fixed #2421

[2022-10-28 06:11] ElderJames commented on #2432
Fixed in #2797

[2022-10-28 06:18] Alexbits commented on #2841
Hi @kooliokey. The Tab key support can be added. Thanks for noticing it.

[2022-10-28 06:20] ElderJames commented on #1965
Hi @ardia , @lukblazewicz ,please try the latest 0.12.6 version.

[2022-10-28 06:26] Alexbits commented on #1589
Hey @ElderJames. Probably. I have to look into this. Also, it would be nice to have DateTimeOffset support and proper time zone handling.

[2022-10-28 06:28] ldsenow commented on #2372
Sure, i will try my best to work on it during weekend.

[2022-10-28 11:29] ElderJames commented on #1589
Strongly agree.

[2022-10-28 15:30] Magehernan commented on #2763
Hi @ElderJames i leave you a minimal code, paste it on any page and when you input a invalid number it will show it on the field, and when you put a valid number again y will stay in invalid state, when i look at it i found that the setter of CurrentValueAsString is generating the errors for the form and because it is called after the value change it is not excecuted and the erros stays. Hope it h

[2022-10-28 22:18] ldsenow commented on #2372
PR has been created, please review it when you have time and let me know if there is anything is missing.

[2022-10-28 22:53] kooliokey commented on #2832
@ElderJames Glad you like where it is going! I was trying to get all the documentation in code so you get the benefit of it showing in VS Intellisense as well as the site. I haven't dug into ways to format it much yet, but if it sticks to paragraphs and lists that can all be done with XML elements in the summary. We could move back to using Markdown for the descriptions if wanted, but we loose the

[2022-10-29 08:15] ElderJames commented on #2763
Sorry, I have no idea. What is the error means?

![image](https://user-images.githubusercontent.com/7550366/198821295-00bfd675-3874-475b-a455-bac66a82056d.png)

[2022-10-29 17:36] Magehernan commented on #2763
ohh sorry i use my project and the error is for validation error, so in my case i type a invalid number and it change to red and appear the invalid text error and when i update de value for a valid number it continue showing error.
I run it again on the docs page and you need click outside of the input and the error appear, it not change when you type only when you click outside.
And the only way

[2022-10-29 23:48] ElderJames commented on #2763
OK，I git It. I will take a look.

[2022-10-31 14:55] orhanmaden commented on #2492
Same issue here. Tried the same and got the same result.

[2022-11-01 04:14] #2841 closed

[2022-11-01 10:12] HuaFangYun opened #2848 "Tree Bug"
![07262a295e8779fd3d664d8305ca074](https://user-images.githubusercontent.com/30250585/199210552-562c4226-db54-42dc-8f53-1bd1667122d2.jpg)
tree The click event selection effect is not in effect.

[2022-11-01 10:44] GlodenBoy opened #2849 "RangePicker cannot display drop-down boxes in blazor hyBird mode"
[WpfApp3.zip](https://github.com/ant-design-blazor/ant-design-blazor/files/9909089/WpfApp3.zip)

In this wpf demo example, I have a page that contains the Steps component and defines datepick, but I can't open the drop-down box when I click it for the first time, and it's normal that it's not placed in steps.

Please help to see what causes this

[2022-11-01 22:41] michaelcsikos opened #2851 "URGENT: DatePicker day of week off by one"
Version 0.12.6

![image](https://user-images.githubusercontent.com/21806535/199355370-b530e5c6-76c5-4898-9ae8-af11be743cd7.png)

How can I fix this?

[2022-11-01 23:34] ElderJames commented on #2851
Oh,we noticed this issue in #2845  @michaelcsikos , did you change the `Locale` parameter? we will fix this ASAP.

[2022-11-02 00:11] michaelcsikos commented on #2851
Hi @ElderJames I haven't changed the `Locale`. On my system it is `en-AU`.

[2022-11-02 01:03] michaelcsikos commented on #2851
`Thread.CurrentThread.CurrentCulture.DateTimeFormat.FirstDayOfWeek == DayOfWeek.Monday`

[2022-11-02 04:03] ElderJames commented on #2851
Hi @michaelcsikos , for workaround, please put following code in Program.cs or Startup.cs of your blazor host:

[code]

And we will fix these issue for next release.

[2022-11-02 04:13] ElderJames commented on #2851
Or you can use a exist Locale:

[code]

[2022-11-02 09:07] shuaqq2004 opened #2852 "全局自定义FormValidateErrorMessages无效"
根据文档：
![image](https://user-images.githubusercontent.com/3870105/199448818-e6b26cc9-b58a-430a-b009-6880841dd5a6.png)

[code]

没有任何作用。

[2022-11-03 06:15] vietanhbui opened #2853 "Can not using example Table"
I create new empty project and Import Ant Design Blazor into project.
Try example table and got error:
![image](https://user-images.githubusercontent.com/43196820/199657706-5c9f9822-a426-4f86-be15-94dbed116716.png)
But try another example, has not error:
![image](https://user-images.githubusercontent.com/43196820/199657853-1e72aba7-18ee-4d87-81fd-aa33b5d53386.png)

[2022-11-03 06:16] vietanhbui commented on #2853
Blazor properties:
![image](https://user-images.githubusercontent.com/43196820/199657923-93471e10-4ed2-4dc6-864e-7d7949a331cc.png)

[2022-11-03 07:02] ElderJames commented on #2853
Hi @vietanhbui ,  our document site is .NET 6

.NET 6
`<ProperyColumn Property="c=>c.Name" />`

.NET 5:
`<ProperyColumn TItem="Data" Property="c=>c.Name" />`

[2022-11-03 07:47] vietanhbui commented on #2853
Has document site for .NET 5? Tks

[2022-11-03 08:10] ElderJames commented on #2853
Sorry not, but most of our features are compatible .NET Core 3.1 ~ 6.0 , otherwise we would have made it clear which features are only available on .NET5 or  .NET6

[2022-11-04 05:46] yosheng opened #2857 "OnCompleted of upload with InternalServerError couldn't get reponse body"
### Describe the bug
unable to get error response from Status500InternalServerError

### Steps to reproduce (please include code)
here is my code

In controller
[code]

my razor page
[code]
![image](https://user-images.githubusercontent.com/15070744/199899043-12f1008c-669c-401f-bf92-106665db5f89.png)

my reponse like the picture
![image](https://user-images.githubusercontent.com/15070744/199899185

[2022-11-04 05:46] #2851 closed

[2022-11-04 06:12] ElderJames commented on #2857
Thanks for report that @yosheng , maybe we need to add OnError event for fail request. Are you interested?

[2022-11-04 06:21] yosheng commented on #2857
@ElderJames thanks for your reply, I'm razor newbiee. I don't know how to add add OnError event for fail request. I try to read the code, but still couldn't find the problem. 😥 I couldn't find where is the successful request get raw reponse. Can you tell me?

[2022-11-04 06:30] ElderJames commented on #2857
I think the key issue is at  [this line](https://github.com/ant-design-blazor/ant-design-blazor/blob/master/components/core/JsInterop/modules/components/uploadHelper.ts#L75). Please help us to fix it like this.

And help us to test it.

[code]

[2022-11-04 09:56] #2857 closed

[2022-11-04 09:56] ElderJames commented on #2853
Hey @vietanhbui , have you solve this issue?

[2022-11-05 01:43] berkerdong opened #2860 "ReuseTabs Switching tabs when the base url is not the default / causes url errors"
During the use of the ReuseTabs component, if the base href of the project is not specified by the default  / , after opening the tab page, it will cause url errors when switching between each other

ReuseTabs组件在使用过程中，如果默认/没有指定项目的base href，打开标签页后，相互切换会导致url错误
![image](https://user-images.githubusercontent.com/36178221/200093040-59f04b90-0fbf-4525-b8ea-135659a6476d.png)

When the project goes onlin

[2022-11-05 17:51] AndrewKaninchen commented on #643
The example code on the website doesn't implement the _dropping_ part of the feature. And, as far as I understand, the event doesn't seem to have information on whether the drop target should be a sibling or the parent of the dragged node. How is this supposed to be used?

[2022-11-06 05:21] ElderJames commented on #643
Hello, thank you for your advice. I thought it best to open a new issue to track this feature. If you're interested, you're more than welcome to help us add this feature.

[2022-11-06 15:55] AndrewKaninchen opened #2863 "[Tree] Drag and Drop functionality doesn't expose whether the target node is supposed to be the parent or sibling of dropped node"
Drag and Drop functionality doesn't expose whether the target node is supposed to be the parent or sibling of the dropped node. This is needed for manipulating data sources.

[2022-11-06 15:57] AndrewKaninchen commented on #643
#2863 here it is. I'll submit a pull request that _should_ solve the problem in the simplest way possible, but I haven't been able to test it.

[2022-11-07 11:52] GodEmperorOfTime opened #2865 "DatePicker: day of week shifted by one"
Day of week is still shifted by one day in DatePicker :(

AntDesign **0.12.7**, locale: cs-CZ (czech)

![obrazek](https://user-images.githubusercontent.com/113351054/200301258-1165ae56-2fd9-4153-a6a5-98d71370574c.png)

Demo project: https://github.com/GodEmperorOfTime/DatePickerIssue

[2022-11-07 15:43] ElderJames commented on #2865
Sorry, we will release the new version in the next few days. Until then, use the following way to workaround:

[code]

[2022-11-07 16:43] GodEmperorOfTime commented on #2865
Ok, thanks for prompt response!

[2022-11-08 01:00] weiai-weiai opened #2867 "网页文档中的输入框属性：bind-Value 缺少说明"
输入框中的 bind-Value 缺少说明 我在使用该库的时候 使用了输入框，但是我并没有发现“API”中有 bind-Value 的相关说明。

我最后从示例代码中找到了该属性，希望能在网页文档中增加该属性的说明

[2022-11-08 02:45] #2865 closed

[2022-11-08 04:50] #2863 closed

[2022-11-08 11:26] Kistelekig98 opened #2868 "Segmented component binding error"
### Describe the bug

The initial value is not correct when binding a Segmented\<bool\> component.

### Steps to reproduce (please include code)
Here is my simple [Github repo](https://github.com/Kistelekig98/BlazorApp1)
You can launch the app and click "Segmented test" menu item.

So I have a Person class:
[code]
SegmentedTest.razor.cs:
[code]
SegmentedTest.razor:
[code]

When I open the Segmente

[2022-11-09 04:09] ElderJames commented on #2868
Thanks for contacting us @Kistelekig98 , we will fix this in next release.

Please try following code for workaround (to specific `TValue="bool?"` ):

[code]

[2022-11-09 05:25] ldsenow opened #2870 "Ant Design v5 preparation"
Hi guys,

Are we looking into the upcoming AntD v5 for Blazor?

https://github.com/ant-design/ant-design/issues/33862

It is dropping the less and use css-in-js. It is better for MFE.

[2022-11-09 05:29] ElderJames commented on #2870
Yes, we need to follow up antd 5.0 after the AntDesign Blazor 1.0 release later this year.

But we need to implement css in c# first, do you have any ideas?

[2022-11-09 06:55] ldsenow commented on #2870
I may have some ideas to do the similar thing without css in C#. Let me give it a go and share the repo for you guys to review.

[2022-11-09 07:18] ElderJames commented on #2870
Great, we can implement the [FloatButton](https://next.ant.design/components/float-button/) as a test.

[2022-11-09 07:21] SoaSoftNet opened #2871 "Table ActionColumn Hidden Bug"
![image](https://user-images.githubusercontent.com/30250585/200764616-e00077ca-e7c5-47e1-ae0b-8ea004483aed.png)
Table ActionColumn Hidden Failure

[2022-11-09 09:38] Kistelekig98 commented on #2868
Yes it solves but I must change the Person's properties to "bool?" type as well.

[2022-11-09 09:39] ElderJames commented on #2868
Yes, I have created a PR to fix this.

[2022-11-09 09:40] #2868 closed

[2022-11-09 15:30] ldsenow commented on #2870
Somehow the website's FloatButton is broken, so I just created a simple repo (https://github.com/ldsenow/BlazorCssIsolation) with a Button component to demonstrate the potential capabilities.

It is a .net 7 solution but I think it can be run under .net 6.

[2022-11-11 02:31] ElderJames commented on #2870
Look good to me. But it looks like we need a lot of work to synchronize style from design tokens. What do you think?

[2022-11-11 03:20] ldsenow commented on #2870
I will try to see if I can extract from somewhere else and turn that into our css assets somehow. Fingers crossed.

While I'm looking into AntD react's repo, I really love these comments. Designers are respected, haha.
![image](https://user-images.githubusercontent.com/177045/201255236-c27298d9-6418-4929-a017-cf705800b8fe.png)

[2022-11-11 03:37] ElderJames commented on #2870
😂 Maybe we can use some tool for converting ts to c#

https://github.com/mono/TsToCSharp
https://github.com/hez2010/TypedocConverter

[2022-11-11 04:14] ldsenow commented on #2870
I guess we can create a project which uses the antd react's npm pkg to export something like e.g. a json file, a css/less file etc., somehow, the blazor end can use it.

[2022-11-11 04:19] ElderJames commented on #2870
Yes, we can use Github Actions to synchronize. Look forward to your good news!

[2022-11-11 10:20] ElderJames commented on #2832
Hey @kooliokey , how is it going on?

[2022-11-12 14:22] Velociraptor45 commented on #2664
Hey there, sorry for the late reply. Using `@key` actually works quite well. Thanks!

[2022-11-12 14:22] #2664 closed

[2022-11-12 18:05] kooliokey commented on #2832
@ElderJames I haven't had much time recently to work on it and I have to send my laptop in for repair so I won't be able to do more until I get that back. I haven't dug much into the translation part yet. Still working on getting the documentation to match the existing as close as I can. I have it combining components onto a single page (like Form and FormItem) but have to make it do it for all of

[2022-11-13 06:37] ElderJames commented on #2832
Ok, that's fine. Let's see how we could continue this work.

[2022-11-13 18:22] kooliokey commented on #2832
I was thinking of adding a custom XML element for use in the documentation comments for linking a markdown file for the site since you mentioned wanting to keep that way available? The Microsoft documentation says it is acceptable to make your own. I figured something like `<documentation file="/path/to/file.md" />`

[2022-11-14 02:31] MiJiuYang opened #2878 "Default value error after TreeSelect component selection"

[2022-11-15 08:48] SoaSoftNet opened #2881 "About Modal Bug"
![8fc58454a10da0d3fe1325b6abaeda2](https://user-images.githubusercontent.com/30250585/201871411-06e9dd3c-afe7-46ea-a2b6-30ab6b58cc2f.png)
When Modal is put  ```</PageContainer>```  behind, an exception is reported. Put to  ```</ChildContent>```
```</PageContainer>```  Inside, normal

[2022-11-16 00:14] #2717 closed

[2022-11-16 00:15] #1598 closed

[2022-11-16 01:52] ZhiMaYiLian opened #2882 "Is it currently supported NET 7.0, or whether there is plan support NET 7.0"
Is it currently supported NET 7.0, or whether there is plan support NET 7.0

[2022-11-16 03:12] SoaSoftNet commented on #1599
![image](https://user-images.githubusercontent.com/30250585/202074555-8b516009-a354-45e8-8999-c210871032b7.png)

[2022-11-16 04:13] zxyao145 commented on #2881
@SoaSoftNet
Hi, where is `</PageContainer>` is defined?

[2022-11-16 04:50] SoaSoftNet commented on #2881
![image](https://user-images.githubusercontent.com/30250585/202086614-42eeaf1d-3c54-4a90-be80-1720f2b72565.png)

[2022-11-16 05:10] SoaSoftNet commented on #2881
![image](https://user-images.githubusercontent.com/30250585/202089064-98c24570-8187-45c9-9b9c-0cc0d9f59b57.png)

[2022-11-16 05:28] zxyao145 commented on #2881
@SoaSoftNet Is `</PageContainer>` a component defined by yourself? This component does not exist in ant-design-blazor

[2022-11-16 08:01] takorn47 opened #2884 "Website error culture"
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/117840045/202119806-7d7f979c-92a1-4f62-a85a-fa3e36e2aa49.png)

When i enter website to read document ant component, loading will freeze at 100%
my browser language is Thai language

when i change browser to English language it work correctly.

[2022-11-16 08:06] takorn47 commented on #2884
Thank you.

[2022-11-16 08:06] #2884 closed

[2022-11-16 08:22] SoaSoftNet commented on #2881
把modal 放到 最外层。使用没有问题，切换页面时报错。可以按这个逻辑测试下

[2022-11-16 08:23] ElderJames commented on #2881
@zxyao145 It is in pro layout.

[2022-11-16 09:10] fuji97 opened #2885 "The docs website crashes with unsupported application's culture when using italian as locale language"
### Describe the bug

I got a System.AggregateException - Blazor detected a change in the application's culture that is not supported with the current project configuration, when trying to open the website. I think it is caused by just having a locale different from english (I have italian)

### Steps to reproduce (please include code)
- Open https://antblazor.com/en-US/components/overview with it

[2022-11-16 09:38] ElderJames commented on #2885
Hello @fuji97 , please try the [preview page in the fix PR](https://github.com/ant-design-blazor/ant-design-blazor/pull/2886#issuecomment-1316667788). I have try it in my browser with Italian ant it works well in en-US .

[2022-11-16 09:39] ElderJames commented on #2884
Hello @takorn47 , please try the [preview page in the fix PR](https://github.com/ant-design-blazor/ant-design-blazor/pull/2886#issuecomment-1316667788). I have try it in my browser with Thai ant it would turn to en-US correctly.

[2022-11-16 09:44] #2885 closed

[2022-11-16 09:49] ElderJames commented on #2882
Hi @ZhiMaYiLian , we have been support .NET 7 and will be shipped in 0.13.0

[2022-11-16 12:07] Alexander3 commented on #945
This is still a problem, why this issue is closed? I guess we should continue discussion here: https://github.com/ant-design/ant-design/issues/27984

[2022-11-16 12:50] zxyao145 commented on #2881
@SoaSoftNet

Sorry, the problem cannot be reproduced. Here is my test code, and can you provide a demo?
抱歉，问题不能复现。下面是我的测试代码，你能提供一个demo吗？

[code]

[2022-11-16 12:50] ElderJames commented on #2878
Thanks for contacting us @MiJiuYang , please provide a demo for explain this issue.

[2022-11-16 15:34] Alexbits commented on #945
@ElderJames @Alexander3 From what I see, the `DatePickerType.Quarter` looks good in the latest version. The `DatePickerType.Week` is not showing the selected range. Correct me if I'm wrong.

[2022-11-17 01:11] MiJiuYang commented on #2878
https://ant-design-blazor.gitee.io/zh-CN/components/treeselect

[2022-11-17 01:15] MiJiuYang commented on #2878
In the official example [basic/基本]，Change the default selection of "leaf3" to "leaf1". Click the drop-down box to display "leaf3" again

[2022-11-17 01:17] MiJiuYang commented on #2878
![image](https://user-images.githubusercontent.com/24215871/202330198-a5eb1e87-1df7-4743-8274-6a5af5b05582.png)

[2022-11-17 01:18] MiJiuYang commented on #2878
@ElderJames

[2022-11-17 08:24] SoaSoftNet commented on #2881
我重新创建一个项目后，是正常的。这样我再找下问题，给您反馈。谢谢

[2022-11-17 08:46] SoaSoftNet opened #2887 "Abount Input ReadOnly Bug?"
![image](https://user-images.githubusercontent.com/30250585/202398756-37549dba-53d7-464a-a3b3-dd7a07affd1a.png)
When the input readonly belongs to, then use the select onchange method to modify the variable value in the background and display. When you click input again, the input value is emptied

[2022-11-17 08:47] SoaSoftNet commented on #2887
<Input @bind-Value="@context.GlueBrand" Disabled />   normal

[2022-11-17 11:57] zxyao145 commented on #2881
OK，有问题再沟通

[2022-11-18 07:52] ElderJames commented on #2870
Hi @ldsenow , antd 5.0 have been GA. Do you think we can follow them?

[2022-11-18 09:59] ldsenow commented on #2870
Have been busy last week at work. The react version use React hook context to inject the tokens. I can't find a better way other than using react testing lib to simulate react's environment. BTW, do we need just need the tokens or we also need the values? I guess we want to derive the values based on a primary, right?

[2022-11-18 10:26] ElderJames commented on #2870
I think we need the token and algorithm.

[2022-11-18 19:57] jorislops opened #2888 "Deserialize QueryModel (table) Problem"
### Describe the bug

It's not possible to deserialize the QueryModel or QueryModel<T>. Deserialize is a problem because of interface usage (See exception below). This is problematic because I try to send the QueryModel to the backend (asp.net core and deserialize the object), but the back-end is not able to deserialize the object. The code below is what happens when I do serialization/deserializa

[2022-11-20 07:58] ElderJames commented on #2888
Hello @jorislops , we need to add two JsonConverters for QueryModel Deserialization.

please see https://antblazor.com/en-US/components/table#components-table-demo-restore-query-state

[code]

[2022-11-20 09:18] jorislops commented on #2888
Hi @ElderJames, Tank's for the quick reply and it works 👍.
I missed this is the documentation (I looked at different examples).

[2022-11-20 09:18] #2888 closed

[2022-11-20 18:02] Alexbits commented on #945
@ElderJames @Alexander3 #2892  adds range visualization to the `DatePickerType.Week`. It makes the week picker more consistent with other pickers in terms of how the selected range looks. But it has its downsides, too (see screenshots).

<img width="418" alt="image" src="https://user-images.githubusercontent.com/3949302/202917791-7e374a70-5c6e-4f39-8526-0edbe301e5e6.png">

As a downside, selecting

[2022-11-21 00:28] ldsenow commented on #2870
I was looking at the algorithm over the weekend. I can help with that. I guess we dont want to introduce the whole tinycolor right? Re: tokens, i cant find an easy to extract them other than using a converter. I am worried about the maintenance going forward.

[2022-11-21 01:21] ldsenow commented on #2870
Just to share this repo, it inspires me while I'm looking for the solution under the existing blazor Infrastructure.

https://github.com/vanilla-extract-css/vanilla-extract

[2022-11-21 02:06] SoaSoftNet opened #2893 "Table SummaryRow SummaryCell ColSpan Bug?"
![b6cfcb7611ca6132e8904d573b67059](https://user-images.githubusercontent.com/30250585/202945163-33d69907-3b31-4af3-a2bd-c6875c4a5012.png)
![7804533348979aef1432609dd98258f](https://user-images.githubusercontent.com/30250585/202945182-934cfa5b-1fb8-4247-bea9-347b738ce779.png)
the table is displayed out of order.

The following is written normally.
![c2b7db245b4d9015352d3fe4f9e471a](https://user-ima

[2022-11-21 02:14] ElderJames commented on #2870
Yes, we should use converter and shell scripts to synchronize the tokens, instead of manual maintenance.

I have written part of the code of the color palette in feat/color branch before, but some color conversion parts were not implemented, and the test results were wrong. Help is needed for this work.

[2022-11-21 11:10] manuelelucchi opened #2895 "Autocomplete search in Layout opens and closes when I navigate between routes"
### Describe the bug

I have an AutoComplete structured as follows
[code]
It's placed on a Layout on the top of the page, while the content switches with the routes (Menu). Since .NET 7 update, with the last Ant version, the automcomplete opens and closes each time I change route

### Steps to reproduce (please include code)

It should be reproducible with an autocomplete as above placed in a Layo

[2022-11-21 13:55] jerpic opened #2896 "Tree drag and drop"
Hello,

I have tested the Tree component, I'm very interested by the drag and drop feature. Unfortunately, with the sample (present in the documentation), when I trey to drag and drop a node nothing append. Maybe I have to code something in this method?

protected void OnDrop(TreeEventArgs<MyObject> dropItem)

Thanks for your help.

Jérôme.

[2022-11-21 15:13] Stardusstt opened #2897 "How to open Drawer on clicked Table with onRow method?"
I am new to blazor, I trying to open the drawer when clicked row.

Though the button can work correctly,
when use onRow method, Console.WriteLine and open() work ,but drawer isn’t open.

https://i.imgur.com/eM4l3pA.mp4

[code]

[2022-11-22 22:24] ldsenow commented on #2870
I am able to extract the base tokens from ts and having a bit of difficulties with getting component tokens. However, i think it is good enough to start applying the algorithms.  I have updated the repo with the token extraction, please have a look if this helps. https://github.com/ldsenow/BlazorCssIsolation

[2022-11-23 05:00] ElderJames commented on #2870
This work has made great progress, it helps a lot! Look forward to it being applied to components!

[2022-11-23 11:38] SoaSoftNet opened #2900 "Table Tree Bug"
![071b94df27397db19faf3faf71156e7](https://user-images.githubusercontent.com/30250585/203537338-d4fde12a-7792-45e2-8e37-7873ca2d0257.png)

In a Table Tree application, OnChange has an infinite loop. Loading data repeatedly

[2022-11-24 02:32] ltstudio168 opened #2901 "DatePicker verification Bug"
![I8Q${$H9UK9UKF0{TUH@EN0](https://user-images.githubusercontent.com/80744493/203681011-4bff576c-7aaa-4b78-92a6-b732e53f373e.png)
日期控件开启验证，选中值后报错

[2022-11-25 02:21] ElderJames commented on #2897
Hi @Stardusstt , please try to invoke `StateHasChanged()` in open method.

[code]

[2022-11-25 09:29] ElderJames commented on #2893
Hi @SoaSoftNet , please post your code here.

[2022-11-25 16:06] mkalinski93 commented on #1697
I was looking for something different, then I came upon your Issue.

I think you are looking for an answer anymore, but here you go: https://antblazor.com/en-US/components/select#components-select-demo-big-data

You can enable virtualization by now.
Probably this can be closed

[2022-11-25 16:18] mkalinski93 opened #2903 "Selector - Bottom reached event"
### Is your feature request related to a problem? Please describe.
No.

### Describe the solution you'd like
An event to get to know if the Select popup scroll container reaches its bottom
< Select OnBottomReached="YourMethod" />

### Additional context
We have to deal with a lot of data and before fetching them all into the Select component, we can just give the user a bunch of data. Whenever the

[2022-11-25 17:39] Stardusstt commented on #2897
It works！ Thank you!

[2022-11-25 17:39] #2897 closed

[2022-11-25 20:40] mkalinski93 commented on #2641
I´ve looked into #2730, but if I was checking it correctly, then there´s not .less file on my end.

looked into bin, obj & wwwroot folder to find it somewhere, but no luck. The only path I can find it is the nuget folder.

[2022-11-26 01:37] SoaSoftNet commented on #2900
demo code  https://github.com/SoaSoftNet/AntBlazor013Bug

[2022-11-26 01:37] SoaSoftNet commented on #2893
demo code https://github.com/SoaSoftNet/AntBlazor013Bug

[2022-11-26 01:38] SoaSoftNet commented on #2887
demo code

[2022-11-26 03:51] wangj90 opened #2904 "Table in the simultaneous use of PageSize, HidePagination, OnChange when the page will appear to be stuck in a dead loop"
### Describe the bug

Table in the simultaneous use of PageSize, HidePagination, OnChange when the page will appear to be stuck in a dead loop

### Steps to reproduce (please include code)

![image](https://user-images.githubusercontent.com/25636510/204071731-804d0442-c528-49df-8a5c-c5f95b19703e.png)

See attachment below

### Exceptions (if any)

### Further technical details
- AntDesign Nuget Pa

[2022-11-26 13:09] true-perfect-code commented on #2641
What I don't understand is that nobody wants to change the default **blue** color of the ANT components in their own projects?

[2022-11-26 13:31] Postlagerkarte commented on #2641
Think you are mistaken - everyone wants that 😄  Howerver, V5 no longer uses less but css-in-js. Thus, I expect this will be the way forward. Awesome guidelines on themes with V5 & React https://ant.design/docs/react/customize-theme - Maybe @ElderJames can share a bit more information about what to expect on the Blazor side?

[2022-11-26 16:42] ElderJames commented on #2641
With v5, we are looking at how to achieve this completely subversive implementation #2870 .

Until 1.0 release, we still follow the 4.x styles. The best way to custom theme is build the style by your self. Or cover the global style.
Maybe I will try to write a tutorial on our documentation.

[2022-11-27 07:44] tht245806497 commented on #2904
I also found a small problem about the HidePageination feature.
When using the OnInitializedAsync to load data asynchronously,  an explicit call StateHasChanged is required. Otherwise, no data will be displayed.

[2022-11-27 07:51] tht245806497 commented on #2904
It seems that PageSize is not automatically updated.
If explicitly specify "PageSize=@dsList.Count“, StateHasChanged is not required.

[2022-11-28 04:04] ldsenow commented on #2904
Same here. Hopefully it is fixed soon.

[2022-11-28 04:07] ElderJames commented on #2904
@ldsenow I have fixed it in #2905

[2022-11-28 04:08] #2900 closed

[2022-11-28 04:08] #2904 closed

[2022-11-28 05:10] ldsenow commented on #2870
Just to give an update. I spent not much over the weekend due to the World Cup, but i did have some progress on this and hope to ship something out for early review before i may go down to a wrong path.

[2022-11-28 05:41] ElderJames commented on #2870
Great, and I'm looking forward to seeing the implementation soon, so we can move to antd5 and have a lot of the topic issues resolved.

[2022-11-28 07:55] SoaSoftNet opened #2908 "Descriptions Responsive Invalid"
<Descriptions Title="Responsive Descriptions" Bordered Column="@column">
    <DescriptionsItem Title="Product">
        Cloud Database
    </DescriptionsItem>
    <DescriptionsItem Title="Billing">Prepaid</DescriptionsItem>
    <DescriptionsItem Title="time">18:00:00</DescriptionsItem>
    <DescriptionsItem Title="Amount">$80.00</DescriptionsItem>
    <DescriptionsItem Title="Discount">$20.00</Des

[2022-11-28 08:11] mkalinski93 commented on #2896
Hey @jerpic,

I came to the same problem, but I´ve tested a few things and 1 way it could work is the sample below

[code]

You have to manipulate the datasource after the onDrop event.
This method removes the current node from its parent and inserts the node object into the targetnode

[2022-11-28 08:39] mkalinski93 commented on #2896
Okay,

there´re a few things to mention

 - 1: I am unable to drag a node to the root layer, I just can drop them into a node.
 - 2: Node.Remove() and Node.RemoveNode() doesn´t seem to have an effect on my end
 - 3: DropBelow is always true

This is my code

[code]

I´ve uploaded a video to show how it reacts.
https://user-images.githubusercontent.com/64005967/204231567-f6b4bc31-cc7d-4128-9f54-358

[2022-11-28 09:09] Breave-YY opened #2909 "DatePicker Can you add a default time for ShowTime?"
DatePicker Can you add a default time for ShowTime?

[2022-11-28 09:44] #2887 closed

[2022-11-28 09:45] ElderJames commented on #2909
Hello @Breave-YY , what do you mean, please?

[2022-11-28 09:46] ElderJames commented on #2896
Thank you @mkalinski93 , would you please help us to fix this issue in the component?

[2022-11-28 09:49] ElderJames commented on #2903
Thanks for contacting us @mkalinski93 , this is really a good proposal.
But we are not going to implement it soon at the moment, if you are interested, you are welcome to help us achieve it.

[2022-11-28 09:58] Breave-YY commented on #2909
It is to set the default time for hours, minutes and seconds. Now the default time is 00:00:00

[2022-11-28 10:05] mkalinski93 commented on #2903
sure, I will look into the files and see what I can do.
I´ll update this issue if I have some questions

[2022-11-28 11:44] mkalinski93 commented on #2641
I´ve changed the variables.less file in my .nuget folder

[code]

instead of blue-6, I changed it to red-6.
I´ve rebuilded, used nuget restore and uninstalled/reinstalled the nuget package, but I was not able to change the theme style to the red-6 color.

@ElderJames can you please give me a hint how to change the primary color?

Also, I´ve tried the AntBlazor.Pro Layout, but it seems that it also

[2022-11-28 12:09] wss-kroche opened #2910 "Table - Expandable & Summary together causes incorrect expandable column placement"
### Describe the bug

When a table has expandable rows and a summary, it puts the expandable column in the wrong spot.

![image](https://user-images.githubusercontent.com/118832550/204274264-d58100b2-2bf6-4aca-9f0e-73279b1ea6c4.png)

### Steps to reproduce (please include code)
Using the Basic demo from the docs as a basis, put the following table:

[code]

### Exceptions (if any)
None

### Furthe

[2022-11-28 12:34] wss-kroche commented on #2910
Update: I was able to find a workaround by not using the `SummaryCell` component. If I just use `td` it renders everything properly for me.

[2022-11-28 13:34] mkalinski93 opened #2911 "css classes gets appended twice"
### Describe the bug

Css classes will be appended twice if I use the "Class" property
<img width="971" alt="image" src="https://user-images.githubusercontent.com/64005967/204290330-c9d61eb9-3d19-448f-bbeb-73621f1678a6.png">
<img width="378" alt="image" src="https://user-images.githubusercontent.com/64005967/204290380-33059de5-3aed-445a-a203-89278cb57e0e.png">

### Steps to reproduce (please inclu

[2022-11-28 14:18] manuelelucchi opened #2912 "Wrong Input behaviour if paired with Select"
### Describe the bug

If I have a Select paired with an Input and I update the input with a different text with OnSelectionChanged and I click the input to get focus, the text is reset to the default one

### Steps to reproduce (please include code)

An Input with a Select with the previous described interaction should suffice

### Further technical details
This problem is not present in 0.12.7 wh

[2022-11-29 02:48] ElderJames commented on #2910
Thanks you @wss-kroche , it may duplicated with #2893 .

[2022-11-29 02:53] ElderJames commented on #2912
Thanks you for cantacting us @manuelelucchi , I have fix this issue in #2906 , I will ship it today.

[2022-11-29 03:43] ElderJames commented on #2912
@manuelelucchi Please update 0.13.1, thanks.

[2022-11-29 03:43] #2912 closed

[2022-11-29 06:30] manuelelucchi commented on #2912
Thank you, how fast!

[2022-11-29 08:08] wangj90 commented on #2904
This problem has not been solved yet.
when I upgraded to AntDesign 0.13.1, the above demo still did not solve the stuck problem when I ran it.

[2022-11-29 08:59] takorn47 opened #2914 "Tag Table HidePagination="true" first-time data do not render"
I Use table and set properties HidePagination="@true" when load DataSoure first-time not render and when clicking filter or sort at column table It will render data correctly.

[2022-11-29 09:28] ElderJames commented on #2914
Thanks for contacting us @takorn47 , please post your code here.

[2022-11-29 09:39] takorn47 commented on #2914
<Table TItem="Person"
               DataSource="@ListPersons"
               Bordered="@true"
               HidePagination="@true">
            <AntDesign.Column Title="ID" />
            <AntDesign.Column Title="FName" />
            <AntDesign.Column Title="LName" Filterable />
        </Table>

[2022-11-29 14:27] GlodenBoy opened #2915 "sentry.io a datepick error collected"
version: 0.13.0

I use sentry in the client to collect error logs and have recently received frequent errors for a date fetch component.

Steps to reproduce:
Click on the date display drop-down box and it will appear, strangely, I did not find an error in the console, but it was intercepted by sentry.

<img width="534" alt="6bdf72495ed9cc9be3b41a25c148423" src="https://user-images.githubuserconten

[2022-11-29 14:56] wss-kroche commented on #2910
@ElderJames Ah yes it definitely sounds related at least. I think even when I didn't use colspan, but used individual cells it still displayed out of order. I tried many combinations though so it may all be getting blurred together ha.

[2022-11-29 17:43] Stardusstt opened #2917 "CountDown - format has no effect when publish"
### Describe the bug

CountDown format has no effect when "publish" , but work correct in "start without debugging" and "start debugging".

"start without debugging" and "start debugging"
<img width="341" alt="image" src="https://user-images.githubusercontent.com/40061990/204601970-ac54b9f2-2f4c-4266-8aa5-6901a23c93c2.png">

"publish"
<img width="755" alt="image" src="https://user-images.githubuse

[2022-11-29 22:44] codeox-he opened #2918 "Tabs bug: In dynamic binding"
For example, I have a tabs:
[code]
[code]
And a Button:
[code]
When:
[code]
It is OK,no problem.
But when:
[code]
The page does not change.
And:
[code]
The page does not change too.
I try `StateHasChanged(); `But The same problem still exists.
Ask God for help!

[2022-11-30 02:11] #2293 closed

[2022-11-30 03:35] ElderJames commented on #2914
hello @takorn47 , I can't reproduce it.

[code]

[2022-11-30 04:05] ElderJames commented on #2882
0.13.0 is released. Thank you!

[2022-11-30 04:05] #2882 closed

[2022-11-30 16:32] Alexbits commented on #2915
@GlodenBoy Thanks. Fixed.